@font-face {
    font-family: "Acuminprowide_Sans";

    src: url(../fonts/Acuminprowide_Sans.otf) format("opentype");
}
@font-face {
  font-family: Adieu-Regular;

  src: url(../fonts/Adieu-Regular.ttf) format("truetype");
}
@font-face {
  font-family: AgenturDisplay;

  src: url(../fonts/AgenturDisplay.ttf) format("truetype");
}
* {
    box-sizing: border-box;
}
.skip-link
      {
        height: 1px;

        left: -999px;

        overflow: hidden;

 position: absolute;

        width: 1px; }
.skip-link:focus {
    height: auto;

    overflow: visible;

    top: 0;

    width: auto;
}
body,
html {
    background-color: whitesmoke;

    font-family: "Acuminprowide_Sans", sans-serif;

    height: 100%;

    margin: 0;

    padding: 0
}
a:hover {
    text-decoration: line-through;
}
img {
    box-shadow: 1px 1px 3px 1px rgb(15 15 15 / 61%);

    max-height: 100%;

    max-width: 100%;
}
#home-Link {
    background-color: whitesmoke;

    display: flex;

    margin-left: 55px;

    margin-top: 30px;

    position: fixed;

    top: 0;

    width: 275px;

    z-index: 300
}
a:hover { text-decoration: line-through; }
img {
    box-shadow: 1px 1px 3px 1px rgb(15 15 15 / 61%);

    max-height: 100%;

    max-width: 100%;
}
.navbar {
    align-items: center;

    background-color: whitesmoke;

    display: flex;

    height: 100px;

    justify-content: flex-end;

    left: 0;

    position: fixed;

    top: 0;

    width: 100%;

    z-index: 103;
}
.navbar-Group {
    display: flex;

    gap: 2em;

    justify-content: flex-end;

    padding-right: 180px;
}
.nav-Links {
    color: black;

    font-family: "Acuminprowide_Sans", sans-serif;

    padding: 25px;

    text-decoration: none;
}
#link-List { padding-left: 0;}
#link-List a {
    color: black;

    font-family: "Acuminprowide_Sans", sans-serif;

    font-size: 16px;

    line-height: 2em;

    padding: 12px 25px 4px 20px;

    position: relative;

    text-decoration: none;

}
#link-List a::after {
    background: black;

    content: '';

    height: 1.4px;

    left: -8px;
    /* Line color */
    opacity: 0;

    position: absolute;
    /* Extend line to the left */
    right: -8px;
    /* Extend line to the right */
    top: 60%;

    transition: opacity 0.5s;
}
#link-List a:hover {
    filter: drop-shadow(55px 38px 1px #000000);
    /* Add this for extended line-through effect */
    text-decoration: none;
    &:hover::after {
        opacity: 1;
    }
}
#link-List a:visited {
    color: black;
}
.row {
    /* packs items to the left */
    align-items: stretch;

    display: flex;

    flex-wrap: nowrap;

    gap: 1rem;
    /* Ensure items do not wrap */
    justify-content: start;

    margin-top: 180px;

    padding: 20px 40px;
}
.col-2,
.col-3
 {
    border: 1px solid black;

    min-height: 800px;
    /* Specify a width or flex-basis that fits within the container */
}
.col-1 {
    flex: 0 0 10%;

    position: fixed;
}
.col-2 {
    contain: layout;

    flex: 0 0 50%;

    margin-left: 160px;

    overflow: auto;

    padding: 20px;

    resize: both;
}
.col-3 {
    contain: layout;

    contain-intrinsic-size: auto;

    flex: 0 0 30%;

    overflow: auto;

    padding: 20px;

    resize: both;

    text-wrap: pretty;
}
.col-4 {
    flex: 0 0 10%;
}
#center {
    text-align: center;
}
p {
    line-height: 1.3em;

    margin-left: auto;

    margin-right: auto;

    padding: 20px;
}
.hr-container {
    display: flex;

    justify-content: flex-end; /* Aligns the child to the end */

    padding: 0;

    position: fixed;

    top: 100px;

    width: 100%; /* Full width of the container */

    z-index: 1000;
}
hr {
    background-color: black;

    border: none;

    height: 1px; /* the thickness of the line */

    margin: 0;

    width: 84%;/* Your desired width for the horizontal line *//* Removes default border *//* Color of the line *//* Removes default margin */
}
h1 {
    font-size: 30px;

    padding-bottom: 20px;

    padding-left: 10px;

    padding-top: 30px;
}
h2 {
    padding: 0;
}
h3 {
    padding-left: 0;

    padding-top: 20px;
}
h4 {
    padding: 0;
}
h5 {
    padding-top: 10px;
}
figcaption {
    font-size: 13px;

    letter-spacing: 1.5px;

    padding-left: 10px;

    padding-top: 10px;
}
/* Footer */
footer {
        /* Changed from 'bottom' as it's not a valid value */
        background: #dddddd;

        bottom: 0;

        margin-bottom: 0;

        padding: 20px;

        position: fixed;

        text-align: left;

        width: 100%;
    }
/* Responsive layout - when
the screen is less than 700px wide, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row, .navbar {
        flex-direction: column;
    }
    .navbar-Items {
        position: relative;
    }
    .link-List {
        display: none;

        position: relative;
    }
}
/* VIDEO THINGS */
.video-container {
    align-items: center;

    contain: layout;

    grid-template-columns: 1fr;

    height: 0;

    justify-content: flex-end;

    margin: 0 auto;

    max-height: 100%;

    max-width: 100%;

    vertical-align: baseline
}
.vp-center {
    align-items: normal;

    display: block;

    justify-content: normal;
}
@media (max-width: 600px) {
    .video-container {
        max-height: 100%;

        max-width: 100%
    }
}
.editable {
    align-content: center;

    background-color: lightcoral;

    display:grid;

    grid-template-columns: 1fr;

    margin: 7px;

    overflow: auto;

    resize: both;
}