* {
    box-sizing: border-box;
}

.skip-link {
    position: absolute;
    left: -999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-link:focus {
    top: 0;
    width: auto;
    height: auto;
    overflow: visible;
}

.navbar, ul, section, nav, article, body, div, footer, h1, h2, h4, h5, h6, header, figure, html, i, li, p, span, button, video, .navbar, .navbar-nav, .nav-item, .nav-link, .svg-wrapper, .navbar-toggler, .dropdown-item, .dropdown-menu, .flex-container, .col-sm-8, .row, #Home_Link, #Navstack, #Maincontent, body, ul, nav, #NavstackVerbose {
    padding: 0;
}

footer, .nav-link, .col-sm-3, .flex-container, .col-sm-2 {
    border: 1px;
    border-style: solid;
    border-color: black;
    text-decoration: none;
}

p, h3, hr {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 3px 1px rgba(15, 15, 15, 0.61);
}

@font-face {
    font-family: "Acuminprowide_Sans";
    src: url("../fonts/Acuminprowide_Sans.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

nav ul li a {
    font-family: "Acuminprowide_Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: line-through;
}

#Topbar {
    background-color: transparent;
    z-index: 1001;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 84px;
}

#Home_Link {
    margin-top: 0px;
    margin-left: 40px;
    padding-top: 10px;
    padding-left: 10px;
    z-index: 2;
}

.navbar {
    position: fixed;
}

.navbar-nav {
    margin-top: -114px;
}

.navbar-toggler {
    transform: translate(-50%, -140%);
    border: solid;
    border-width: 2px;
}

.nav-item {
    margin-right: 80px;
}

.nav-item.dropdown .dropdown-menu {
    transform: translate(-80%, 0);
}

.nav-link.dropdown-toggle {
    position: relative;
    padding-right: 30px;
    /* Add padding to make space for the arrow */
}

/* Style the arrow */
.nav-link.dropdown-toggle::after {
    position: absolute;
    content: "";
    color: #c04c4c;
    border-width: 7px;
    border-style: dotted;
    right: 100%;
    /* Position it to the left of the parent element */
    top: 80%;
    opacity: calc(0.8);
}

.dropdown-menu {
    box-shadow: 10px -5px 27px -13px rgba(15, 15, 15, 0.61);
}
#Main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1857px;
    margin-top: 255px;

}
#Navstack {
    position: fixed;
    z-index: 2;
    width: flex;
    margin-left: 51px;
    margin-top: -7px;
}
#NavstackVerbose {
    position: fixed;
    z-index: 2;
    width: flex;
    margin-left: 120px;
    margin-top: -7px;
}

.sticky-container {
    position: -webkit-sticky;
    position: sticky;
    top: 84px;
    z-index: 100;
    background-color: inherit;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1857px;
    margin-top: 255px;
    margin-left: 140px;
}

.scrollable-content {
    display: flex;
    overflow-y: hidden;
    /* Initially not scrollable */
    max-height: calc(100vh - 84px);
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
}

.flex-container>.col-sm-8,
.flex-container>.col-sm-3,
.flex-container>.col-sm-1 {
    padding-right: 15px;
    /* Half of your gap */
    padding-left: 15px;
    /* Half of your gap */
    padding-top: 20px;
    margin-top: 19px;
}

.col-sm-8 {
    margin-top: 19px
}

.col-sm-3 {
    background-color: #f5f5f5;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 19px
}

figcaption {
    font-family: "Acuminprowide_Sans", sans-serif;
    font-size: 11px;
    letter-spacing: 1.5px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    padding-left: 30px;
    padding-top: 0px;
    margin: 0;
}

img, svg {
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    /* If you want to add space below images to match the gutter */
}

figure {
    margin: 0px;
    padding: 0px;
}

.fig {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 0px;
    /* half of your gap */
    box-shadow: .5px .5px 3px .9px rgba(15, 15, 15, 0.61);
}
.vp-center {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.video-container {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    padding-top: 56.25%;
    height: 0;
}

.vp-center {
    display: block;
    justify-content: normal;
    align-items: normal;
}

@media (max-width: 600px) {
    .video-container {
        max-width: 100%;
    }
}
.Links_ArtworkTitles
#NavstackVerbose {
    scrollbar-width: none;
    color: black;
    font-family: "AcuminProwide_Sans", sans-serif;
    margin-left: 65px;
    margin-top: 240px;
    position: fixed;
    z-index: 100;
    overflow: hidden;
    text-decoration: none;
}