#navstack {
    position: fixed;
    z-index: 2;
    width: 100%;
    margin-left: 120px;
    margin-top: -7px;
    font-family: "AcuminProwide_Sans", sans-serif;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.links-artwork-titles #navstack-verbose {
    scrollbar-width: none;
    color: black;
    font-family: "AcuminProwide_Sans", sans-serif;
    margin-left: 65px;
    margin-top: 240px;
    position: fixed;
    z-index: 100;
    overflow: hidden;
    text-decoration: none;
}