#navstack {
    position: fixed;
    z-index: 2;
    color: rgb(0 0 0);
    cursor: pointer;
    font-family: "AcuminProwide_Sans", sans-serif;
    font-size: 14px;
    inline-size: 100%;
    margin-block-start: -7px;
    margin-inline-start: 120px;
    text-decoration: none;
}

.links-artwork-titles #navstack-verbose {
    position: fixed;
    z-index: 100;
    overflow: hidden;
    color: black;
    font-family: "AcuminProwide_Sans", sans-serif;
    margin-block-start: 240px;
    margin-inline-start: 65px;
    scrollbar-width: none;
    text-decoration: none;
}

.paper-like {
  border: 1px solid rgb(221 221 221);
  margin: auto;
  background: white;
  block-size: 297mm; /* A4 height */
  box-shadow: 0 0 5px rgb(0 0 0 / 30%);
  inline-size: 210mm; /* A4 width */
}
