/* imports and fonts */
@import
  "https://fonts.googleapis.com/css2?family=Poppins&display=swap";
@font-face
  { font-family: "Acuminprowide_Sans";
    src: url(../fonts/Acuminprowide_Sans.otf) format("opentype"); }
/* global selectors */

*
  { box-sizing: border-box; }
/* grouped selectors */

a, hr, .dropdown-item, .dropdown-men, .nav-link, .navbar-toggler, .navbar,
.svg-wrapper, #nav_svg, #zflipper
  {  padding: 0; }

h1, h2, h3, h4, h5, h6
  { margin-bottom: 0;
    text-align: center; }
/* html selectors */

a
  {
    height: 100%;
    color: rgb(0 0 0);
 font-family: "AcuminProwide_Sans", sans-serif;
    font-size: 13px;
    font-weight: 450;
    letter-spacing: 0.5px;
    line-height: 17px;
    text-decoration: none;
    text-rendering: optimizelegibility; }

body
  {
    align-items: center;
 justify-content: center;
    padding-top: 30px; }

canvas
  {
    position: fixed;
    z-index: -9999;
    top: 0;
    left: 0;
    display: block;
 width: 100vw;
    height: 100vh; }

hr
  { border-top: 0 solid black; }
/* class selectors */

.col-12
  {
    width: 100%;
    padding-top: 190px;
 margin-left: 60px; }

.container_a
  { display: grid;
    gap: 0;
    grid-template-columns: 0;
    grid-template-rows: 0; }

.item_codelanguages
  {
    position: fixed;
    z-index: 5;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 160px;
 box-shadow:
    0 10px 20px rgb(0 0 0 / 19%),
    0 6px 6px rgb(0 0 0 / 23%);
    color: rgb(0 0 0); }

.navbar
  {
    position: fixed;
 z-index: 1000;
    cursor: pointer; }

.wrapper
  {
   padding: 16px;
 border: 2px solid; }
/* id selectors */

#efemera
  { left: 25%;
    overflow: scroll; }

#home_Link
  {
    padding-top: 50px;
 padding-left: 50px; }

#videos
  { display: flex;
    margin-bottom: 50px; }
/* pseudo-class selectors */

p::not(:last-of-type)
  { margin-bottom: 1em; }

a::hover
  { text-decoration: line-through; }
/* at-rule selectors */
@media screen and (max-width: 800px)
  {

 .container
      { grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); }

    .item
      {
 width: 200px;
        height: 287.5px; }

    .video-container
      { max-width: 100%; }}
