/* imports and fonts */
@import
  "https://fonts.googleapis.com/css2?family=Poppins&display=swap";
@font-face
  { font-family: "Acuminprowide_Sans";
    src: url(../fonts/Acuminprowide_Sans.otf) format("opentype"); }
/* global selectors */

*
  { box-sizing: border-box; }
/* grouped selectors */

a, hr, .dropdown-item, .dropdown-men, .nav-link, .navbar-toggler, .navbar,
.svg-wrapper, #nav_svg, #zflipper
  {  padding: 0; }

h1, h2, h3, h4, h5, h6
  { margin-block-end: 0;
    text-align: center; }
/* html selectors */

a
  {
    block-size: 100%;
    color: rgb(0 0 0);
 font-family: "AcuminProwide_Sans", sans-serif;
    font-size: 13px;
    font-weight: 450;
    letter-spacing: 0.5px;
    line-height: 17px;
    text-decoration: none;
    text-rendering: optimizelegibility; }

body
  {
    align-items: center;
 justify-content: center;
    padding-block-start: 30px; }

canvas
  {
    position: fixed;
    z-index: -9999;
    display: block;
    block-size: 100vh;
 inline-size: 100vw;
    inset-block-start: 0;
    inset-inline-start: 0; }

hr
  { border-block-start: 0 solid black; }
/* class selectors */

.col-12
  {
    inline-size: 100%;
 margin-inline-start: 60px;
    padding-block-start: 190px; }

.container_a
  { display: grid;
    gap: 0;
    grid-template-columns: 0;
    grid-template-rows: 0; }

.item_codelanguages
  {
    position: fixed;
    z-index: 5;
 box-shadow:
    0 10px 20px rgb(0 0 0 / 19%),
    0 6px 6px rgb(0 0 0 / 23%);
    color: rgb(0 0 0);
    margin-block: 0;
    margin-inline-start: 160px; }

.navbar
  {
    position: fixed;
 z-index: 1000;
    cursor: pointer; }

.wrapper
  {
   padding: 16px;
 border: 2px solid; }
/* id selectors */

#efemera
  {
    overflow: scroll; inset-inline-start: 25%; }

#home_Link
  {
    padding-block-start: 50px;
 padding-inline-start: 50px; }

#videos
  { display: flex;
    margin-block-end: 50px; }
/* pseudo-class selectors */

p::not(:last-of-type)
  { margin-block-end: 1em; }

a::hover
  { text-decoration: line-through; }
/* at-rule selectors */
@media screen and (max-width: 800px)
  {

 .container
      { grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); }

    .item
      {
        block-size: 287.5px;
 inline-size: 200px; }

    .video-container
      { max-inline-size: 100%; }}
