.skip-link {
    position: absolute;
    left: -999px;
    overflow: hidden;
    width: 1px;
    height: 1px;
}

.skip-link:focus {
    z-index: 10000;
    left: 0;
    overflow: visible;
    width: auto;
    height: auto;
}