.skip-link {
    position: absolute;
    overflow: hidden;
    block-size: 1px;
    inline-size: 1px;
    inset-inline-start: -999px;
}

.skip-link:focus {
    z-index: 10000;
    overflow: visible;
    block-size: auto;
    inline-size: auto;
    inset-inline-start: 0;
}