* {
    box-sizing: border-box;
}
/* Style the body */

body {
    margin: 0;
    font-family: Arial;
}
/* SKIPLINK */

.skip-link {
    position: absolute;
    overflow: hidden;
    block-size: 1px;
    inline-size: 1px;
    inset-inline-start: -999px;
}

.skip-link:focus {
    overflow: visible;
    block-size: auto;
    inline-size: auto;
    inset-block-start: 0;
}
/* Header/logo Title */

 .header {
    position:fixed;
    z-index: 1;
    padding: 0;
    margin: 0;
    background-color: black;
    block-size: 84px;
    inline-size:100%;
}
/* NAV BAR */
/* Style the top navigation bar */

.navbar {
    background-color: white;
    block-size: 83px;
    inline-size: 100%;
}

.navbar-right{
    position: absolute;
    display:flex;
    inset-block-end:10px;
    inset-inline-end: 0;
}
/* Style the navigation bar links */

.navbar a {
    color: black;
    padding-block: 14px;
    padding-inline: 20px;
    text-decoration: none;
}
/* Navbar text */

.nav-link {
    padding: 0;
}
/* manage page font */
@font-face { font-family: "Acuminprowide_Sans";
 src: url(../fonts/Acuminprowide_Sans.otf) format("opentype");}
/* link management */

a {
    color:black;
    cursor: pointer;
    font-family: "Acuminprowide_Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-decoration: none;
}

a:hover {
    text-decoration: line-through;
}
/* left side link list */

ul {
    list-style: none;
    text-decoration: none;
    /* padding-left:0px; */
}

.linklist{
    position: fixed;
    z-index: 0;
    color: rgb(0 0 0);
    cursor: pointer;
    font-family: "Acuminprowide_Sans", sans-serif;
    font-size: 14 px;
    font-style: normal;
    font-weight: 400;
    inline-size: flex;
    letter-spacing: 0.5px;
    margin-block-start: -100 px;
    margin-inline-start: 51px;
    src: url(../fonts/Acuminprowide_Sans.otf) format("opentype");
    text-decoration: none;
}
/* Create three unequal columns that sits next to each other */

.row {
    display: flex;
    flex-wrap: wrap;
    max-inline-size: 1800px;
    /* margin-top: 255px; */
}
/* 01 Sidebar/left column */

.left-side {
    position: fixed;
    flex: 10%;
    padding: 20px;
    margin:0;
    background-color: white;
    padding-block-start: 94px;
}
/* 02 Main column */

.main {
    flex: 50%;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: white;
    margin-inline-end:19px;
    padding-block-start: 84px;
    padding-inline-start: 190px;
}
/* 03 Right column */

.right-side {
    flex: 30%;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: ;
    padding-block-start: 84px;
}

#center {
    text-align: center;
}
/* Fake image, just for this example */

.fakeimg {
    padding: 20px;
    background-color: rgb(170 170 170);
}
/* spacing for images in content box */

img {
    padding: 0;
    margin: 0;
    box-shadow: 1px 1px 3px 1px rgb(15 15 15 / 61%);
    max-block-size: 100%;
    max-inline-size: 100%;
    text-align: center;
    vertical-align: top;
}

p {
    display: block;
    margin-inline: auto;
    padding-block-start: 10px;
    padding-inline: 20px;
    /* box-shadow: 1px 1px 3px 1px rgba(15, 15, 15, 0.61); */
}

hr {
    padding-block-start: 10px;
    padding-inline: 20px;
}

h3 {
    padding-block-start: 10px;
    padding-inline: 20px;
}
/* Caption */

caption {
    margin: 0;
    color: rgb(0 0 0);
    cursor: pointer;
    font-family: "Acuminprowide_Sans", sans-serif;
    font-size: 11px;
    letter-spacing: 1.5px;
    padding-block-start: 0;
    padding-inline-start: 30px;
    text-decoration: none;
}
/* Footer */

.footer {
    padding: 20px;
    background: rgb(221 221 221);
    text-align: center;
}
/* Responsive layout - when
the screen is less than 700px wide, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {

    .row, .navbar {
        flex-direction: column;
    }

    .navbar-right{
        position: relative;
    }

    .left-side {
        position: relative;
        display:none;
    }
}
 /* VIDEO THINGS */

.video-container {
    position: relative;
    block-size: 0;
    margin-block: 0;
    margin-inline: auto;
    max-inline-size: 900px;
    padding-block-start: 56.25%;
}

.vp-center {
    display: block;
    align-items: normal;
    justify-content: normal;
}
@media (max-width: 600px) {

    .video-container {
        max-inline-size: 100%;
    }
}
/* NAVBAR ELEMENTS */

#Home_Link {
    z-index: 2;
    inline-size: 275px;
    margin-block-start: 20px;
    margin-inline-start: 40px;
}

.navbar-toggler {
    border: solid;
    border-width: 2px;
    transform: translate(-50%, -140%);
}

.nav-item, .dropdown, .dropdown-menu {
    transform: translate(-80%, 0);
}

.nav-link.dropdown-toggle {
    position: relative;
    padding-inline-end: 30px;
    /* Add padding to make space for the arrow */
}
/* Style the arrow */

.nav-link.dropdown-toggle::after {
    position: absolute;
    border-width: 7px;
    border-style: dotted;
    color: rgb(192 76 76);
    content: "";
    /* Position it to the left of the parent element */
    inset-block-start: 80%;
    inset-inline-end: 100%;
    opacity: calc(0.8);
}

.dropdown-menu {
    box-shadow: 10px -5px 27px -13px rgb(15 15 15 / 61%);
}