.button {
    cursor: pointer;

    display: inline-block;

    margin: 0 auto;

    transition: all 0.7s ease;

    width: auto;
}
.hamburger-Bars {
    background: repeating-linear-gradient(50deg,
            #3f87a6 50%,
            #62597f 30%,
            transparent);

    display: flex;

    height: 3px;

    margin: 4px auto;

    vertical-align: text-bottom;

    width: 30px;
}
.hamburger-Bars {
    transition: all 0.7s ease;
}
active .hamburger-Bars {
    background-color: #ffffff;

    transition: all 0.7s ease;
}
.button.active .top {
    transform: translateY(0) rotateZ(-135deg);
}
.button.active .bottom {
    transform: translateY(0) rotateZ(135deg);
}
.button.active .middle {
    transform: translateX(37px);

    width: 20px;
}
.popout-Nav {
    /* Initially off-screen */
    background-color: #191a1e;
    /* pout navigation bar size/color/initial position */
    height: 100%;

    position: fixed;

    right: -250px;

    top: 0;

    transition: right 1.3s ease;

    width: 250px;

    z-index: 101;
}
.popout-Nav.active {
    right: 0;
}
.popout-Nav.active .popout-Item {
    opacity: 1;

    transform: translateY(0);
}
.popout-List {
    list-style-type: none;

    margin: 0;

    margin-top: 120px;

    padding: 0;

    padding-left: 20px;

    position: relative;

    text-align: right;
}
.popout-Item {
    /* placemet */
    margin: 5px;

    opacity: 0;

    padding-top: 20px;

    transform: translateY(-20px);

    transition: opacity 1s, transform 1s;
}
.popout-Item::before {
    color: white;

    content: '•';

    font-size: 20px;

    left: 0;

    position: absolute;

    top: 50%;

    transform: translateY(-50%);/* Unicode character for bullet *//* Bullet color *//* Adjust if necessary to align the bullet *//* Center vertically within the list item *//* Adjust for precise vertical centering *//* Adjust size as needed */
}
.popout-Item:first-child { /* animation of first popout-item in list */
    transition: all 0.7s 0.2s ease-in-out;
}
.popout-Item:nth-child(2) {/* animation of second popout-item in list */
    transition: all 0.7s 0.4s ease-in-out;
}
.popout-Item:nth-child(3) {
    /* animation of third popout-item in list */
    transition: all 0.7s 0.6s ease-in-out;
}
.popout-Item:nth-child(4) {
    /* animation of third popout-item in list */
    transition: all 0.7s 0.6s ease-in-out;
}
.popout-Item:nth-child(5) {
    /* animation of third popout-item in list */
    transition: all 0.7s 0.6s ease-in-out;
}
.popout-Item:nth-child(6) {
    /* animation of third popout-item in list */
    transition: all 0.7s 0.6s ease-in-out;
}
.popout-Item:nth-child(7) {
    /* animation of third popout-item in list */
    transition: all 0.7s 0.6s ease-in-out;
}
.popout-Item:last-child {
    /* animation of last popout-item in list */
    transition: all 0.7s 0.6s ease-in-out;
}
.popout-Item.active {
    /* subtle shift down as links fade in */
    opacity: 1;

    transform: translateY(0);
}
.popout-Link {
    color: ivory;

    font-size: 1em;

    padding-bottom: 7px;

    padding-right: 20px;

    position: relative;

    text-decoration: none;

    text-transform: lowercase;
}