.button {
    cursor: pointer;
    display: inline-block;
    width: auto;
    margin: 0 auto;
    transition: all 0.7s ease;
}
.hamburger-Bars {
    display: flex;
    vertical-align: text-bottom;
    height: 3px;
    width: 30px;
    background: repeating-linear-gradient(50deg,
            #3f87a6 50%,
            #62597f 30%,
            transparent);
    margin: 4px auto;
}
.hamburger-Bars {
    transition: all 0.7s ease;
}
active .hamburger-Bars {
    background-color: #ffffff;
    transition: all 0.7s ease;
}
.button.active .top {
    transform: translateY(0) rotateZ(-135deg);
}
.button.active .bottom {
    transform: translateY(0) rotateZ(135deg);
}
.button.active .middle {
    width: 20px;
    transform: translateX(37px);
}
.popout-Nav {
    /* pout navigation bar size/color/initial position */
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    z-index: 101;
    right: -250px;
    /* Initially off-screen */
    background-color: #191a1e;
    transition: right 1.3s ease;
}
.popout-Nav.active {
    right: 0;
}
.popout-Nav.active .popout-Item {
    opacity: 100%;
    transform: translateY(0);
}
.popout-List {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
    margin-top: 120px;
    text-align: right;
    padding-left: 20px;
}
.popout-Item {
    /* placemet */
    margin: 5px;
    padding-top: 20px;
    opacity: 0%;
    transform: translateY(-20px);
    transition: opacity 1s, transform 1s;
}
.popout-Item::before {
    content: '•';/* Unicode character for bullet */
    color: white;/* Bullet color */
    position: absolute;
    left: 0;/* Adjust if necessary to align the bullet */
    top: 50%;/* Center vertically within the list item */
    transform: translateY(-50%);/* Adjust for precise vertical centering */
    font-size: 20px;/* Adjust size as needed */
}
.popout-Item:first-child { /* animation of first popout-item in list */
    transition: all 0.7s 0.2s ease-in-out;
}
.popout-Item:nth-child(2) {/* animation of second popout-item in list */
    transition: all 0.7s 0.4s ease-in-out;
}
.popout-Item:nth-child(3) {
    /* animation of third popout-item in list */
    transition: all 0.7s 0.6s ease-in-out;
}
.popout-Item:nth-child(4) {
    /* animation of third popout-item in list */
    transition: all 0.7s 0.6s ease-in-out;
}
.popout-Item:nth-child(5) {
    /* animation of third popout-item in list */
    transition: all 0.7s 0.6s ease-in-out;
}
.popout-Item:nth-child(6) {
    /* animation of third popout-item in list */
    transition: all 0.7s 0.6s ease-in-out;
}
.popout-Item:nth-child(7) {
    /* animation of third popout-item in list */
    transition: all 0.7s 0.6s ease-in-out;
}
.popout-Item:last-child {
    /* animation of last popout-item in list */
    transition: all 0.7s 0.6s ease-in-out;
}
.popout-Item.active {
    /* subtle shift down as links fade in */
    opacity: 100%;
    transform: translateY(0);
}
.popout-Link {
    color: ivory;
    text-decoration: none;
    font-size: 1em;
    text-transform: lowercase;
    position: relative;
    padding-bottom: 7px;
    padding-right: 20px;
}