#directories
cypress
hint-report
lighthouse
node_modules
src
views

#Files
run-stylelint.mjs
.eslintrc.cjs
.hintrc
.htmlhintrc
.prettierrc.json
cypress.config.ts
.eslintignore
.prettierignore

# Logs
.DS_Store
*.local
*.log
coverage
lerna-debug.log*
logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode
.idea
.vscode/*
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
*.tsbuildinfo