# Editor directories and files
.DS_Store
.idea/
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?

# Logs
*.local
*.log
coverage/
lerna-debug.log*
logs/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node modules
node_modules/

# Cypress directories
cypress/
screenshots/
videos/

# Other build artifacts and caches
.env
.eslintcache
.lock-wscript
.next
.npm
.rollup.cache
.vs
.watchmanconfig
bower_components/
build/Release
jspm_packages/
*.cpuprofile
*.tsbuildinfo

# TypeScript files
*.tsbuildinfo

# Hint and Lighthouse reports
hint-report/
lighthouse/
views/
