{
  "arrowParens": "always",
  "bracketSameLine": true,
  "enableDebugLogs": true,
  "endOfLine": "lf",
  "enable": true,
  "htmlWhitespaceSensitivity": "ignore",
  "insertPragma": true,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "proseWrap": "preserve",
  "quoteProps": "consistent",
  "requireConfig": false,
  "requirePragma": false,
  "semi": true,
  "singleAttributePerLine": false,
  "tabWidth": 4,
  "trailingComma": "none",
  "useEditorConfig": false,
  "useTabs": true,
  "vueIndentScriptAndStyle": false,
  "embeddedLanguageFormatting": "auto",
  "singleQuote": false
}