{
  "prettier.arrowParens": "always",
  "prettier.bracketSameLine": true,
  "prettier.enableDebugLogs": true,
  "prettier.endOfLine": "lf",
  "prettier.enable": true,
  "prettier.htmlWhitespaceSensitivity": "ignore",
  "prettier.insertPragma": true,
  "prettier.jsxSingleQuote": true,
  "prettier.printWidth": 120,
  "prettier.proseWrap": "preserve",
  "prettier.quoteProps": "consistent",
  "prettier.requireConfig": false,
  "prettier.requirePragma": false,
  "prettier.semi": true,
  "prettier.singleAttributePerLine": false,
  "prettier.tabWidth": 4,
  "prettier.trailingComma": "es5",
  "prettier.useEditorConfig": false,
  "prettier.useTabs": true,
  "prettier.vueIndentScriptAndStyle": false
}
