# prettierignore
CNAME
*.DS_Store
.gitignore
./vitest.config.ts
./package.json
./package-lock.json
./node_modules
./Adieu-Regular.woff2
./.stylelintrc.json
./.prettierrc.json
./.postcssrc.json
./.htmlhintrc
./.github/*
./.eslintrc.json
./dist/**/*
./cypress/*
./workflows
