:root {


	*,
	*::before,
	*::after {
		box-sizing: border-box;
		margin: 0;
		font-weight: 400;
	}

	body {
		background: var(--white);
		color: var(--black);
		font-family:

			Roboto,
			-apple-system,
			"Droid Sans",
			BlinkMacSystemFont,
			Inter,
			Oxygen,
			Ubuntu,
			Cantarell,
			"Fira Sans",
			"Segoe UI",
			sans-serif;
		font-size: 15px;
		-webkit-font-smoothing: antialiased;
		line-height: 1.6;
		min-block-size: 100vh;
		text-rendering: optimizelegibility;
		transition:
			color 0.5s,
			background-color 0.5s;
	}

	/* Shrouded media until hover */
	@media (prefers-color-scheme: dark) {

		.restore-color,
		video {
			filter: brightness(0.7);
			transition: filter 0.3s ease-out;
		}
	}

	/**
 * using high diynamic color range if their screen supports it * * @format
 *
 * @format
 */
	.main {
		background-image: url ("photo-srgb.jpg");

		@media (color-gamut: p3) {
			.main {
				background-image: url(photo-p3.jpg);
			}
		}
	}

	/* trying to make it look like a paper */
	.paper-like {
		border: 1px solid rgb(221 221 221);
		margin: auto;
		background: hsl(0deg 0% 97% / 100%);
		block-size: 297mm;
		/* A4 height */
		box-shadow: 0 0 5px rgb(0 0 0 / 30%);
		inline-size: 210mm;
		/* A4 width */
	}