.container-button-pg {
  position: relative;
  display: grid;
  inline-size: fit-content;
  box-sizing: border-box;
  margin-block-start: 2rem;
  margin-inline-end: auto;
  margin-inline-start: auto;
  background-color: transparent;
  font-size: calc(0.333vw + 1em);
  gap: var(--s10);
  grid-template-columns: repeat(3, 1fr);
  line-height: calc(0.8 * 1.5);
  place-items: center;
}
.button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Creates three columns */
  grid-gap: 10px;
  /* Adjust the gap between the buttons */
  padding: 20px;
  /* Optional: Adds some padding around the grid */
}
.buttons {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.button1 {
  padding: 1ch 5ch;
  background-color: #1d1d1b;
  transition: box-shadow 0.2s;
  appearance: none;
  box-shadow: none;
  vertical-align: top;
  justify-content: flex-start;
  align-items: center;
  min-block-size: 2.25em;
  line-height: 1.5;
  display: inline-flex;
  position: relative;
  border: var(--thin) solid #0000;
  padding-block: calc(0.375em - var(--s1));
  padding-inline: calc(0.625em - var(--s1));
  font-size: var(--f16);
  border-radius: var(--s5);
}
.button2 {
  border-inline-size: var(--thin);
  border-color: var(--theme-text-subtle);
  background-color: var(--theme-body-background);
  color: var(--theme-text);
  text-align: center;
  cursor: pointer;
  border-radius: 0.125rem;
  justify-content: center;
  padding-block: calc(0.375em - var(--s1));
  padding-inline: 0.75em;
  font-weight: 600;
  text-decoration: none;
  user-select: none;
  margin: 0;
  transition: box-shadow 0.1s;
  position: relative;
  outline: none;
}
.button3 {
  text-align: center;
  cursor: pointer;
  border-radius: 0.125rem;
  justify-content: center;
  padding-inline: 0.75em;
  font-weight: 600;
  text-decoration: none;
  user-select: none;
  margin: 0;
}
.button1 {
  border: solid var(--s2) #353535;
  box-shadow: var(--s4) var(--s4) var(--s3) rgb(154 130 151);
  transition: box-shadow 0.1s;
}
.button1:hover {
  box-shadow: var(--s6) var(--s6) 0 rgb(154 130 151);
  transition: ease-in-out 0.5s;
  /* Corrected property placement */
}
.button1:active {
  box-shadow: var(--s10) var(--s10) var(--s8) #1d1d1b;
}
.button2:hover {
  color: #f7f7f7;
}
.buttons .button {
  margin-block-end: 0.5rem;
  margin-inline-end: 0.5rem;
}
.margin-block-end-none {
  margin-block-end: 0 !important;
}
.buttons .button:only-child,
.buttons .button.is-fullinline-size,
.buttons .button.is-full-inline-size,
.buttons .button.is-full-inline-size-mobile,
.buttons .button.is-fullwidth-mobile {
  margin-inline-end: 0;
}
.buttons.buttons-right {
  justify-content: flex-end;
}
.button.button-clear {
  background-color: #0000;
  border-color: #0000;
}
button,
select {
  text-transform: none;
}
.button.button-clear,
.button.button-clear:visited {
  color: currentColor;
}
button:hover::before,
button:hover::after {
  width: 100%;
  block-size: 100%;
}
.button[data-state="reversed"] {
  display: flex;
  flex-direction: column-reverse;
}
button,
[role="button"] {
  cursor: pointer;
}
:focus-visible {
  outline: 3px solid var(--grey-90);
  outline-offset: 3px;
}