:root {
  /* SIZES - SIZES - SIZES- -SIZES */
  --ratio: 1.2;
  --measure: 65ch;
  --span: 12;
  --columns: 12;
  --gap: var(--s16);
  --border-thin: var(--s-5);
  --border-thick: var(--s2);
  --layout-space: var(--s24);
  /* The height of the header is 11% of the viewport width plus about 80pixels.
changing the --s80 allows for the header to be dialed in but tying the header to
the view port makes it is responsive to change;*/
  --headerheight: calc(11vw + var(--s80));
  /* The inner width of the page, excluding margins */
  --innerWidth: calc(100% - (var(--page-margin-total) * 2));
  /* The full width of the page, including margins */
  --fullBleedWidth: calc(100% + (var(--page-margin-total) * 2));
  /* The margin around the page content area, minus the column gaps */
  --page-margin-half: calc(var(--page-margin-total) - (var(--gap) / 2));
  /* The total margin around the page content area */
  --page-margin-total: calc(1vw +var(--s16));
  padding: var(--page-margin-total);

  /* NOTE - SIZE CHART: */
  --f-5: clamp(0.33rem, 0.39rem + -0.29vw, 0.18rem);
  --f-4: clamp(0.41rem, 0.47rem + -0.31vw, 0.25rem);
  --f-3: clamp(0.51rem, 0.57rem + -0.31vw, 0.35rem);
  --f-2: clamp(0.64rem, 0.69rem + -0.27vw, 0.5rem);
  --f-1: clamp(0.8rem, 0.84rem + -0.18vw, 0.71rem);
  --f0: clamp(1rem, 1rem + 0vw, 1rem);
  --f1: clamp(1.25rem, 1.19rem + 0.32vw, 1.41rem);
  --f2: clamp(1.56rem, 1.39rem + 0.85vw, 2rem);
  --f3: clamp(1.95rem, 1.61rem + 1.7vw, 2.83rem);
  --f4: clamp(2.44rem, 1.83rem + 3.04vw, 4rem);
  --f5: clamp(3.05rem, 2.04rem + 5.07vw, 5.65rem);
}

/* SECTION - MARGIN TOP */
:is(h1 + *, h2 + *, h3 + *, h4 + *) {
  margin-block-start: var(--f3, 2.5rem);
}
:is(p + p) {
  margin-block-start: var(--f1, 1.3rem);
}
:focus {
  outline: var(--border-thin) solid var(--color-mid);
  outline-offset: var(--border-thin);
}

.col[class^="col-"],
.col[class*="\ col-"] {
  width: calc(
    (100% var(--gap) * (var(--columns) / var(--span) - 1)) /
      (var(--columns) / var(--span))
  );
  flex: none;
}
.col[class^="offset-"],
.col[class*="\ offset-"] {
  margin-left: calc(
    (100% var(--gap) * (var(--columns) / var(--offset) - 1)) /
      (var(--columns) / var(--offset)) + var(--gap)
  );
}
.col[class^="offset-s-"],
.col[class*="\ offset-s-"] {
  margin-left: calc(
    (100% var(--gap) * (var(--columns) / var(--offset) - 1)) /
      (var(--columns) / var(--offset)) + var(--gap)
  ) !important;
}
