:root {
  /* SIZES - SIZES - SIZES- -SIZES */
  --ratio: 1.2;
  --measure: 65ch;;
  --gap: var(--f1);
  --border-thin: var(--f1);
  --border-thick: var(--f2);
  --layout-space: var(--f8);
  --color-secondary-glare: #ffe3e5;
  --space-s: clamp (1rem, 0.92rem + 0.39vw, 1.25rem);
  --space-m: clamp
/* The height of the header is 11% of the viewport width plus about 80pixels.
changing the --s80 allows for the header to be dialed in but tying the header to
the view port makes it is responsive to change;*/
  --headerheight: calc(11vw + var(--s80));
  /* The inner width of the page, excluding margins */
  --innerWidth: calc(100% - (var(--page-margin-total) * 2));
  /* The full width of the page, including margins */
  --fullBleedWidth: calc(100% + (var(--page-margin-total) * 2));
  /* The margin around the page content area, minus the column gaps */
  --page-margin-half: calc(var(--page-margin-total) - (var(--gap) / 2));
  /* The total margin around the page content area */
  --page-margin-total: calc(1vw +var(--s16));
  padding: var(--page-margin-total);

  /* NOTE - SIZE CHART: Each clamp statement has a minimum allowed size, the frist from the left, and maximum threshold size listed furthest to the right. These values act as boundaries to restrict the sum of the respective equation in the center of each line from dipping too low or becoming too high. Thus if a developer sets string pf text to the size 'var(--f14)' the text will never be smaller than 3.05rem, larger than 5.65rem and will range in size as the viewport changes size since it represents 2.04rem + 5.07% of the viewport width.*/
  --f1: clamp(0.33rem, 0.39rem + -0.29vw, 0.18rem);
  --f2: clamp(0.41rem, 0.47rem + -0.31vw, 0.25rem);
  --f3: clamp(0.51rem, 0.57rem + -0.31vw, 0.35rem);
  --f4: clamp(0.64rem, 0.69rem + -0.27vw, 0.5rem);
  --f5: clamp(0.8rem, 0.84rem + -0.18vw, 0.71rem);
  --f6: clamp(1rem, 1rem + 0vw, 1rem);
  --f7:  clamp(2rem, 1.84rem + 0.78vw, 2.5rem);
  --f8: clamp(1.25rem, 1.19rem + 0.32vw, 1.41rem);
  --f9: clamp(1.4375rem, 1.11rem + 1.65vw, 2.5rem);
  --f10: clamp(1.5rem, 1.38rem + 0.58vw, 1.875rem);
  --f11: clamp(1.75rem, 1.19rem + 2.82vw, 3.5625rem);
  --f12: clamp(1.95rem, 1.61rem + 1.7vw, 2.83rem);
  --f13: clamp(2.44rem, 1.83rem + 3.04vw, 4rem);
  --f14: clamp(3.05rem, 2.04rem + 5.07vw, 5.65rem);
  --f15: clamp(4.03rem, 3.36rem + 3.35vi, 5.96rem);
}

/* SECTION - MARGIN TOP */
:is(h1 + *, h2 + *, h3 + *, h4 + *) {
  margin-block-start: var(--f3, 2.5rem);
}
:is(p + p) {
  margin-block-start: var(--f1, 1.3rem);
}
:focus {
  outline: var(--border-thin) solid var(--color-mid);
  outline-offset: var(--border-thin);
}

.col[class^="col-"],
.col[class*="\ col-"] {
  width: calc(
    (100% var(--gap) * (var(--columns) / var(--span) - 1)) /
      (var(--columns) / var(--span))
  );
  flex: none;
}
.col[class^="offset-"],
.col[class*="\ offset-"] {
  margin-left: calc(
    (100% var(--gap) * (var(--columns) / var(--offset) - 1)) /
      (var(--columns) / var(--offset)) + var(--gap)
  );
}
.col[class^="offset-s-"],
.col[class*="\ offset-s-"] {
  margin-left: calc(
    (100% var(--gap) * (var(--columns) / var(--offset) - 1)) /
      (var(--columns) / var(--offset)) + var(--gap)
  ) !important;
}
