::after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
}
::before,
::after {
	--content: "";
}
button {
	padding: 0;
	color: inherit;
	font-family: inherit;
	font-feature-settings: inherit;
	font-size: 100%;
	font-weight: inherit;
	line-height: inherit;
	text-transform: none;
}
button,
[type=button],
[type=reset],
[type=submit] {
	background-color: transparent;
	background-image: none;
}
.class-name>svg {
	width: 1.25rem;
}
.class1 {
	top: 0;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: #ffffff;
	box-shadow:
		0 var(--s10) var(--s15) -3px rgb(0 0 0 / 10%),
		0 var(--s4) var(--s6) var(--s2) rgb(0 0 0 / 5%);
}
@media (min-width: 768px) {
	.class1 {
		flex-wrap: wrap;
	}
}
.class3>button {
	border-width: 0;
	transition-duration: 150ms;
	transition-property: box-shadow;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.class3>button:hover {
	--text-opacity: 1;
}
.class3>button:focus {
	--text-opacity: 1;
}
.navigation-links {
	display: none;
	flex-basis: 100%;
	flex-grow: 1;
	align-items: center;
}
@media (min-width: 768px) {
	.navigation-links {
		display: flex !important;
		flex-basis: auto;
	}
	.class3>button {
		display: none;
	}
}
.nav-ref {
	display: flex;
	flex-direction: column;
	margin-right: auto;
}
@media (min-width: 768px) {
	.nav-ref {
		flex-direction: row;
	}
}
.menu-link {
	display: block;
	transition: all 150ms ease-in-out;
}
.menu-link:hover,
.menu-link:focus {
	color: #4a5568;
}
@media (prefers-color-scheme: dark) {
	.menu-link:hover,
	.menu-link:focus {
		color: #ffffff;
	}
}
@media (min-width: 768px) {
	.menu-link {
		padding: 0.5rem;
	}
}
.menu-link.active {
	border-color: #3490dc;
	color: #3490dc;
}
.cta-button {
	padding: 0.75rem 1.75rem;
	border-radius: 0.375rem;
	background-color: #3490dc;
	box-shadow: 0 var(--s4) var(--s9) calc(-1 * var(--s4)) #3b71ca;
	color: #ffffff;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
	transition:
		background-color 150ms ease-in-out,
		box-shadow 150ms ease-in-out;
}
.cta-button:hover,
.cta-button:focus {
	background-color: #2563eb;
	box-shadow:
		0 var(--s8) var(--s9) calc(-1 * var(--s4)) rgb(59 113 202 / 30%),
		0 var(--s4) var(--s18) 0 rgb(59 113 202 / 20%);
}
.cta-button:active {
	background-color: #1d4ed8;
	box-shadow:
		0 var(--s8) var(--s9) calc(-1 * var(--s4)) rgb(59 113 202 / 30%),
		0 var(--s4) var(--s18) 0 rgb(59 113 202 / 20%);
}
@media (prefers-color-scheme: dark) {
	.cta-button {
		box-shadow: 0 var(--s4) var(--s9) calc(-1 * var(--s4)) rgb(59 113 202 / 50%);
	}
	.cta-button:hover,
	.cta-button:focus,
	.cta-button:active {
		box-shadow:
			0 var(--s8) var(--s9) calc(-1 * var(--s4)) rgb(59 113 202 / 20%),
			0 var(--s4) var(--s18) 0 rgb(59 113 202 / 10%);
	}
}
.cta-button:focus {
	outline: none;
}
.custom-colors-container {
	padding: 3rem;
	background-color: #f4f4f5;
	color: #4a5568;
	text-align: center;
}
@media (prefers-color-scheme: dark) {
	.custom-colors-container {
		color: var(--grey-10);
	}
}
