/** @format */


/* #typography  */
body{
	color: #000000;
	font-family: "AcuminProwide_Sans", sans-serif;
	font-weight: 450;
	background-color: transparent;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	font-size: 13px;
	line-height: 17px;
}

@import url("https://fonts.googleapis.com/css?family=Lato");
/* These are open source fonts*/
@import url("https://fonts.googleapis.com/css?family=Yrsa");
/*The font files for the fonts do not need to be included in the assets folder like the three fonts below. The font files for the fonts listed below are liscensed from their respective owners and aren't offered through a web link */

@font-face {
	font-family: "Acuminprowide_Sans";
	/* You can change the name of the any of these later fonts if you think they will be easier to reference */
	src: url("assets/Acuminprowide_Sans.otf") format("opentype");
	/* Path to the font OTF file within this repository*/
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "ArgenturDisplay";
	src: url("assets/AgenturDisplay.ttf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Adieu-Regular";
	src: url("assets/Adieu-Regular.ttf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

/* #endregion */

/* #Sections  */
html,
body {
	margin: 10px;
	overflow: auto;
	position: relative;
}
.RightContainer {
	top: 100px;
	margin-top: 161px;
	margin-left: 0px;
	margin-right: 39px;
	right: 20px;
	padding: 20px;
	bottom: 0;
	position: fixed;
	border: 1px solid black;
	overflow-y: auto;
}
#LeftContainer {
	top: -6px;
	position: relative;
}
.common-styles {
	top: -6px;
	margin-top: -17px;
	position: relative;
}
/* #endregion */

/* #links  */
.Links_NavigationTopRight {
	display: flex;
	position: sticky;
	margin-top: 26px;
	padding-right: 12px;
}
.mysteryclass {
	/*found on navigation links*/
	justify-content: flex-start;
	position: flex;
	flex-direction: column;
}

.Links_ArtworkInitials {
	scrollbar-width: none;
	margin-top: 70px;
	position: fixed;
	overflow: hidden;
}
.Links_ArtworkTitles {
	margin-top: -6px;
	position: fixed;
	overflow: hidden;
	left: 80px;
	z-index: 99;
	-webkit-overflow-scrolling: touch;
	-ms-autohiding-scrollbar: none;
}

a {
	/*This sets the default style of all the links on the site*/
	text-decoration: none;
	color: black;
	cursor: pointer;
}

a:hover {
	/*This defines how links will change when you hover over them. Right not a strike line appears across the linked word.*/
	text-decoration: line-through;
	color: black;
}
/* #endregion */

/* #scrollbar settings  */
.scrollable-col::-webkit-scrollbar {
	display: none;
	/* Hide scrollbar for Webkit browsers */
}

.scrollable-col {
	-ms-overflow-style: none;
	/* Hide scrollbar for IE and Edge */
	scrollbar-width: none;
	/* Hide scrollbar for Firefox */
}

.common-styles {
	-ms-autohiding-scrollbar: none;
	scrollbar-width: none;
}
.RightContainer::-webkit-scrollbar {
	display: none;
	/* For Chrome, Safari, and Opera */
	-ms-autohiding-scrollbar: none;
	/* For IE and Edge */
	scrollbar-width: none;
	/* For Firefox */
}
.scrollable-element {
	/*For Firefox*/
	overflow: -moz-scrollbars-none;
	/*For older Firefox versions*/
}
/* #endregion */

/* #Headings  */
/* The commented code below is a CSS selector that is targeting the `<h1>`, `<h2>`, `<h3>`,
`<h4>`, `<h5>`, `<h6>`, and `<hr>` elements within an `<hgroup>` element.
This code was commented out for future use.

/* hgroup {
}
hgroup h1,
hgroup h2,
hgroup h3,
hgroup h4,
hgroup h5,
hgroup h6,
hr {

} */

h1 {
	/*This defines the style of the largest heading*/
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	/*This defines the style of the 2nd largest heading*/
	margin-bottom: 30px;
	text-align: center;
}

h3 {
	/*This defines the style of the 3rd largest heading*/
	margin-bottom: 30px;
	text-align: center;
}

h4 {
	/* This defines the style of the 4th largest heading*/
	margin-bottom: 10px;
	text-align: center;
}

h5 {
	/*This defines the style of the 5th largest heading*/
	margin-bottom: 30px;
	text-align: center;
}

h6 {
	/*This defines the style of the smallest heading*/
	margin-bottom: 30px;
	text-align: center;
}

hr {
	/*Horizontal Rule or a horizontal lineused to separate sections*/
	border-top: 1px solid black;
}
/* #endregion */

/* #Media  */
.center-align {
	/*This centers images in the middle contaner and text in the context column*/
	display: flex;
	justify-content: center;
}

.ClickEnlargePhoto {
	/*opens a larger image when you click on it*/
	visibility: hidden;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	border: 2px solid black;
}

.TextFieldPhoto {
	/*paragraphs*/
	margin-top: 30px;
}

.fig {
	/*images*/
	cursor: pointer;
	margin-top: 64px;
}

#videos {
	/*videos*/
	display: flex;
	margin-bottom: 50px;
}
/* #endregion */

/* #Tables */
.cvTable {
	/* table organized table*/
	width: 90%;
}

.td {
	/* table organized data point*/
	padding-right: 10px;
}

.yr {
	/*year*/
	color: #aaaaaa;
}
/* #endregion */