/** @format */

@import url("https://fonts.googleapis.com/css?family=Lato"); /* These are open source fonts and can be found at https://fonts.google.com thus the font*/
@import url("https://fonts.googleapis.com/css?family=Yrsa"); /*files do not need to be included in theassets folder like the three fonts below */

@font-face {
	font-family: "Acuminprowide_Sans"; /* You can change the name of the any of these later fonts if you think they will be easier to reference */
	src: url("assets/Acuminprowide_Sans.otf") format("opentype"); /* Path to the font OTF file within this repository*/
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "ArgenturDisplay";
	src: url("assets/AgenturDisplay.ttf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Adieu-Regular";
	src: url("assets/Adieu-Regular.ttf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
.title {
	font-size: 18px;
	font-weight: bold;
}
html,
body {
	margin: 10px;
	color: #000000;
	font-family: "AcuminProwide_Sans", sans-serif;
	font-weight: 450;
	background-color: transparent;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	font-size: 13px;
	line-height: 17px;
	overflow: auto;
	position: relative;
}

#RightContainer {
	top: 100px;
	margin-top: 161px;
	margin-left: 0px;
	margin-right: 39px;
	right: 20px;
	padding: 20px;
	background-color: #f7f7f7;
	bottom: 0;
	font-family: futura, "Lato";
	position: fixed;
	font-size: 15px;
	line-height: 17px;
	border: 1px solid black;
    overflow-y: auto; /* or 'hidden' if you don't want it to scroll */
    -ms-overflow-style: none; /* For IE and Edge */
    scrollbar-width: none; /* For Firefox */
}
#RightContainer::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

#LeftContainer{
	top: -6px;
	position: relative;
}

.common-styles {
	top: -6px;
	margin-top: -17px;
	position: relative;
	-webkit-overflow-scrolling: touch;
	-moz-osx-overflow-scrolling: touch;
	-ms-overflow-style: none;
	-moz-osx-overflow-style: none;
	scrollbar-width: none;
}



#MiddleContainer,
#Ephemera {
````@extend .common-styles;
	overflow: -moz-scrollbars-none;
	overflow-y: auto; /* or 'hidden' if you don't want it to scroll */
    -ms-overflow-style: none; /* For IE and Edge */
    scrollbar-width: none; /* For Firefox */

/* Styles for Links */
}
.Links_NavigationTopRight {
	display: flex;
	position: sticky;
	margin-top: 26px;
	padding-right: 12px;
}
.Links_ArtworkInitials {
	scrollbar-width: none;
	margin-top: 70px;
	position: fixed;
	overflow: hidden;
}
/* Style for invisible scrollbars */
.scrollable-col::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Webkit browsers */
}

.scrollable-col {
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}

#Links_ArtworkTitles {
	margin-top: -6px;
	position: fixed;
	overflow: hidden;
	left: 80px;
	z-index: 99;
	-webkit-overflow-scrolling: touch;
	-moz-osx-overflow-scrolling: touch;
	-ms-overflow-style: none;
	-moz-osx-overflow-style: none;
}

/* The commented code below is a CSS selector that is targeting the `<h1>`, `<h2>`, `<h3>`,
`<h4>`, `<h5>`, `<h6>`, and `<hr>` elements within an `<hgroup>` element.
This code was commented out for future use.

/* hgroup {
}
hgroup h1,
hgroup h2,
hgroup h3,
hgroup h4,
hgroup h5,
hgroup h6,
hr {

} */

h1 {
	/*This defines the style of the title*/
	margin-bottom: 30px;
	text-align: center;
}h2 {
	/*This defines the style of the title*/
	margin-bottom: 30px;
	text-align: center;
}
h3 {
	/*This defines the style of the title*/
	margin-bottom: 30px;
	text-align: center;
}
h4 {
	/* this defines the Context line separator and the space around it*/
	margin-bottom: 10px;
	text-align: center;
}
h5 {
	/*This defines the style of the title*/
	margin-bottom: 30px;
	text-align: center;
}
h6 {
	/*This defines the style of the title*/
	margin-bottom: 30px;
	text-align: center;
}
hr {
	/*this defines the style of the line separator*/
}


.hdr {
	/*This defines the style of the header*/
	justify-content: flex-start;
	position: flex;
	flex-direction: column;
}
.scrollable-element {
	 /*For Firefox*/
	overflow: -moz-scrollbars-none;/*For older Firefox versions*/
}

a {
	/*This sets the default style of all the links on the site*/
	text-decoration: none;
	color: black;
	cursor: pointer;
}

a:hover {
	/*This defines how links will change when you hover over them. Right not a strike line appears across the linked word.*/
	text-decoration: line-through;
	color: black;
}

.title {
	font-size: 18px;
	font-weight: bold;
}

.center-align {
	/*This centers images in the middle contaner and text in the context column*/
	display: flex;
	justify-content: center;
}

#ClickEnlargePhoto {
	/*opens a larger image when you click on it*/
	visibility: hidden;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	border: 2px solid black;
}

.TextFieldPhoto {
	/*paragraphs*/
	margin-top: 30px;
}

.fig {
	/*images*/
	cursor: pointer;
	margin-top: 64px;
}

.Context_LineSeparator {
	/*Context line separator*/
	border-top: 1px solid black;
}

#videos {
	/*videos*/
	display: flex;
	margin-bottom: 50px;
}

/* styles associated with orginization tables */
.cvTable {
	/* table organized table*/
	width: 90%;
}
td {
	/* table organized data point*/
	padding-right: 10px;
}
.yr {
	/*year*/
	color: #aaaaaa;
}