footer::before {
  display: block;
  padding-block-end: var(--s-1);
  content: "\220e";
}
footer {
  display: block;
  max-inline-size: 35rem;
    margin-inline-end: auto;
    margin-inline-start: auto;
}
footer-chatbot {
  border-block-end: 3px solid #ffd700;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer {
  position: relative;
  padding-block-end: var(--s16);
    margin-block-start: var(--s32);
  color: var(--page-footer);
}
footer::before {
  position: absolute;
  top: 0;
  left: var(--page-margin-total);
  display: block;
  inline-size: var(--innerWidth);
    block-size: var(--s1);
  background-color: var(--border);
  content: "";
}
footer .col {
  padding-block-start: var(--s8);
  transition: border-color 0.4s var(--easingOut);
}
