a:not([class]) {
	text-decoration-skip-ink: auto;
}
input,
button,
textarea,
select {
	font: inherit;
}
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 100 ms !important;
		animation-iteration-count: 1 !important;
		scroll-behavior: auto !important;
		transition-duration: 100 ms !important;
	}
}
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentcolor;
	stroke: currentcolor;
	stroke-width: 0;
}
.flow>*+* {
	margin-block-start: var(--flow-space, 1em);
}
.text-content :is(h2 + *, h3 + *, h4 + *) {
	--flow-space: 2em;
}
.text-content {
	--flow-space: 1em;
}
.text-r {
	display: flex;
	justify-content: flex-end;
}
.columns {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	padding: 0 var(--pageMarginTotal);
	column-gap: var(--gap);
	transition: padding-left .2s ease, padding-right .2s ease;
	--columns: 12
}
.columns .columns {
	padding: 0;
	.columns.mobile-reverse {
		flex-direction: column-reverse;
	}
}
.col-1 {
	--span: 1;
}
.col-2 {
	--span: 2;
}
.col-3 {
	--span: 3;
}
.col-4 {
	--span: 4;
}
.col-5 {
	--span: 5;
}
.col-6 {
	--span: 6;
}
.col-7 {
	--span: 7;
}
.col-8 {
	--span: 8;
}
.col-9 {
	--span: 9;
}
.col-10 {
	--span: 10;
}
.col-11 {
	--span: 11;
}
.col-12 {
	--span: 12;
}
.col-13 {
	--span: 13;
}
.col-14 {
	--span: 14;
}
.col-15 {
	--span: 15;
}
.col-16 {
	--span: 16;
}
.col-17 {
	--span: 17;
}
.col-18 {
	--span: 18;
}
.col-19 {
	--span: 19;
}
.col-20 {
	--span: 20;
}
.col-21 {
	--span: 21;
}
.col-22 {
	--span: 22;
}
.col-23 {
	--span: 23;
}
.col-24 {
	--span: 24;
}
.offset-1 {
	--offset: 1;
}
.offset-2 {
	--offset: 2;
}
.offset-3 {
	--offset: 3;
}
.offset-4 {
	--offset: 4;
}
.offset-5 {
	--offset: 5;
}
.offset-6 {
	--offset: 6;
}
.offset-7 {
	--offset: 7;
}
.offset-8 {
	--offset: 8;
}
.offset-9 {
	--offset: 9;
}
.offset-10 {
	--offset: 10;
}
.offset-11 {
	--offset: 11;
}
.offset-12 {
	--offset: 12;
}
.offset-13 {
	--offset: 13;
}
.offset-14 {
	--offset: 14;
}
.offset-15 {
	--offset: 15;
}
.offset-16 {
	--offset: 16;
}
.offset-17 {
	--offset: 17;
}
.offset-18 {
	--offset: 18;
}
.offset-19 {
	--offset: 19;
}
.offset-20 {
	--offset: 20;
}
.offset-21 {
	--offset: 21;
}
.offset-22 {
	--offset: 22;
}
.offset-23 {
	--offset: 23;
}
.show-small {
	display: none;
}
@media all and (max-width: var(--s1200)) {
	.col-l-1 {
		--span: 1;
	}
	.col-l-2 {
		--span: 2;
	}
	.col-l-3 {
		--span: 3;
	}
	.col-l-4 {
		--span: 4;
	}
	.col-l-5 {
		--span: 5;
	}
	.col-l-6 {
		--span: 6;
	}
	.col-l-7 {
		--span: 7;
	}
	.col-l-8 {
		--span: 8;
	}
	.col-l-9 {
		--span: 9;
	}
	.col-l-10 {
		--span: 10;
	}
	.col-l-11 {
		--span: 11;
	}
	.col-l-12 {
		--span: 12;
	}
	.col-l-13 {
		--span: 13;
	}
	.col-l-14 {
		--span: 14;
	}
	.col-l-15 {
		--span: 15;
	}
	.col-l-16 {
		--span: 16;
	}
	.col-l-17 {
		--span: 17;
	}
	.col-l-18 {
		--span: 18;
	}
	.col-l-19 {
		--span: 19;
	}
	.col-l-20 {
		--span: 20;
	}
	.col-l-21 {
		--span: 21;
	}
	.col-l-22 {
		--span: 22;
	}
	.col-l-23 {
		--span: 23;
	}
	.col-l-24 {
		--span: 24;
	}
	.offset-l-0 {
		margin-left: 0 !important;
	}
	.offset-l-1 {
		--offset: 1;
	}
	.offset-l-2 {
		--offset: 2;
	}
	.offset-l-3 {
		--offset: 3;
	}
	.offset-l-4 {
		--offset: 4;
	}
	.offset-l-5 {
		--offset: 5;
	}
	.offset-l-6 {
		--offset: 6;
	}
	.offset-l-7 {
		--offset: 7;
	}
	.offset-l-8 {
		--offset: 8;
	}
	.offset-l-9 {
		--offset: 9;
	}
	.offset-l-10 {
		--offset: 10;
	}
	.offset-l-11 {
		--offset: 11;
	}
	.offset-l-12 {
		--offset: 12;
	}
	.offset-l-13 {
		--offset: 13;
	}
	.offset-l-14 {
		--offset: 14;
	}
	.offset-l-15 {
		--offset: 15;
	}
	.offset-l-16 {
		--offset: 16;
	}
	.offset-l-17 {
		--offset: 17;
	}
	.offset-l-18 {
		--offset: 18;
	}
	.offset-l-19 {
		--offset: 19;
	}
	.offset-l-20 {
		--offset: 20;
	}
	.offset-l-21 {
		--offset: 21;
	}
	.offset-l-22 {
		--offset: 22;
	}
	.offset-l-23 {
		--offset: 23;
	}
}
@media all and (max-width: var(--s950)) {
	.type-heading,
	h2 {
		font-feature-settings:
			"tnum" on,
			"lnum" on;
		font-size: var(--s20);
		letter-spacing: -0.03em;
		line-height: 120%;
	}
	.col-m-1 {
		--span: 1;
	}
	.col-m-2 {
		--span: 2;
	}
	.col-m-3 {
		--span: 3;
	}
	.col-m-4 {
		--span: 4;
	}
	.col-m-5 {
		--span: 5;
	}
	.col-m-6 {
		--span: 6;
	}
	.col-m-7 {
		--span: 7;
	}
	.col-m-8 {
		--span: 8;
	}
	.col-m-9 {
		--span: 9;
	}
	.col-m-10 {
		--span: 10;
	}
	.col-m-11 {
		--span: 11;
	}
	.col-m-12 {
		--span: 12;
	}
	.col-m-13 {
		--span: 13;
	}
	.col-m-14 {
		--span: 14;
	}
	.col-m-15 {
		--span: 15;
	}
	.col-m-16 {
		--span: 16;
	}
	.col-m-17 {
		--span: 17;
	}
	.col-m-18 {
		--span: 18;
	}
	.col-m-19 {
		--span: 19;
	}
	.col-m-20 {
		--span: 20;
	}
	.col-m-21 {
		--span: 21;
	}
	.col-m-22 {
		--span: 22;
	}
	.col-m-23 {
		--span: 23;
	}
	.col-m-24 {
		--span: 24;
	}
	.offset-m-0 {
		margin-left: 0 !important;
	}
	.offset-m-1 {
		--offset: 1;
	}
	.offset-m-2 {
		--offset: 2;
	}
	.offset-m-3 {
		--offset: 3;
	}
	.offset-m-4 {
		--offset: 4;
	}
	.offset-m-5 {
		--offset: 5;
	}
	.offset-m-6 {
		--offset: 6;
	}
	.offset-m-7 {
		--offset: 7;
	}
	.offset-m-8 {
		--offset: 8;
	}
	.offset-m-9 {
		--offset: 9;
	}
	.offset-m-10 {
		--offset: 10;
	}
	.offset-m-11 {
		--offset: 11;
	}
	.offset-m-12 {
		--offset: 12;
	}
	.offset-m-13 {
		--offset: 13;
	}
	.offset-m-14 {
		--offset: 14;
	}
	.offset-m-15 {
		--offset: 15;
	}
	.offset-m-16 {
		--offset: 16;
	}
	.offset-m-17 {
		--offset: 17;
	}
	.offset-m-18 {
		--offset: 18;
	}
	.offset-m-19 {
		--offset: 19;
	}
	.offset-m-20 {
		--offset: 20;
	}
	.offset-m-21 {
		--offset: 21;
	}
	.offset-m-22 {
		--offset: 22;
	}
	.offset-m-23 {
		--offset: 23;
	}
}
@media all and (max-width: 768px) {
	body.mobile-menu-open main::after {
		opacity: 0.8;
		pointer-events: all;
	}
	.type-body-12 {
		font-size: var(--s12);
		line-height: 133%;
	}
	header {
		font-size: var(--s12);
		line-height: 133%;
	}
	.col-1,
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.col-9,
	.col-10,
	.col-11,
	.col-12,
	.col-13,
	.col-14,
	.col-15,
	.col-16,
	.col-17,
	.col-18,
	.col-19,
	.col-20,
	.col-21,
	.col-22,
	.col-23,
	.col-24,
	.col-l-1,
	.col-l-2,
	.col-l-3,
	.col-l-4,
	.col-l-5,
	.col-l-6,
	.col-l-7,
	.col-l-8,
	.col-l-9,
	.col-l-10,
	.col-l-11,
	.col-l-12,
	.col-l-13,
	.col-l-14,
	.col-l-15,
	.col-l-16,
	.col-l-17,
	.col-l-18,
	.col-l-19,
	.col-l-20,
	.col-l-21,
	.col-l-22,
	.col-l-23,
	.col-l-24,
	.col-m-1,
	.col-m-2,
	.col-m-3,
	.col-m-4,
	.col-m-5,
	.col-m-6,
	.col-m-7,
	.col-m-8,
	.col-m-9,
	.col-m-10,
	.col-m-11,
	.col-m-12,
	.col-m-13,
	.col-m-14,
	.col-m-15,
	.col-m-16,
	.col-m-17,
	.col-m-18,
	.col-m-19,
	.col-m-20,
	.col-m-21,
	.col-m-22,
	.col-m-23,
	.col-m-24 {
		--span: 4;
	}
	.offset-1,
	.offset-2,
	.offset-3,
	.offset-4,
	.offset-5,
	.offset-6,
	.offset-7,
	.offset-8,
	.offset-9,
	.offset-10,
	.offset-11,
	.offset-12,
	.offset-13,
	.offset-14,
	.offset-15,
	.offset-16,
	.offset-17,
	.offset-18,
	.offset-19,
	.offset-20,
	.offset-21,
	.offset-22,
	.offset-23 {
		--offset: 0;
		margin-left: 0 !important;
	}
	.hide-small {
		display: none;
	}
	.col {
		width: 100%;
		flex: none;
	}
	.col-s-1 {
		--span: 1;
	}
	.col-s-2 {
		--span: 2;
	}
	.col-s-3 {
		--span: 3;
	}
	.col-s-4 {
		--span: 4;
	}
	.col-s-5 {
		--span: 5;
	}
	.col-s-6 {
		--span: 6;
	}
	.col-s-7 {
		--span: 7;
	}
	.col-s-8 {
		--span: 8;
	}
	.col-s-9 {
		--span: 9;
	}
	.col-s-10 {
		--span: 10;
	}
	.col-s-11 {
		--span: 11;
	}
	.col-s-12 {
		--span: 12;
	}
	.col-s-13 {
		--span: 13;
	}
	.col-s-14 {
		--span: 14;
	}
	.col-s-15 {
		--span: 15;
	}
	.col-s-16 {
		--span: 16;
	}
	.col-s-17 {
		--span: 17;
	}
	.col-s-18 {
		--span: 18;
	}
	.col-s-19 {
		--span: 19;
	}
	.col-s-20 {
		--span: 20;
	}
	.col-s-21 {
		--span: 21;
	}
	.col-s-22 {
		--span: 22;
	}
	.col-s-23 {
		--span: 23;
	}
	.col-s-24 {
		--span: 24;
	}
	.offset-s-0 {
		margin-left: 0 !important;
	}
	.offset-s-1 {
		--offset: 1;
	}
	.offset-s-2 {
		--offset: 2;
	}
	.offset-s-3 {
		--offset: 3;
	}
	.offset-s-4 {
		--offset: 4;
	}
	.offset-s-5 {
		--offset: 5;
	}
	.offset-s-6 {
		--offset: 6;
	}
	.offset-s-7 {
		--offset: 7;
	}
	.offset-s-8 {
		--offset: 8;
	}
	.offset-s-9 {
		--offset: 9;
	}
	.offset-s-10 {
		--offset: 10;
	}
	.offset-s-11 {
		--offset: 11;
	}
	.offset-s-12 {
		--offset: 12;
	}
	.offset-s-13 {
		--offset: 13;
	}
	.offset-s-14 {
		--offset: 14;
	}
	.offset-s-15 {
		--offset: 15;
	}
	.offset-s-16 {
		--offset: 16;
	}
	.offset-s-17 {
		--offset: 17;
	}
	.offset-s-18 {
		--offset: 18;
	}
	.offset-s-19 {
		--offset: 19;
	}
	.offset-s-20 {
		--offset: 20;
	}
	.offset-s-21 {
		--offset: 21;
	}
	.offset-s-22 {
		--offset: 22;
	}
	.offset-s-23 {
		--offset: 23;
	}
	.col {
		width: 100%;
		flex: none;
	}
	.show-small {
		display: flex;
	}
	.hide-small {
		display: none;
	}
	.small-right {
		text-align: right;
	}
	@font-face {
		font-family: SoehneBuch;
		font-style: normal;
		font-weight: 400;
		src: url("/fonts/soehne-buch.woff2") format("woff2");
	}
	.type-heading,
	h2 {
		font-feature-settings:
			"tnum" on,
			"lnum" on;
		font-size: 2 var(--s8);
		font-weight: 400;
		letter-spacing: -0.03em;
		line-height: 114%;
	}
	.type-body-14 {
		font-size: var(--s14);
		letter-spacing: -0.02em;
		line-height: 114%;
	}
	.type-body-12 {
		font-size: var(--s12);
		line-height: 100%;
	}
	.bg-black {
		background-color: var(--dark-text);
	}
	.bg-grey-80 {
		background-color: var(--grey-80);
	}
	.bg-grey-70 {
		background-color: var(--grey-70);
	}
	.bg-grey-60 {
		background-color: var(--grey-60);
	}
	.bg-grey-50 {
		background-color: var(--grey-50);
	}
	.bg-grey-40 {
		background-color: var(--grey-40);
	}
	.bg-grey-30 {
		background-color: var(--grey-30);
	}
	.bg-grey-20 {
		background-color: var(--grey-20);
	}
	.bg-grey-10 {
		background-color: var(--grey-10);
	}
	.bg-grey-5 {
		background-color: var(--grey-5);
	}
	.bg-white {
		background-color: var(--page-bg);
	}
	.color-black {
		color: var(--dark-text);
	}
	.color-grey-80 {
		color: var(--grey-80);
	}
	.color-grey-70 {
		color: var(--grey-70);
	}
	.color-grey-60 {
		color: var(--grey-60);
	}
	.color-grey-50 {
		color: var(--grey-50);
	}
	.color-grey-40 {
		color: var(--grey-40);
	}
	.color-grey-30 {
		color: var(--grey-30);
	}
	.color-grey-20 {
		color: var(--grey-20);
	}
	.color-grey-10 {
		color: var(--grey-10);
	}
	.color-grey-5 {
		color: var(--grey-5);
	}
	.color-white {
		color: var(--white);
	}
	.grid-overlay {
		position: fixed;
		z-index: 200;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
	}
	.grid-overlay.show {
		opacity: 1;
		visibility: visible;
	}
	.grid-overlay .column-overlay {
		height: 100vh;
		background: red;
		opacity: 0.1;
	}
	.transition-fade {
		opacity: 1;
		transition: opacity 0.3s var(--easing);
	}
	html.is-animating .transition-fade {
		opacity: 0;
	}
	body {
		var(--black): var(--grey-80);
		--border: var(--grey-10);
		--active: var(--grey-40);
		--inactive: var(--grey-30);
		--page-card: var(--grey-5);
		--page-card-hover: var(--grey-10);
		var(--black)-2: var(--grey-40);
		--number var(--grey-30);
		--page-footer: var(--grey-80);
		--page-table-text-1: var(--grey-50);
		--page-table-text-2: var(--grey-40);
		--page-table-border: var(--grey-10);
		color: var(--dark-text);
		font-family: SoehneBuch, sans-serif;
		font-size: var(--s14);
		letter-spacing: -0.02em;
		line-height: 114%;
		transition:
			background-color 0.4s var(--easingOut),
			color 0.4s var(--easingOut);
	}
	body.dark-mode {
		--page-bg: var(--black);
		var(--black): var(--white);
		--border: var(--grey-70);
		--active: var(--grey-30);
		--inactive: var(--grey-50);
		--button-default: var(--grey-70);
		--button-hover: var(--grey-60);
		--button-active: var(--grey-50);
		--page-card: var(--grey-70);
		--page-card-hover: var(--grey-60);
		var(--black)-2: var(--grey-50);
		--number var(--grey-40);
		--page-footer: var(--grey-50);
		--page-table-text-1: var(--grey-40);
		--page-table-text-2: var(--grey-30);
		--page-table-border: var(--grey-60);
	}
	body.dark-mode .specifics.css {
		--button-default: var(--grey-80);
		body {
			font-size: var(--s12);
			line-height: 133%;
		}
	}
	body.text-mode .project .frame img,
	body.text-mode .page-transition img,
	body.text-mode .specifics.css-image img {
		animation: unset;
		opacity: 0;
	}
	body.text-mode .project .frame {
		animation: pulse 8s infinite ease;
	}
	body.text-mode .project:nth-child(1) .frame {
		animation-delay: 2.8s;
	}
	body.text-mode .project:nth-child(2) .frame {
		animation-delay: 4.8s;
	}
	body.text-mode .project:nth-child(3) .frame {
		animation-delay: 4.4s;
	}
	body.text-mode .project:nth-child(4) .frame {
		animation-delay: 0.8s;
	}
	body.text-mode .project:nth-child(5) .frame {
		animation-delay: 5.6s;
	}
	body.text-mode .project:nth-child(6) .frame {
		animation-delay: 5.2s;
	}
	body.text-mode .project:nth-child(7) .frame {
		animation-delay: 4s;
	}
	body.text-mode .project:nth-child(8) .frame {
		animation-delay: 4.8s;
	}
	body.text-mode .project:nth-child(9) .frame {
		animation-delay: 3.2s;
	}
	body.text-mode .project:nth-child(10) .frame {
		animation-delay: 3.6s;
	}
	body.text-mode .project:nth-child(11) .frame {
		animation-delay: 2.8s;
	}
	body.text-mode .project:nth-child(12) .frame {
		animation-delay: 4.8s;
	}
	body.text-mode .project:nth-child(13) .frame {
		animation-delay: 3.6s;
	}
	body.text-mode .project:nth-child(14) .frame {
		animation-delay: 2.4s;
	}
	body.text-mode .project:nth-child(15) .frame {
		animation-delay: 5.2s;
	}
	body.text-mode .project:nth-child(16) .frame {
		animation-delay: 1.6s;
	}
	body.text-mode .project:nth-child(17) .frame {
		animation-delay: 2s;
	}
	body.text-mode .project:nth-child(18) .frame {
		animation-delay: 1.2s;
	}
	body.text-mode .project:nth-child(19) .frame {
		animation-delay: 0.4s;
	}
	body.text-mode .project:nth-child(20) .frame {
		animation-delay: 5.6s;
	}
	body.text-mode .project:nth-child(21) .frame {
		animation-delay: 3.2s;
	}
	body.text-mode .project:nth-child(22) .frame {
		animation-delay: 0.4s;
	}
	body.text-mode .project:nth-child(23) .frame {
		animation-delay: 3.2s;
	}
	body.text-mode .project:nth-child(24) .frame {
		animation-delay: 2.4s;
	}
	body.text-mode .project:nth-child(25) .frame {
		animation-delay: 1.6s;
	}
	body.text-mode .project:nth-child(26) .frame {
		animation-delay: 4s;
	}
	body.text-mode .project:nth-child(27) .frame {
		animation-delay: 4s;
	}
	body.text-mode .project:nth-child(28) .frame {
		animation-delay: 3.2s;
	}
	body.text-mode .project:nth-child(29) .frame {
		animation-delay: 1.6s;
	}
	body.text-mode .project:nth-child(30) .frame {
		animation-delay: 2s;
	}
	body.text-mode .project:nth-child(31) .frame {
		animation-delay: 2.8s;
	}
	body.text-mode .project:nth-child(32) .frame {
		animation-delay: 3.6s;
	}
	body.text-mode .project:nth-child(33) .frame {
		animation-delay: 4.4s;
	}
	body.text-mode .project:nth-child(34) .frame {
		animation-delay: 2s;
	}
	body.text-mode .project:nth-child(35) .frame {
		animation-delay: 4s;
	}
	body.text-mode .project:nth-child(36) .frame {
		animation-delay: 5.2s;
	}
	body.text-mode .project:nth-child(37) .frame {
		animation-delay: 5.6s;
	}
	body.text-mode .project:nth-child(38) .frame {
		animation-delay: 4.4s;
	}
	body.text-mode .project:nth-child(39) .frame {
		animation-delay: 5.6s;
	}
	body.text-mode .project:nth-child(40) .frame {
		animation-delay: 0.8s;
	}
	body.text-mode .project:nth-child(41) .frame {
		animation-delay: 0.4s;
	}
	body.text-mode .project:nth-child(42) .frame {
		animation-delay: 0.4s;
	}
	body.text-mode .project:nth-child(43) .frame {
		animation-delay: 3.6s;
	}
	body.text-mode .project:nth-child(44) .frame {
		animation-delay: 5.2s;
	}
	body.text-mode .project:nth-child(45) .frame {
		animation-delay: 4.8s;
	}
	body.text-mode .project:nth-child(46) .frame {
		animation-delay: 3.6s;
	}
	body.text-mode .project:nth-child(47) .frame {
		animation-delay: 1.2s;
	}
	body.text-mode .project:nth-child(48) .frame {
		animation-delay: 5.2s;
	}
	body.text-mode .project:nth-child(49) .frame {
		animation-delay: 3.6s;
	}
	body.text-mode .project:nth-child(50) .frame {
		animation-delay: 4s;
	}
	body.mono-mode .project,
	body.mono-mode .specifics.css-image,
	body.mono-mode .page-transition {
		filter: grayscale(1);
	}
}
::selection {
	background-color: var(--dark-text);
	color: var(--page-bg);
}
.color-secondary {
	color: var(--dark-text)-2);
}
.color-active,
.color-label {
	color: var(--active);
}
.color-inactive {
	color: var(--inactive);
}
header {
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	width: 100%;
	font-size: var(--s12);
	line-height: 100%;
}
header p {
	color: var(--active);
}
header ul li a {
	color: var(--dark-text);
	text-decoration: none;
}
header ul li a:hover {
	color: var(--active);
}
header ul li.active a {
	color: var(--active);
}
header .show-small {
	justify-content: flex-end;
}
header .header-button {
	position: relative;
}
header .header-button button {
	position: relative;
	z-index: 25;
}
header .header-button button .icon-minus {
	display: none;
}
header .header-button button.active .icon-menu {
	display: none;
}
header .header-button button.active .icon-minus {
	display: inline-block;
}
header .header-button .mobile-menu-box-animate {
	position: absolute;
	z-index: 22;
	top: calc(-1 * var(--s12));
	right: 0;
	width: 0;
	height: 0;
	border-radius: var(--s6);
	background-color: var(--border);
}
header .header-button .mobile-menu-box-animate.animate-in {
	animation: mobileMenuBoxIn 0.4s forwards var(--easing);
}
header .header-button .mobile-menu-box-animate.animate-out {
	width: calc(100vw var(--pageMarginTotal) * 2);
	height: var(--targetHeight);
	animation: mobileMenuBoxOut 0.4s 0.2s forwards var(--easing);
}
header .header-button .mobile-menu-box {
	position: absolute;
	z-index: 23;
	top: calc(-1 * var(--s12));
	right: 0;
	width: calc(100vw var(--pageMarginTotal) * 2);
	padding: var(--s16) var(--s12) var(--layout-space);
	color: var(--dark-text);
	opacity: 0;
	pointer-events: none;
	transition:
		opacity 0.2s ease,
		visibility 0.2s ease;
	visibility: hidden;
}
header .header-button .mobile-menu-box.show {
	transition:
		opacity 0.2s 0.4s ease,
		visibility 0.2s 0.4s ease;
}
header .header-button .mobile-menu-box p {
	margin-bottom: var(--s12);
	color: inherit;
}
header .header-bottom {
	position: relative;
	z-index: 2;
	padding-top: var(--s8);
	padding-bottom: var(--s8);
	border-bottom: var(--s1) solid var(--page-bg);
	background-color: var(--page-bg);
	transition:
		background-color 0.4s var(--easingOut),
		transform 0.8s var(--easing),
		border-color 0.4s var(--easingOut);
	header .header-bottom {
		padding-top: var(--s12);
		padding-bottom: var(--s12);
	}
}
header.scrolled .header-bottom {
	border-bottom: var(--s1) solid var(--border);
}
header.scrolled.hide .header-bottom {
	transform: translateY(-100%);
}
@keyframes mobileMenuBoxIn {
	0% {
		width: 0;
		height: 4 var(--s8);
	}
	50% {
		width: calc(100vw var(--pageMarginTotal) * 2);
		height: 4 var(--s8);
	}
	100% {
		width: calc(100vw var(--pageMarginTotal) * 2);
		height: var(--targetHeight);
	}
}
@keyframes mobileMenuBoxOut {
	0% {
		width: calc(100vw var(--pageMarginTotal) * 2);
		height: var(--targetHeight);
	}
	50% {
		width: calc(100vw var(--pageMarginTotal) * 2);
		height: 4 var(--s8);
	}
	100% {
		width: 0;
		height: 4 var(--s8);
	}
}
.header-logo {
	position: relative;
	z-index: 5;
	width: 100%;
	padding: var(--s13) 0 var(--s11);
	border-bottom: var(--s1) solid var(--border);
	background-color: var(--page-bg);
	transition:
		background-color 0.4s var(--easingOut),
		border-color 0.4s var(--easingOut);
	.header-logo.menu-open {
		border-color: transparent;
	}
}
.header-logo svg {
	display: block;
	width: 100%;
	height: auto;
}
.header-logo svg path {
	fill: var(--black);
	transition: fill 0.4s var(--easingOut);
}
@media (hover: hover) {
	.header-logo:hover .hide-letter.hide {
		animation: fadeIn 0.2s forwards var(--easingOut);
		animation-delay: calc(var(--i) * 100ms);
		opacity: 0;
	}
}
.hide-letter.hide {
	animation: fadeOut 0.2s forwards var(--easingOut);
	animation-delay: calc(var(--i) * 100ms);
}
@keyframes fadeIn {
	100% {
		opacity: 1;
	}
}
@keyframes fadeOut {
	100% {
		opacity: 0;
	}
}
.visitor-info {
	display: flex;
	justify-content: flex-end;
	.site-config .config-option {
		margin-bottom: var(--s8);
	}
}
.site-config .config-option button {
	display: flex;
	min-width: var(--s119);
	align-items: center;
	justify-content: space-between;
	border: 0;
	appearance: none;
	background: transparent;
	color: var(--active);
	cursor: pointer;
	gap: var(--s8);
	outline: 0;
	.site-config .config-option button {
		display: grid;
		min-width: 100%;
		gap: var(--gap);
		grid-template-columns: repeat(2, 1fr);
	}
	.site-config .config-option button>* {
		justify-self: start;
	}
}
@media (hover: hover) {
	.site-config .config-option button:hover {
		color: var(--dark-text);
	}
}
.site-config .config-option button>.indicator {
	color: var(--inactive);
}
.site-config .config-option button>.indicator>span {
	display: inline-block;
	width: var(--s9);
	color: var(--dark-text);
}
ul.mobile-contact-info li {
	display: grid;
	color: var(--active);
	gap: var(--gap);
	grid-template-columns: repeat(2, 1fr);
}
ul.mobile-contact-info li:not(:last-child) {
	margin-bottom: var(--s12);
}
hr {
	border: 0;
	border-bottom: var(--s1) solid var(--button-hover);
	margin-top: var(--s21);
	margin-bottom: var(--s16);
	outline: 0;
}
.button {
	display: flex;
	width: var(--layout-space);
	height: var(--layout-space);
	align-items: center;
	justify-content: center;
	border: 0;
	border-radius: 100%;
	background-color: var(--page-button-default);
	color: inherit;
	cursor: pointer;
	font-size: var(--s8);
	outline: 0;
}
@media (hover: hover) {
	.button:hover {
		background-color: var(--page-button-hover);
	}
}
.button:active {
	background-color: var(--page-button-active);
}
main {
	position: relative;
	z-index: 5;
	margin-top: var(--headerheight);
}
main::after {
	position: absolute;
	z-index: 20;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% + var(--s70));
	background-color: var(--page-bg);
	content: "";
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.4s var(--easingOut);
}
.projects-filter {
	padding-top: var(--s8);
	border-top: var(--s1) solid var(--border);
	margin-top: var(--s120);
	.projects-filter {
		margin-top: var(--s80);
	}
}
.projects {
	display: grid;
	margin-top: var(--s120);
	gap: var(--s40) var(--gap);
	grid-template-columns: repeat(4, 1fr);
	.projects {
		grid-template-columns: repeat(2, 1fr);
	}
	.projects {
		margin-top: var(--s80);
		grid-template-columns: repeat(1, 1fr);
	}
}
.project {
	padding-top: var(--s8);
	border-top: var(--s1) solid var(--border);
	color: var(--dark-text);
	text-decoration: none;
}
.project .top {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding-bottom: var(--s8);
	margin-bottom: var(--s12);
}
.project .card {
	position: relative;
	border-radius: var(--s6);
	aspect-ratio: 1;
	background-color: var(--page-card);
	transition: background-color 0.2s var(--easingOut);
}
.project .card .frame {
	position: absolute;
	bottom: 0;
	left: 50%;
	overflow: hidden;
	width: 73%;
	aspect-ratio: 824/973;
	background-color: hsl(var(--project-hue) var(--project-sat) var(--project-lum) / 100%);
	transform: translate(-50%);
}
.project .card .frame img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.project .card:hover {
	background-color: var(--page-card-hover);
}
.project .project-type {
	color: var(--dark-text)-2);
}
.project .project-number {
	color: var(--page-number);
}
.reveal img {
	opacity: 0;
	transition:
		transform 0.8s var(--easing),
		opacity 0.2s var(--easing),
		clip-path 0.8s var(--easing);
	transition-delay: calc(var(--i) * 0.06s);
}
.reveal.has-been-seen img {
	opacity: 1;
}
.reveal.animation-complete img {
	clip-path: none;
	transform: none;
}
@keyframes pulse {
	0% {
		background-color: hsl(var(--project-hue) var(--project-sat) var(--project-lum) / 100%);
	}
	10% {
		background-color: hsl(var(--project-hue) var(--project-sat) var(--project-pulse) / 100%);
	}
	20%,
	100% {
		background-color: hsl(var(--project-hue) var(--project-sat) var(--project-lum) / 100%);
	}
}
footer {
	position: relative;
	padding-bottom: var(--s16);
	margin-top: var(--s32);
	color: var(--page-footer);
}
footer::before {
	position: absolute;
	top: 0;
	left: var(--pageMarginTotal);
	display: block;
	width: var(--innerWidth);
	height: var(--s1);
	background-color: var(--border);
	content: "";
}
footer .col {
	padding-top: var(--s8);
	transition: border-color 0.4s var(--easingOut);
}
.page-transition {
	--targetWidth: calc((100vw - (var(--pageMarginTotal) * 2) - var(--layout-space)));
	--targetTop: calc(var(--headerheight) + var(--s12));
	--targetLeft: calc(var(--pageMarginTotal) + var(--s12));
}
}
.page-transition img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.page-transition.animate {
	animation: pageImageTransition 0.5s forwards var(--easing);
}
.page-transition.close-animate {
	animation: pageImageClose 0.5s forwards var(--easing);
}
@keyframes pageImageTransition {
	100% {
		top: var(--targetTop);
		left: var(--targetLeft);
		width: var(--targetWidth);
	}
}
@keyframes pageImageClose {
	100% {
		top: var(--endTop);
		left: var(--endLeft);
		width: var(--endWidth);
		height: var(--endHeight);
	}
}
.specifics.css {
	padding: var(--s16);
	border-radius: var(--s6);
	background-color: var(--page-card);
	.specifics.css {
		padding: var(--s12);
	}
}
.specifics.css .specifics.css-image {
	position: relative;
	overflow: hidden;
	aspect-ratio: 824/973;
	background-color: hsl(var(--project-hue) var(--project-sat) var(--project-lum) / 100%);
	opacity: 0;
	transition: opacity 0.2s ease;
}
.specifics.css .specifics.css-image.show {
	opacity: 1;
}
.specifics.css .specifics.css-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	.specifics.css .col+.col {
		margin-top: var(--layout-space);
	}
}
.specifics.css .col {
	position: relative;
}
.specifics.css .button.close-project {
	position: absolute;
	z-index: 50;
	top: 0;
	right: 0;
	width: var(--s32);
	height: var(--s32);
	filter: drop-shadow(var(--s1) var(--s1) var(--s2) rgb(0 0 0 / 8%));
	inset: auto auto var(--s32) 50%;
	transform: translate(-50%);
}
.work-meta-rows {
	margin-top: var(--layout-space);
}
.work-meta-rows .work-meta-row {
	display: grid;
	padding: var(--s8) 0;
	border-top: var(--s1) solid var(--page-table-border);
	column-gap: calc(var(--gap) + var(--s16));
	grid-template-columns: repeat(2, 1fr);
}
.work-meta-rows .work-meta-row a {
	color: inherit;
	text-decoration: none;
}
.work-meta-rows .work-meta-row a:hover {
	opacity: 0.7;
}
.work-meta-rows .work-meta-row .left {
	color: var(--page-table-text-1);
}
.work-meta-rows .work-meta-row .right {
	color: var(--page-table-text-2);
}
p a {
	color: inherit;
	text-decoration: none;
}
p a:hover {
	opacity: 0.7;
}
.flex-row {
	display: flex;
	gap: var(--gap);
}
.min-col {
	min-width: calc((100vw var(--gap) * 11 var(--pageMarginTotal) * 2) / 12);
	.min-col {
		min-width: calc((100vw var(--gap) * 1 var(--pageMarginTotal) * 2) / 2);
	}
}
section.information-row {
	padding-top: var(--s8);
	padding-bottom: var(--s200);
	border-top: var(--s1) solid var(--border);
}
section.information-row:first-child {
	margin-top: var(--s120);
	section.information-row:first-child {
		margin-top: var(--s80);
	}
	section.information-row {
		padding-bottom: var(--s80);
	}
	section.information-row .col+.col {
		margin-top: var(--s40);
	}
}
.text-content h2 {
	max-width: var(--s530);
}
.text-content p {
	max-width: var(--s395);
}
.index-list .index-list-row {
	position: relative;
	display: grid;
	color: var(--dark-text);
	font-feature-settings:
		"tnum" on,
		"lnum" on;
	font-size: 2 var(--s8);
	font-weight: 400;
	gap: var(--gap);
	grid-template-columns: repeat(6, 1fr);
	letter-spacing: -0.03em;
	line-height: 114%;
	text-decoration: none;
}
.index-list .index-list-row::after {
	position: absolute;
	z-index: -1;
	top: -1px;
	left: - var(--s8);
	display: block;
	width: calc(100% +var(--s8));
	height: calc(100% + var(--s4));
	background-color: var(--dark-text);
	content: "";
	opacity: 0;
}
.index-list .index-list-row {
	font-feature-settings:
		"tnum" on,
		"lnum" on;
	font-size: var(--s20);
	letter-spacing: -0.03em;
	line-height: 120%;
}
.index-list .index-list-row .client {
	grid-column: span 4;
	.index-list .index-list-row .client {
		grid-column: span 5;
	}
}
.index-list .index-list-row .number {
	color: var(--inactive);
	grid-column: span 1;
	.index-list .index-list-row .number {
		padding-right: var(--s8);
		justify-self: end;
	}
}
.index-list .index-list-row .index-icon {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: var(--s8);
	font-size: var(--s20);
	grid-column: span 1;
	opacity: 0;
	.index-list .index-list-row .index-icon {
		display: none;
	}
}
.index-list .index-list-row:hover {
	color: var(--page-bg);
}
.index-list .index-list-row:hover .index-icon {
	opacity: 1;
}
.index-list .index-list-row:hover::after {
	opacity: 1;
}
.index-list .index-list-row.disabled {
	color: var(--inactive);
}
.index-list .index-list-row.disabled::after {
	display: none;
}
.signature {
	position: relative;
	margin-top: var(--s35);
	font-size: var(--s120);
	.signature {
		margin-top: var(--s20);
		font-size: var(--s90);
	}
}
.signature::after {
	position: absolute;
	z-index: -1;
	bottom: var(--s50);
	left: 0;
	display: block;
	width: 100%;
	height: var(--s1);
	background-color: var(--border);
	content: "";
	.signature::after {
		bottom: var(--s36);
	}
}
