/** @format */

@import url("https://fonts.googleapis.com/css?family=Lato"); /* These are open source fonts and can be found at https://fonts.google.com thus the font*/
@import url("https://fonts.googleapis.com/css?family=Yrsa"); /*files do not need to be included in theassets folder like the three fonts below */

@font-face {
	font-family: "Acuminprowide_Sans"; /* You can change the name of the any of these later fonts if you think they will be easier to reference */
	src: url("assets/Acuminprowide_Sans.otf") format("opentype"); /* Path to the font OTF file within this repository*/
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "ArgenturDisplay";
	src: url("assets/AgenturDisplay.ttf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Adieu-Regular";
	src: url("assets/Adieu-Regular.ttf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
.title {
	font-size: 180px;
	font-weight: bold;
}
html,
body {
	margin: 10px;
	color: #000000;
	font-family: "AcuminProwide_Sans", sans-serif;
	font-weight: 450;
	background-color: transparent;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	font-size: 13px;
	line-height: 17px;
	overflow: auto;
	position: relative;
}

#RightContainer {
	top: 100px;
	right: 20px;
	padding: 20px;
	background-color: #f7f7f7;
	bottom: 0;
	font-family: futura, "Lato";
	position: fixed;
	overflow-y: scroll;
	overflow-x: hidden;
	font-size: 14px;
	line-height: 20px;
	border: 1px solid black;
}

#LeftContainer,
#MiddleContainer,
#Links_ArtworkTitles,
#Ephemera {
	top: 150px;
	position: relative;
	-webkit-overflow-scrolling: touch;
	-moz-osx-overflow-scrolling: touch;
	-ms-overflow-style: none;
	-moz-osx-overflow-style: none;
	scrollbar-width: none;
}

.Links_NavigationTopRight {
	display: flex;
}
.Links_ArtworkInitials {
	scrollbar-width: none;
	margin-top: 70px;
	position: fixed;
	overflow: hidden;
}
#Links_ArtworkTitles {
	margin-top: 70px;
	position: fixed;
	overflow: hidden;
	left: 50px;
	z-index: 99;
	top: 100px;
	top: 150px;
	position: relative;
	-webkit-overflow-scrolling: touch;
	-moz-osx-overflow-scrolling: touch;
	-ms-overflow-style: none;
	-moz-osx-overflow-style: none;
}

/*.scrollable-element {
	scrollbar-width: none; /*For Firefox
	overflow: -moz-scrollbars-none;For older Firefox versions
}*/

a {
	/*This sets the default style of all the links on the site*/
	text-decoration: none;
	color: black;
	cursor: pointer;
}

a:hover {
	/*This defines how links will change when you hover over them. Right not a strike line appears across the linked word.*/
	text-decoration: line-through;
	color: black;
}

.center-align {
	/*This centers images in the middle contaner and text in the context column*/
	display: flex;
	justify-content: center;
}

.hdr {
	/*This defines the style of the header*/
	justify-content: flex-start;
	position: flex;
	flex-direction: column;
}

h1 {
	/*This defines the style of the title*/
	margin-bottom: 30px;
	text-align: center;
}

h4 {
	/* this defines the Context line separator and the space around it*/
	margin-bottom: 10px;
	text-align: center;
}

.lineP {
	/*paragraphs*/
	margin-top: 30px;
}

.fig {
	/*images*/
	cursor: pointer;
}

.Context_LineSeparator {
	/*Context line separator*/
	border-top: 1px solid black;
}

#videos {
	/*videos*/
	display: flex;
	margin-bottom: 50px;
}

.cvTable {
	/* table organized table*/
	width: 90%;
}

td {
	/* table organized data point*/
	padding-right: 10px;
}

#cv {
	/* something to do with my cv*/
	margin-top: 200px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.title {
	font-size: 18px;
	font-weight: bold;
}

.yr {
	/*year*/
	color: #aaaaaa;
}

#Efemera {
	left: 25%;
	overflow: scroll;
}

.eph {
	/*ephemera*/
	position: fixed;
	border: 1px solid black;
	z-index: 100;
	margin: 5px;
	visibility: hidden;
}

#ClickEnlargePhoto {
	/*opens a larger image when you click on it*/
	visibility: hidden;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	border: 2px solid black;
}
