<<<<<<< HEAD
.modal-card-close-button,
.modal-close-button,
.delete {
  position: relative;
  display: inline-block;
  inline-size: var(--s20);
  min-inline-size: var(--s20);
  max-inline-size: var(--s20);
  block-size: var(--s20);
  min-block-size: var(--s20);
  max-block-size: var(--s20);
  flex-grow: 0;
  flex-shrink: 0;
  border: none;
  border-radius: var(--s200);
  background-color: #0000;
  color: inherit;
  cursor: pointer;
  font-size: 0;
  outline: none;
  vertical-align: top;
}
.modal-card-close-button::before,
.modal-close-button::before,
.delete::before,
.modal-card-close-button::after,
.modal-close-button::after,
.delete::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  border: #0000 solid var(--s1);
  background-color: currentcolor;
  content: "";
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform-origin: center;
}
.modal-card-close-button::before,
.modal-close-button::before,
.delete::before {
  inline-size: 50%;
}
.modal-card-close-button::after,
.modal-close-button::after,
.delete::after {
  block-size: 50%;
}
.modal-card-close-button:hover::before,
.modal-close-button:hover::before,
.delete:hover::before,
.modal-card-close-button:hover::after,
.modal-close-button:hover::after,
.delete:hover::after,
.modal-card-close-button:focus-visible::before,
.modal-close-button:focus-visible::before,
.delete:focus-visible::before,
.modal-card-close-button:focus-visible::after,
.modal-close-button:focus-visible::after,
.delete:focus-visible::after {
  border-color: currentcolor;
}
.delete-sm.modal-card-close-button,
.delete-sm.modal-close-button,
.delete-sm.delete {
  inline-size: var(--s16);
  min-inline-size: var(--s16);
  max-inline-size: var(--s16);
  block-size: var(--s16);
  min-block-size: var(--s16);
  max-block-size: var(--s16);
}
.delete-md.modal-card-close-button,
.delete-md.modal-close-button,
.delete-md.delete {
  inline-size: var(--layout-space);
  min-inline-size: var(--layout-space);
  max-inline-size: var(--layout-space);
  block-size: var(--layout-space);
  min-block-size: var(--layout-space);
  max-block-size: var(--layout-space);
}
.delete-lg.modal-card-close-button,
.delete-lg.modal-close-button,
.delete-lg.delete {
  inline-size: var(--s32);
  min-inline-size: var(--s32);
  max-inline-size: var(--s32);
  block-size: var(--s32);
  min-block-size: var(--s32);
  max-block-size: var(--s32);
=======
.color-primary {
  color: #75b6e7 !important;
}
.theme-dark {
  --theme-box-shadow-light: #0000001c;
  --theme-box-shadow-medium: #00000021;
}
html,
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}
.modal-tab-sentinel {
  position: fixed;
  top: 0;
  left: 0;
>>>>>>> 5dc39fa4 (2)
}
.modal {
  position: fixed;
  z-index: 1050;
  display: none;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
<<<<<<< HEAD
}
.modal.is-active {
  display: flex;
}
.modal p {
  margin: 0;
}
.modal .buttons:last-child {
  margin-block-end: 0;
}
.modal-background {
  background-color: #00000080;
}
.modal-background + div:not(.modal-content) {
  display: flex;
  inline-size: 100%;
  block-size: 100%;
=======
  inset: 0;
}
.modal-active {
  display: flex;
  margin: 0 !important;
}
.icon,
.icon svg,
.icon img {
  width: 1em;
  height: 1em;
}
.modal-background {
  position: absolute;
  background-color: var(--grey-20);
  inset: 0;
  outline-color: var(--grey-20);
}
.modal-background + div:not(.modal-content) {
  display: flex;
  width: 100%;
  height: 100%;
>>>>>>> 5dc39fa4 (2)
  align-items: center;
  justify-content: center;
}
.modal-content {
<<<<<<< HEAD
  overflow-y: auto;
}
@media screen and (min-inline-size: 768px), print {
  .modal-content {
    inline-size: auto;
    max-inline-size: calc(100vw - var(--s40));
  }
}
@media screen and (min-inline-size: 768px), print {
  .modal-card {
    overflow: hidden;
    inline-size: var(--s600);
    border-radius: 0.375rem;
  }
  .modal-card-full {
    position: fixed !important;
    top: 3%;
    right: 1%;
    left: 1%;
    overflow: auto;
    inline-size: 98%;
    block-size: 80%;
  }
}
.modal-content,
.modal-card {
  position: relative;
  max-block-size: 100%;
  margin: 0 var(--s20);
  overflow-y: auto;
}
@media screen and (min-inline-size: 768px), print {
  .modal-content,
  .modal-card {
    margin: 0 auto;
  }
}
@media screen and (max-inline-size: 767px) {
  .modal-content.fill-mobile,
  .modal-card.fill-mobile {
    inline-size: 100%;
    max-inline-size: 100vw;
    block-size: 100vh;
    max-block-size: 100%;
    border-radius: 0;
    margin: 0;
  }
  .modal-content.restrict-height,
  .modal-card.restrict-height {
    max-block-size: 82vh;
  }
}
.modal-allow-overflow {
  overflow: visible;
}
.modal-content.is-docked-left,
.modal-content.is-docked-right {
  position: fixed;
  top: 0 !important;
  bottom: 0 !important;
  inline-size: 3 var(--s20) !important;
  max-inline-size: 100% !important;
  max-block-size: 100vh !important;
  margin: 0 !important;
}
.modal-card-body {
  flex-grow: 1;
  flex-shrink: 1;
  padding: var(--s20);
}
.modal-content.is-docked-left.modal-sidebar,
.modal-content.is-docked-right.modal-sidebar {
  z-index: 10001;
  inline-size: 5var (--s50) !important;
}
.modal-content.is-docked-left.modal-sidebar .modal-card-body,
.modal-content.is-docked-right.modal-sidebar .modal-card-body {
  block-size: calc(100% - 5 var(--s8));
}
.modal-content.is-docked-left.modal-sidebar .modal-card-body form,
.modal-content.is-docked-right.modal-sidebar .modal-card-body form {
  block-size: 100%;
}
.modal-content.is-docked-left {
  left: 0 !important;
}
.modal-content.is-docked-right {
  right: 0 !important;
}
.modal-close-button {
  position: fixed;
  top: var(--s20);
  right: var(--s20);
  inline-size: var(--s40);
  block-size: var(--s40);
}
.modal-card {
  display: flex;
  inline-size: var(--s800) !important;
  max-block-size: calc(100vh - var(--s40));
  flex-direction: column;
}
.modal-card-close-button {
  margin-inline-start: auto;
}
.modal-card-close-button.is-sticky {
  position: absolute;
  z-index: 1050;
  top: var(--s16);
  right: 0.5rem;
}
.modal-card-close-button.has-color-transition {
  transition: color 0.25s;
}
.modal-card-head,
.modal-card-foot {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-start;
  padding: var(--s20);
}
.modal-card-title {
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 1.125rem;
  line-height: 1;
}
.modal-card-foot .button:not(:last-child) {
  margin-inline-end: var(--s10);
}
.modal-card-foot.is-sticky {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  inline-size: 100%;
}
@media screen and (max-inline-size: 767px) {
  .modal-card-foot.is-sticky {
    position: relative;
  }
=======
  width: auto;
  max-width: calc(100vw - 40px);
  overflow-y: auto;
}
.modal-card {
  position: fixed !important;
  top: 3%;
  right: 1%;
  left: 1%;
  display: flex;
  overflow: auto;
  width: 98%;
  height: 80%;
  max-height: calc(100vh - 40px);
  flex-direction: column;
  border: 1px solid var(--grey-70);
  border-radius: 0.375rem;
  background-color: var(--grey-10);
  box-shadow:
    0 1.6px 3.6px 0 #00000021,
    0 0.3px 0.9px 0 #0000001c;
  outline-color: var(--white);
  overflow-y: auto;
}

/* .modal-content,
.modal-card {
  position: relative;
  max-height: 100%;
  margin: 0;
  overflow-y: auto;
} */

/* .modal-allow-overflow {
  overflow: visible;
} */
.modal-content .modal-card-body {
  display: flex;
  height: calc(100% - 58px);
  min-height: 100vh;
  box-sizing: inherit;
  flex: 100%;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: var(--grey-80);
  color: var(--grey-10);
  line-height: 160%;
>>>>>>> 5dc39fa4 (2)
}
.modal-tab-sentinel {
  position: fixed;
  top: 0;
  left: 0;
}
<<<<<<< HEAD
=======
.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.buttons:not(:last-child) {
  margin-block-end: 1rem;
}
.buttons.buttons-right {
  justify-content: flex-end;
}
.modal-card-head,
.modal-card-foot {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem !important;
  background-color: var(--theme-body-background);
  margin-block-end: 0 !important;
  outline-color: var(--theme-text);
}
.padding-xxs {
  padding: 0.5rem !important;
}
.margin-bottom-none {
  margin-block-end: 0 !important;
}
.button.button-clear {
  border-color: #00000000;
  background-color: #00000000;
}
.button.button-sm {
  font-size: 0.875rem;
}
.button {
  justify-content: center;
  cursor: pointer;
  font-weight: 600;
  padding-block: calc(0.375em - 1px);
  padding-inline: 0.75em;
  text-decoration: none;
}
.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.button .icon {
  font-size: 0.875em;
}
.button .icon:first-child:not(:only-child) {
  margin-inline-end: 0.375em;
}
.docon {
  display: inline-block;
  direction: ltr;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 16px;
  speak: none;
  text-align: center;
  text-transform: none;
}
.docon-collapse::before {
  content: "ﾐ";
}
.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.875rem;
  margin-block-start: 0 !important;
  table-layout: auto;
}
.table:not(.table-simple) {
  border: 1px solid #505050;
}
.margin-top-none {
  margin-block-start: 0 !important;
}
thead {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.875rem;
}
.table th,
.table td {
  display: table-cell;
  padding: 1rem 1.25rem;
  border-block-start: 1px solid var(--grey-50);
  line-height: 1.5;
  vertical-align: top;
  word-wrap: break-word;
}
td:not([align]),
th:not([align]) {
  text-align: left;
}
.table th:not([align]) {
  text-align: left;
}
.table.table-sm th,
.table.table-sm td {
  padding: 0.5rem;
}
>>>>>>> 5dc39fa4 (2)
