/** @format */

@font-face {
	font-family: "Acuminprowide_Sans"; /* You can change the name of the any of these later fonts if you think they will be easier to reference */
	src: url("assets/Acuminprowide_Sans.otf") format("opentype"); /* Path to the font OTF file within this repository*/
	font-weight: normal;
	font-style: normal;
}
a {
	/*This sets the default style of all the links on the site*/
	text-decoration: none;
	color: black;
	cursor: pointer;
}

a:hover {
	/*This defines how links will change when you hover over them. Right not a strike line appears across the linked word.*/
	text-decoration: line-through;
	color: black;
}
body {
	color: #000000;
	font-family: "AcuminProwide_Sans", sans-serif;
	font-weight: 450;
	background-color: transparent;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	font-size: 16px;
	line-height: 17px;
	overflow: auto;
	position: relative;
	border: 1px solid black;
	overflow-y: auto; /* or 'hidden' if you don't want it to scroll */
	-ms-overflow-style: none; /* For IE and Edge */
	scrollbar-width: none; /* For Firefox */
}
.back {
	background-image: url("/assets/Posture/Pressv1Ad002Pos.png"); /* Replace with your actual image path */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 99vh; /* This will make the container take the full height of the viewport */
	min-height: 900px; /* This sets the minimum height to 500 pixels */
	border: none; /* Removes any border */
	padding: 0; /* Removes any padding */
	margin: 0;
}

.Links_NavigationTopRight {
	display: inline-block;
	position: sticky;
	margin-right: 10px; /* Add right margin to each link */
	margin-top: 10px;
	margin-left: 10px;
}
