/* NOTE - horizontal rule or horizontal line */
hr {
  border: 0;
  border-block-end: var(--s1) solid var(--grey-60);
<<<<<<< HEAD
  margin-block-start: var(--s21);
  margin-block-end: var(--s16);
=======
  margin-block: var(--s21) var(--s16);
>>>>>>> 5dc39fa4 (2)
  outline:
    solid,
    2px var(--black);
}
.circle {
<<<<<<< HEAD
  inline-size: var(--s32);
  block-size: var(--s32);
  border-radius: 50%;
  background: var(--black);
=======
  border-radius: 50%;
  background: var(--black);
  block-size: var(--s32);
  inline-size: var(--s32);
>>>>>>> 5dc39fa4 (2)
}
.circle2 {
  display: flex;
  overflow: hidden;
<<<<<<< HEAD
  inline-size: var(--s600);
  block-size: var(--s600);
=======
>>>>>>> 5dc39fa4 (2)
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--s3) solid #448671;
  border-radius: 50%;
<<<<<<< HEAD
  background-color: #f0f8ff;
  outline: var(--s2) solid red;
=======
  background-color: hsl(208deg 100% 97%);
  block-size: 600px;
  inline-size: 600px;
  outline: var(--s2) solid #ff0000;
>>>>>>> 5dc39fa4 (2)
  outline-offset: 0.25rem;
  text-align: center;
}
.circle3 {
<<<<<<< HEAD
  inline-size: var(--s100);
  block-size: var(--s100);
  border: var(--s2) solid var(--black);
  border-radius: var(--s50);
  margin: var(--s48) auto;
  background-color: gold;
  outline-offset: var(--s4);
}
.triangle {
  inline-size: 0;
=======
  border: var(--s2) solid var(--black);
  border-radius: var(--s50);
  margin: var(--s48) auto;
  background-color: #ffd700;
  block-size: var(--s100);
  inline-size: var(--s100);
  outline-offset: var(--s4);
}
.triangle {
>>>>>>> 5dc39fa4 (2)
  block-size: 0;
  border-block-start: var(--s18) solid var(--black);
  border-inline-end: var(--s18) solid transparent;
  border-inline-start: var(--s18) solid transparent;
<<<<<<< HEAD
=======
  inline-size: 0;
>>>>>>> 5dc39fa4 (2)
}

/* The Icon
<span class="with-icon">
  <svg class"icon">
<<<<<<< HEAD
    <use href ="path/to/icons.*/

=======
        <use href="path/to/icons. */
>>>>>>> 5dc39fa4 (2)
.icon {
  inline-size: 1cap;
}
.with-icon {
  display: inline-flex;
  align-items: baseline;
}
.with-icon .icon {
  margin-inline-end: 1rem;
}
