/* NOTE - horizontal rule or horizontal line */
hr {
  border: 0;
  border-block-end: var(--s1) solid var(--grey-60);
  margin-block-start: var(--s21);
  margin-block-end: var(--s16);
  outline:
    solid,
    2px var(--black);
}
.circle {
  inline-size: var(--s32);
  block-size: var(--s32);
  border-radius: 50%;
  background: var(--black);
}
.circle2 {
  display: flex;
  overflow: hidden;
  inline-size: var(--s600);
  block-size: var(--s600);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--s3) solid #448671;
  border-radius: 50%;
  background-color: #f0f8ff;
  outline: var(--s2) solid red;
  outline-offset: 0.25rem;
  text-align: center;
}
.circle3 {
  inline-size: var(--s100);
  block-size: var(--s100);
  border: var(--s2) solid var(--black);
  border-radius: var(--s50);
  margin: var(--s48) auto;
  background-color: gold;
  outline-offset: var(--s4);
}
.triangle {
  inline-size: 0;
  block-size: 0;
  border-block-start: var(--s18) solid var(--black);
  border-inline-end: var(--s18) solid transparent;
  border-inline-start: var(--s18) solid transparent;
}

/* The Icon
<span class="with-icon">
  <svg class"icon">
    <use href ="path/to/icons.*/

.icon {
  inline-size: 1cap;
}
.with-icon {
  display: inline-flex;
  align-items: baseline;
}
.with-icon .icon {
  margin-inline-end: 1rem;
}
