/*

.visitor-info {
	display: flex;
	justify-content: flex-end;
}
main::after {
	position: absolute;
	z-index: 20;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% + var(--s70)));
	content: "";
	opacity: 0;
}
.hr1 {
	display: inline-block;
	height: 0.2ch;
	padding: 0;
	border: 0;
	margin-top: var(--s1);
	margin-bottom: var(--s16);
	color: #efefef;
	outline: 0;
}
html {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background-color: #f4f6f5;
	block-size: 100%;
	color: var(--dark-text);
	font-family: acumin-pro-wide, sans-serif;
  font-size: var(--f15);
	font-style: normal;
	font-weight: 400;
	scroll-behavior: smooth;
	vertical-align: baseline;
	writing-mode: horizontal-tb;
}
/* adds margin back onto clases that have been reset */
.title {
  padding: 3em;
  font-family: adieu, sans-serif;
  font-size: 1.55rem;
  font-style: normal;
}
.subtitle hr {
  width: 45%;
}
.subtitle {
  position: relative;
  display: block;
  align-content: start;
  font-size: 1.5rem;
  line-height: 1.1;
}
#app {
  max-width: 80rem;
  padding: var(--s32);
  margin: 0 auto;
  font-weight: 400;
}
:focus {
  outline: var(--border-thin) solid var(--color-mid);
  outline-offset: var(--border-thin);
}
[tabindex="-1"]:focus,
shrink-grow:focus {
  outline: none;
}
[href="#main"] {
  position: absolute;
  top: -10rem;
  display: inline-block;
  padding: var(--s8);
  background-color: var(--dark-text);
  color: var(--white);
}
[href="#main"]:focus {
  position: absolute;
  z-index: 1;
  top: 0;
  outline: none;
}
.email-label {
  color: var(--purple);
}
.email-label.hide {
  display: none;
}
textarea {
  display: inline-block;
  min-width: var(--s200);
  margin: 0.5em 0;
  vertical-align: middle;
}
.grid-overlay {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.grid-overlay.show {
  opacity: 1;
  visibility: visible;
}
.grid-overlay .column-overlay {
  height: 100vh;
  background: var(--purple);
  opacity: 0.1;
}
.body-standard {
  max-width: 100%;
  align-content: flex-start;
  padding: var(--s1);
  background-color: var(--page-bg);
  color: var(--dark-text);
  font-family: var(--font-standard);
  font-size-adjust: 0.5;
  line-height: var(--font-base-line-height);
}
.object-position {
  height: inherit;
  background: url("Home_link.svg") no-repeat;
  background-position: calc(100% - 0em) calc(100% - 0em);
}
