ul,
ol {
	list-style: none;
}
table {
	width: 100%;
	padding: 12ch;
	border-collapse: collapse;
	border-spacing: 0;
}
table code {
	white-space: nowrap;
}
td,
th {
	padding: var(--s-1);
	border-width: var(--border-thin);
	text-align: left;
}
td:first-child,
th {
	font-weight: 700;
}
aside > ol,
aside > ul,
main > ol,
main > ul {
	padding-left: 2em;
}
#link-list {
	padding-inline-start: 0;
}
#link-list a {
	position: relative;
	color: #292929;
	font-family: "Acuminprowide_Sans", sans-serif;
	font-size: var(--s16);
	padding-block: var(--s2) var(--s4);
	padding-inline: var(--s18) var(--s5);
	text-decoration: none;
}
#link-list a::after {
	position: absolute;
	background: #292929;
	block-size: var(--s1-5);
	content: "";
	inset-block-start: 60%;
	inset-inline: var(--s8);
	opacity: 0;
	transition: opacity 0.5s;
}
#link-list a:hover {
	filter: drop-shadow(var(--s50) var(-s34) var(--s1) var(--black));
	text-decoration-line: none;
	&:hover::after {
		opacity: 0.01;
	}
}
