/** @format */
:root {
	--background-color: hsl(203.6deg 100% 12%);
	--link-color: hsl(200deg 100% 40%);
	--text-color: hsl(0deg 0% 20%);
	--text-color-light: hsl(0deg 0% 87%);
	--text-color-medium: hsl(0deg 0% 33.3%);
	--text-color-heading: hsl(0deg 0% 26.7%);
	--text-color-coolgray: hsl(240deg 2.3% 56.7%);
	--inverse-text-color: hsl(0deg 0% 100%);
	--inverse-link-color: hsl(206.7deg 100% 70%);
	--content-background-color: hsl(0deg 0% 96.9%);
	--horizontal-rule-color: hsl(0deg 0% 86.7%);
	--code-background-color: hsl(0deg 0% 94.9%);
	--code-border-color: hsl(0deg 0% 90.6%);
	--code-text-color: hsl(0deg 0% 26.7%);
	--note-background-color: hsl(50deg 100% 94%);
	--note-border-color: hsl(40deg 100% 90%);
	--note-text-color: hsl(30deg 90% 35%);
	--foreword-background-color: hsl(0deg 0% 94.1%);
	--foreword-border-color: hsl(0deg 0% 90.2%);
	--foreword-text-color: hsl(240deg 2.3% 56.7%);
	--input-border-color: hsl(0deg 0% 83.9%);
	--input-background-color: hsl(0deg 0% 100%);
	--button-background-color: hsl(0deg 0% 100%);
	--submit-button-background-color: hsl(199.8deg 76.4% 48.2%);
	--submit-button-background-gradient: linear-gradient(hsl(199.9deg 78.2% 56.9%), hsl(200deg 100% 40%));
	--submit-button-text-color: hsl(0deg 0% 100%);
	--search-glyph: url(images/search.svg#dark);
	--search-glyph-light: url(images/search.svg#light);
	--search-term-text-color: hsl(0deg 0% 0%);
	--search-input-background: hsl(0deg 100% 100%);
	--pagination-border-color: hsl(0deg 0% 0% / 7%);
	--pagination-button-shadow: inset hsl(0deg 0% 0% / 7%) 0 0 0 1px;
	--pagination-button-text-color: hsl(0deg 0% 100%);
	--screen-reader-text-focus-color: hsl(198.7deg 64.9% 36.9%);
	--screen-reader-text-border-color: hsl(0deg 0% 0% / 60%);
	--screen-reader-text-background-color: hsl(0deg 0% 94.5%);
	--screen-reader-text-shadow: 0 0 2px 2px hsl(0deg 0% 0% / 60%);
	--next-router-background-color: hsl(0deg 0% 98%);
	--previous-router-background-color: hsl(0deg 0% 95.7%);
	--router-background-hover-color: hsl(0deg 0% 100%);
	--router-text-color: hsl(0deg 0% 26.7%);
	--router-text-color-light: hsl(0deg 0% 40%);
	--tile-background-color: hsl(0deg 0% 100%);
	--tile-border-color: hsl(0deg 0% 0% / 10%);
	--tile-subtle-border-shadow: inset hsl(0deg 0% 0% / 10%) 0 0 0 1px;
	--tile-subtle-image-border-shadow: inset hsl(0deg 0% 0% / 10%) 0 1px 0 1px;
	--tile-default-background-color: hsl(215.3deg 7.9% 42.2%);
	--tile-background-color-blue: hsl(200deg 100% 40%);
	--tile-background-color-green: hsl(79.5deg 45.3% 52%);
	--tile-background-color-violet: hsl(280deg 18% 57.5%);
	--tile-background-color-rose: hsl(357.1deg 39% 58.8%);
	--tile-background-color-orange: hsl(37.1deg 100% 37.5%);
	--tile-background-color-goldenrod: hsl(45.3deg 56.5% 53.1%);
	--tile-background-color-purplesafari: hsl(276.7deg 36.3% 51.4%);
	--tile-background-color-amber: hsl(48deg 100% 50%);
	--tile-background-vignette: linear-gradient(-180deg, hsl(0deg 0% 100% / 0%), hsl(0deg 0% 100% / 95%) 80%, hsl(0deg 0% 100% / 100%));
	--tile-background-vignette-dark: linear-gradient(-180deg, hsl(0deg 0% 0% / 0%) 33%, hsl(0deg 0% 0% / 85%));
	--tag-window-background-color-gray: hsl(0deg 0% 94.9%);
	--tag-window-vignette: linear-gradient(-180deg, hsl(0deg 0% 94.9% / 0%) 25%, hsl(0deg 0% 94.9% / 100%) 65%);
	--submenu-background-color: hsl(0deg 0% 100% / 95%);
	--submenu-shadow: 0 3px 20px 0 hsl(0deg 0% 0% / 10%);
	--submenu-border-color: hsl(0deg 0% 90.6%);
	--header-menu-shadow: 0 5px 5px hsl(0deg 0% 0% / 10%);
	--header-menu-background-color: hsl(0deg 0% 100% / 80%);
	--tile-background-color-amber: hsl(48deg 100% 50%);
	--tile-background-color-twitter: hsl(197.9deg 70.6% 53.3%);
	--gray-tile-text-color: hsl(232.8deg 100% 37.5%);
	--article-border-color: hsl(0deg 0% 90.6%);
	--article-scrollable-border-color: hsl(0deg 0% 80%);
	--figure-caption-rule-color: hsl(0deg 0% 80%);
	--toc-border-color: hsl(0deg 0% 83.9%);
	--table-top-rule-color: hsl(0deg 0% 73.3%);
	--table-rule-color: hsl(0deg 0% 87.8%);
	--figure-mattewhite-background-color: hsl(0deg 0% 100%);
	--syntax-color-keyword: hsl(292.5deg 100% 26.7%);
	--syntax-color-keyword-operator: hsl(357.5deg 100% 33.1%);
	--syntax-color-builtin: hsl(309.6deg 85.8% 35.9%);
	--syntax-color-keyword-type: hsl(17.6deg 80.4% 44.1%);
	--syntax-color-preprocessor: hsl(60deg 20% 50%);
	--syntax-color-comment: hsl(180deg 6.9% 60.4%);
	--syntax-color-comment-doc: hsl(186.3deg 8.3% 55.1%);
	--syntax-color-identifier: hsl(209.6deg 71.4% 38.4%);
	--syntax-color-string: hsl(70.8deg 93% 22.4%);
	--syntax-color-escaped: hsl(0deg 0% 66.7%);
	--syntax-color-number: hsl(194.5deg 14.1% 40.2%);
	--syntax-color-attribute: hsl(44.8deg 53.2% 33.5%);
	--syntax-color-attribute-value: hsl(1.4deg 79.8% 42.7%);
	--syntax-color-operator: hsl(0deg 0% 53.3%);
	--syntax-color-whitespace-background-color: hsl(0deg 0% 20%);
	--syntax-color-doctype: hsl(0deg 0% 75.3%);
	--syntax-color-error-border: hsl(0deg 100% 50%);
	--syntax-color-property: hsl(295.7deg 76.8% 32.2%);
	--syntax-color-xml-comment: hsl(120deg 100% 22.7%);
	--syntax-color-xml-meta: hsl(180deg 50% 40%);
	--syntax-color-css-property: hsl(309.6deg 85.8% 35.9%);
	--syntax-color-css-selector: hsl(0deg 0% 0%);
	--syntax-color-css-number: hsl(248.1deg 100% 40.6%);
	--code-selection-background-color: hsl(212.3deg 97.8% 81.8%);
}
@media (prefers-color-scheme: dark) {
	:root {
		--background-color: hsl(203.6deg 100% 12%);
		--link-color: hsl(206.7deg 100% 70%);
		--text-color: hsl(240deg 1.3% 84.5%);
		--text-color-light: hsl(0deg 0% 33.3%);
		--text-color-medium: hsl(0deg 0% 51%);
		--text-color-heading: hsl(120deg 100% 99.8%);
		--text-color-coolgray: hsl(240deg 2.3% 56.7%);
		--inverse-text-color: hsl(0deg 0% 100%);
		--inverse-link-color: hsl(206.7deg 100% 70%);
		--content-background-color: hsl(120deg 2% 9%);
		--horizontal-rule-color: hsl(0deg 0% 33.3%);
		--code-background-color: hsl(120deg 1% 19.4%);
		--code-border-color: hsl(0deg 0% 26.7%);
		--code-text-color: hsl(180deg 6.9% 84.5%);
		--note-background-color: hsl(31.9deg 20.5% 33.1%);
		--note-border-color: hsl(31.9deg 20.5% 42%);
		--note-text-color: hsl(48.7deg 55.2% 75.5%);
		--foreword-background-color: hsl(120deg 1% 19.4%);
		--foreword-border-color: hsl(0deg 0% 26.7%);
		--foreword-text-color: hsl(120deg 1.3% 55%);
		--input-border-color: hsl(0deg 0% 26.7%);
		--input-background-color: hsl(0deg 0% 0%);
		--button-background-color: hsl(120deg 2% 14%);
		--submit-button-background-color: hsl(199.8deg 76.4% 48.2%);
		--submit-button-background-gradient: linear-gradient(hsl(199.9deg 78.2% 56.9%), hsl(200deg 100% 40%));
		--submit-button-text-color: hsl(0deg 0% 100%);
		--search-glyph: url(images/search.svg#light);
		--search-term-text-color: hsl(0deg 100% 100%);
		--search-input-background: hsl(0deg 0% 0%);
		--pagination-border-color: hsl(0deg 0% 100% / 10%);
		--pagination-button-shadow: inset hsl(0deg 0% 50% / 10%) 0 0 0 1px;
		--pagination-button-text-color: hsl(0deg 0% 100%);
		--screen-reader-text-focus-color: hsl(198.7deg 64.9% 36.9%);
		--screen-reader-text-border-color: hsl(0deg 0% 0% / 60%);
		--screen-reader-text-background-color: hsl(0deg 0% 94.5%);
		--screen-reader-text-shadow: 0 0 2px 2px hsl(0deg 0% 0% / 60%);
		--next-router-background-color: hsl(120deg 6.7% 4.9%);
		--previous-router-background-color: hsl(120deg 4% 8%);
		--router-background-hover-color: hsl(0deg 0% 0%);
		--router-text-color: hsl(120deg 100% 99.8%);
		--router-text-color-light: hsl(30deg 1% 62%);
		--tile-background-color: hsl(120deg 2% 12%);
		--tile-border-color: hsl(0deg 0% 29%);
		--tile-subtle-border-shadow: inset hsl(0deg 0% 50% / 10%) 0 0 0 1px;
		--tile-subtle-image-border-shadow: inset hsl(0deg 0% 100% / 5%) 0 1px 0 1px;
		--tile-default-background-color: hsl(215.3deg 7.9% 42.2%);
		--tile-background-color-blue: hsl(200deg 100% 40%);
		--tile-background-color-green: hsl(79.5deg 45.3% 52%);
		--tile-background-color-violet: hsl(280deg 18% 57.5%);
		--tile-background-color-rose: hsl(357.1deg 39% 58.8%);
		--tile-background-color-orange: hsl(37.1deg 100% 37.5%);
		--tile-background-color-goldenrod: hsl(45.3deg 56.5% 53.1%);
		--tile-background-color-purplesafari: hsl(276.7deg 36.3% 51.4%);
		--tile-background-color-amber: hsl(48deg 100% 50%);
		--tile-background-vignette: linear-gradient(-180deg, hsl(120deg 2% 12% / 0%), hsl(120deg 2% 12% / 95%) 80%, hsl(120deg 2% 12% / 100%));
		--tile-background-vignette-dark: linear-gradient(-180deg, hsl(0deg 0% 0% / 0%) 33%, hsl(0deg 0% 0% / 85%));
		--tag-window-background-color-gray: hsl(0deg 0% 94.9%);
		--tag-window-vignette: linear-gradient(-180deg, hsl(0deg 0% 94.9% / 0%) 25%, hsl(0deg 0% 94.9% / 100%) 65%);
		--submenu-background-color: hsl(0deg 0% 0% / 95%);
		--submenu-shadow: 0 3px 20px 0 hsl(0deg 0% 20% / 10%);
		--submenu-border-color: hsl(0deg 0% 15%);
		--header-menu-shadow: 0 5px 5px hsl(0deg 0% 0% / 10%);
		--header-menu-background-color: hsl(0deg 0% 0% / 80%);
		--tile-background-color-amber: hsl(48deg 100% 50%);
		--tile-background-color-twitter: hsl(197.9deg 70.6% 53.3%);
		--gray-tile-text-color: hsl(232.8deg 100% 37.5%);
		--article-border-color: hsl(120deg 4.1% 19.2%);
		--article-scrollable-border-color: hsl(120deg 4.1% 19.2%);
		--figure-caption-rule-color: hsl(0deg 0% 80%);
		--toc-border-color: hsl(0deg 0% 83.9%);
		--table-top-rule-color: hsl(0deg 0% 73.3%);
		--table-rule-color: hsl(0deg 0% 87.8%);
		--figure-mattewhite-background-color: hsl(0deg 0% 0%);
		--syntax-color-keyword: hsl(299.17deg 70.59% 80%);
		--syntax-color-keyword-operator: hsl(299.17deg 70.59% 80%);
		--syntax-color-builtin: hsl(299.17deg 70.59% 80%);
		--syntax-color-keyword-type: hsl(299.17deg 70.59% 80%);
		--syntax-color-preprocessor: hsl(43.9deg 51.4% 58.8%);
		--syntax-color-comment: hsl(118.95deg 39.86% 71.96%);
		--syntax-color-comment-doc: hsl(118.95deg 39.86% 71.96%);
		--syntax-color-identifier: hsl(240deg 1.3% 84.5%);
		--syntax-color-string: hsl(28.3deg 84.13% 62.94%);
		--syntax-color-escaped: hsl(0deg 0% 44%);
		--syntax-color-number: hsl(299.17deg 70.59% 80%);
		--syntax-color-attribute: hsl(27.06deg 100% 80%);
		--syntax-color-attribute-value: hsl(28.1deg 72.2% 46.5%);
		--syntax-color-operator: hsl(180deg 6.9% 60.4%);
		--syntax-color-whitespace-background-color: hsl(0deg 0% 20%);
		--syntax-color-doctype: hsl(0deg 0% 42%);
		--syntax-color-error-border: hsl(0deg 100% 20%);
		--syntax-color-property: hsl(299.2deg 58.7% 51.6%);
		--syntax-color-xml-comment: hsl(118.95deg 39.86% 71.96%);
		--syntax-color-xml-meta: hsl(180deg 50% 40%);
		--syntax-color-css-property: hsl(299.17deg 70.59% 80%);
		--syntax-color-css-selector: hsl(240deg 1.3% 84.5%);
		--syntax-color-css-number: hsl(275.53deg 100% 85.1%);
		--code-selection-background-color: hsl(214.2deg 42.9% 32.9%);
	}
}

/** Resets **/
html,
body,
div,
span,
h1,
p,
a,
ul,
li,
form,
label,
article,
aside,
footer,
header,
menu,
nav,
audio,
video {
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
footer,
header,
menu,
nav {
	display: block;
}
html {
	font-family: -apple-system, "SF Pro Text", Helvetica, sans-serif;
	font-size: 62.5%;
	font-synthesis: none;
}
body {
	background-color: hsl(203.6deg 100% 12%);
	background-color: var(--background-color);
	color: hsl(0deg 0% 20%);
	color: var(--text-color);
	font-size: 1.7rem;
	font-weight: 400;
	letter-spacing: -0.021rem;
	line-height: 1.52947;
}
ul {
	list-style: none;
}
p:empty {
	display: none;
}
a {
	text-decoration: none;
	transition: color 500ms cubic-bezier(0.19, 1, 0.22, 1); /* ease-out-exponential */
}
a:hover {
	text-decoration: underline;
}
a,
a[name]:hover {
	color: hsl(200deg 100% 40%);
	color: var(--link-color);
}
h1 a:hover {
	text-decoration: none;
}
main {
	background-color: hsl(0deg 0% 96.9%);
	background-color: var(--content-background-color);
}

/** Accessibility Helpers **/
a[name] {
	position: relative;
	top: -3rem;
	display: inline-block;
	width: 0;
	color: hsl(0deg 0% 86.7%);
	color: var(--text-color-light);
	text-decoration: none;
}
p > a[name]::before {
	position: relative;
	top: 3rem;
	margin-left: -1.7rem;
	color: hsl(240deg 2.3% 56.7%);
	color: var(--text-color-coolgray);
	content: "#";
	opacity: 0.3;
	transition:
		color 500ms cubic-bezier(0.19, 1, 0.22, 1),
		opacity 500ms ease-in; /* ease-out-exponential */
}
a[name]:hover {
	text-decoration: none;
}
a[name]:hover::before {
	color: hsl(200deg 100% 40%);
	color: var(--link-color);
}
p:hover > a[name]::before {
	opacity: 1;
}
h1 {
	font-family: -apple-system, "SF Pro Display", Helvetica, sans-serif;
	text-rendering: optimizelegibility;
}
h1 a[name] {
	display: block;
	visibility: hidden;
}
input[type="text"] {
	display: inline-block;
	height: 4.2rem;
	box-sizing: border-box;
	padding-top: 3px;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	border: 1px solid hsl(0deg 0% 83.9%);
	border-color: var(--input-border-color);
	border-radius: 4px;
	margin-bottom: 3rem;
	background-clip: padding-box;
	background-color: hsl(0deg 0% 100%);
	background-color: var(--input-background-color);
	color: hsl(0deg 0% 20%);
	color: var(--text-color);
	font-family: "SF Hello", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2rem;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 1.33333;
	text-align: left;
	vertical-align: top;
}

/** Page Layout **/
.page-width {
	max-width: 1140px;
	margin: 0 auto;
}

/** Header **/
header {
	position: relative;
	z-index: 500;
	overflow: visible;
	width: 100vw;
	max-width: 100%;
	padding-top: 1.5rem;
	margin: 0;
}
.home header {
	background-color: transparent;
	transition:
		background 500ms ease-out,
		border 250ms ease-out;
}
.sub-menu-layer {
	backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

/** Pagination **/

/* Front page next button */
.nextrouter {
	position: relative;
	left: 50%;
	width: 100vw;
	padding: 0;
	background-color: hsl(0deg 0% 98%);
	background-color: var(--next-router-background-color);
	transform: translateX(-50%);
}
.nextrouter.previous {
	background-color: hsl(0deg 0% 95.7%);
	background-color: var(--previous-router-background-color);
	text-align: right;
}
.nextrouter:hover,
.nextrouter.previous:hover {
	background-color: hsl(0deg 0% 100%);
	background-color: var(--router-background-hover-color);
	transition: background-color 300ms ease-out;
}
.nextrouter .bodycopy {
	max-width: 1140px;
	margin: 0 auto;
}
.nextrouter a {
	display: block;
	width: 66%;
	margin: 0 auto;
	color: hsl(0deg 0% 26.7%);
	color: var(--router-text-color);
	cursor: pointer;
}
.nextrouter a:hover {
	text-decoration: none;
}
.nextrouter-copy {
	padding: 10rem 0 9.5rem;
	font-family: -apple-system, "SF Pro Display", Helvetica, sans-serif;
	font-size: 3.2rem;
	font-weight: 500;
	letter-spacing: 0.011rem;
	line-height: 1.09375;
}
.nextrouter .label {
	display: block;
	margin-bottom: 1.8rem;
	color: hsl(0deg 0% 40%);
	color: var(--router-text-color-light);
	font-size: 2.2rem;
	font-weight: 300;
	letter-spacing: 0.016rem;
	line-height: 1;
}
.nextrouter .title {
	display: block;
}
.nextrouter .link {
	display: inline-block;
	background-position-y: 1rem;
	clear: left;
	color: hsl(200deg 100% 40%);
	color: var(--link-color);
	font-size: 1.7rem;
	font-weight: 400;
	letter-spacing: -0.021rem;
	line-height: 1.52947;
}
.nextrouter a:hover .link {
	text-decoration: underline;
}

/** Footer **/
footer {
	display: table;
	width: 100%;
	box-sizing: border-box;
	padding-bottom: 1.65rem;
	clear: both;
	content: "";
}
footer .menu {
	font-size: 1.3rem;
}
main {
	width: 100vw;
	max-width: 100%;
	box-sizing: border-box;
	padding: 3rem 0 0;
	overflow-x: hidden;
}
article {
	padding-bottom: 3rem;
}
article::after {
	display: table;
	clear: both;
	content: " ";
}
main h1 {
	text-align: left;
}
main h1,
article h1,
article h1 a {
	margin: 0 auto 3rem;
	color: hsl(0deg 0% 26.7%);
	color: var(--text-color-heading);
	font-size: 5.6rem;
	font-weight: 500;
	letter-spacing: 0.004rem;
	line-height: 1.10746;
	text-align: center;
	text-decoration: none;
}
article p {
	margin-bottom: 3rem;
}
article .byline p {
	margin-bottom: 0;
	color: hsl(240deg 2.3% 56.7%);
	color: var(--text-color-coolgray);
	font-size: 1.5rem;
	line-height: 3rem;
}
article .byline .date {
	font-weight: 900;
}
article .byline .author {
	white-space: nowrap;
}
article ul {
	padding-left: 3rem;
	margin: 3rem 0;
}
article ul {
	list-style-type: square;
}
article ul ul {
	margin-top: 0;
	margin-bottom: 0;
}
.post .bodycopy > p:last-child::after {
	color: hsl(0deg 0% 33.3%);
	color: var(--text-color-medium);
	content: " \220E"; /* Tombstone */
}
article .meta {
	clear: both;
}

/** Post Layout **/
article .byline {
	width: 191px;
	box-sizing: border-box;
	padding-right: 4rem;
	float: left;
	text-align: right;
}
article .bodycopy,
article .meta {
	position: relative;
	width: 66%;
	margin: 0 auto;
}
.image {
	padding: var(--image-padding) var(--image-padding) 0;
	--image-padding: 0.5em;
}
p .image,
li .image {
	--image-padding: 0;
}
.image.block {
	display: block;
}

/** Article Figures **/

/** Web Inspector Pages **/

/** Load Effects **/
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade-in-move-down {
	0% {
		opacity: 0;
		transform: translateY(-3rem);
		transform: translateY(-3rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes fade-in-move-down {
	0% {
		opacity: 0;
		transform: translateY(-3rem);
		transform: translateY(-3rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
		transform: translateY(0);
	}
}

/** Status Page **/

/** Navigation **/
.label-toggle {
	cursor: pointer;
}
header nav {
	text-align: right;
	user-select: none;
	user-select: none;
}

/* Hide menu toggle checkboxes */
input.menu-toggle {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}
footer {
}
footer nav {
	padding: 1.65rem 0 0;
}
header nav li {
	display: inline-block;
	padding: 1.5rem 0 1.5rem 1.5rem;
}
footer nav li {
	position: relative;
	display: inline-block;
	padding: 0 0 1.5rem 3rem;
}
footer nav li:first-child {
	padding-left: 0;
}
header nav a,
.sub-menu a,
footer nav a {
	position: relative;
	display: inline-block;
	color: hsl(0deg 0% 20%);
	color: var(--text-color);
	cursor: pointer;
	font-size: 1.4rem;
	font-weight: 500;
	letter-spacing: -0.015rem;
	letter-spacing: 0;
	line-height: 1.5455;
	text-decoration: none;
}
header nav a,
footer nav a {
	color: hsl(0deg 0% 100%);
	color: var(--inverse-text-color);
}
header nav a:hover,
footer nav a:hover {
	color: hsl(200deg 100% 40%);
	color: var(--link-color);
	text-decoration: none;
}
header .menu-item-has-children .label-toggle::after {
	display: inline-block;
	padding-top: 0.8rem;
	padding-right: 1.2rem;
	margin-top: -0.1rem;
	margin-left: 0.5rem;
	background: url(images/menu-down.svg) no-repeat;
	background-size: 1.2rem;
	content: "";
	filter: invert(100%);
	filter: invert(100%);
	perspective: 600;
	transition: transform 0.3s ease-out;
}
header .menu-item {
	/* add bottom dimension to main menu items */
	padding-bottom: 2.5rem;
}
.sub-menu-layer {
	position: absolute;
	top: 7rem;
	width: 24rem;
	box-sizing: border-box;
	padding: 3rem;
	border: 1px solid hsl(0deg 0% 90.6%);
	border-color: var(--submenu-border-color);
	border-radius: 5px;
	margin-top: -99rem;
	margin-left: -13rem;
	background-color: hsl(0deg 0% 100% / 95%);
	background-color: var(--submenu-background-color);
	box-shadow: 0 3px 20px 0 hsl(0deg 0% 0% / 10%);
	box-shadow: var(--submenu-shadow);
	opacity: 0;
	text-align: center;
	transform: translateY(-1rem);
	transition: opacity 0.6s;
}
.sub-menu-layer::after,
.sub-menu-layer::before {
	position: absolute;
	bottom: 100%;
	left: 71%;
	width: 0;
	height: 0;
	border: solid transparent;
	content: " ";
	pointer-events: none;
}
.sub-menu-layer::after {
	border-width: 10px;
	border-bottom-color: hsl(0deg 0% 100% / 95%);
	border-bottom-color: var(--submenu-background-color);
	margin-left: -10px;
}
.sub-menu-layer::before {
	border-width: 11px;
	border-bottom-color: hsl(0deg 0% 100% / 95%);
	border-bottom-color: var(--submenu-background-color);
	margin-left: -11px;
}
.sub-menu-layer .menu-item {
	width: 100%;
	padding: 1.5rem 0 0;
}
.sub-menu-layer .menu-item:first-child {
	padding: 0;
}
.menu > .menu-item > a:focus ~ .sub-menu,
.menu > .menu-item:hover > .sub-menu,
.menu > .menu-item > .menu-toggle:checked + .sub-menu {
	z-index: 1;
	display: block;
	box-sizing: border-box;
	margin-top: 0;
	opacity: 1;
	transform: translateY(0);
}

/** Search **/
.search-input {
	width: 30px;
	padding: 3px 3px 3px 30px;
	border-width: 0;
	border-radius: 5px;
	appearance: none;
	background-color: transparent;
	background-image: var(--search-glyph);
	background-position: 6px 5.5px;
	background-repeat: no-repeat;
	background-size: 1.8rem;
	color: var(--inverse-text-color);
	font-size: 1.4rem;
	font-weight: 500;
	letter-spacing: -0.015rem;
	line-height: 1.5455;
	transition:
		200ms ease-out width,
		200ms ease-in background-color;
}
header .search-input {
	background-image: var(--search-glyph-light);
}
.search #site-nav ul.menu li:last-child {
	display: none;
}
.search h1,
.search main form {
	width: 66%;
	margin-right: auto;
	margin-left: auto;
}
.search h1 {
	margin-bottom: 0.5rem;
	text-align: left;
}
.search main .search-input {
	width: 100%;
	padding: 3px 3px 3px 30px;
	border: 1px solid hsl(0deg 0% 90.6%);
	border-color: var(--submenu-border-color);
	margin-bottom: 3rem;
	background-color: var(--search-input-background);
	background-image: var(--search-glyph);
	background-position: 6px;
	color: var(--text-color);
	font-size: 1.7rem;
	transition: none;
}
header .search-input:focus,
header .search-input:not([value=""]) {
	width: 18rem;
	background-color: rgb(0 0 0 / 30%);
}

/** Accessibility **/
@media (prefers-reduced-motion) {
	article {
		animation: fade-in 0.7s;
		animation: fade-in 0.7s;
	}
}

/** Screen Breakpoints **/
@media only screen and (max-width: 1180px) {
	.page-width {
		max-width: 1140px;
		padding-right: 2rem;
		padding-left: 2rem;
	}
	article .byline {
		width: 60%;
		padding-right: 0;
		margin: 0 auto;
		margin-bottom: 3rem;
		float: none;
		text-align: center;
	}
	article .byline p {
		display: inline;
	}
}
@media only screen and (max-width: 1000px) {
	article .byline {
		width: 60%;
		margin: 0 auto;
		margin-bottom: 3rem;
		float: none;
		text-align: center;
	}
	article .byline p {
		display: inline;
	}
	article .bodycopy {
		width: 90%;
	}
}
@media only screen and (max-width: 1015px) {
	.main-menu.label-toggle {
		display: inline-block;
		width: 3rem;
		height: 3rem;
		margin: 1.5rem 0 2.5rem;
		background: url(images/menu-down.svg) no-repeat 50%;
		cursor: pointer;
		filter: invert(100%);
		filter: invert(100%);
		perspective: 600;
		transform: translateZ(10rem);
		transition: transform 0.3s ease-out;
	}
	.menu-toggle:checked + .main-menu.label-toggle,
	header .menu-item > .menu-toggle:checked + a > .label-toggle::after {
		perspective: 600;
		transform: rotateX(-180deg);
		transform: rotateX(-180deg);
		transform: rotateX(-180deg);
	}
	header .menu {
		position: absolute;
		left: 0;
		display: none;
		overflow: hidden;
		width: 100vw;
		padding-top: 3rem;
		margin-top: 1px;
		backdrop-filter: blur(10px);
		backdrop-filter: blur(20px);
		background-color: hsl(0deg 0% 100% / 80%);
		background-color: var(--header-menu-background-color);
		box-shadow: 0 5px 5px hsl(0deg 0% 0% / 10%);
		box-shadow: var(--header-menu-shadow);
		text-align: left;
	}
	header nav a {
		color: hsl(0deg 0 100%);
		color: var(--text-color);
	}
	header nav > .menu {
		position: relative;
	}
	header .menu-toggle:checked ~ ul {
		display: block;
		opacity: 1;
	}
	header .menu-item-has-children .label-toggle::after {
		filter: invert(0%);
		filter: invert(0%);
	}
	header .menu-main-menu-container > ul > li {
		position: relative;
		width: 100vw;
		box-sizing: border-box;
		padding: 0 3rem 3rem;
		transition: opacity 0.6s;
	}
	header .menu > .menu-item > .sub-menu {
		border-color: var(--submenu-border-color);
		border-bottom: 1px solid hsl(0deg 0% 90.6%);
		box-shadow: none;
	}
	header .menu > .menu-item-has-children {
		margin-left: 0;
	}
	header .sub-menu-layer {
		left: 50%;
		width: 100vw;
		border-radius: 0;
		border-right: none;
		border-left: none;
		margin-left: -50vw;
		opacity: 0;
		text-align: left;
		transform: translateY(0);
		transition: opacity 0.6s;
	}
	header .sub-menu-layer::after,
	.sub-menu-layer::before {
		position: absolute;
		bottom: 100%;
		left: 71%;
		width: 0;
		height: 0;
		border: solid transparent;
		content: " ";
		pointer-events: none;
	}
	header .sub-menu-layer::after {
		border: none;
		margin-left: -10px;
	}
	header .sub-menu-layer::before {
		border: none;
		margin-left: -11px;
	}
	header .menu > .menu-item:hover > .sub-menu,
	header .menu > .menu-item > .menu-toggle:checked ~ .sub-menu {
		position: relative;
		top: 1.5rem;
		margin-top: 0;
	}
	footer nav li {
		padding: 0 3rem 3rem 0;
	}
	header .search-input,
	.search-input {
		width: 100%;
		padding: 3px 3px 3px 30px;
		border: 1px solid hsl(0deg 0% 90.6%);
		border-color: var(--submenu-border-color);
		background-image: var(--search-glyph);
		color: var(--text-color);
		transition: none;
	}
	header .search-input:focus,
	header .search-input:not([value=""]) {
		width: 100%;
		background-color: rgb(255 255 255 / 10%);
	}
}
@media only screen and (max-width: 690px) {
	article h1 {
		font-size: 3.4rem;
	}
	.page-width {
		overflow: hidden;
		max-width: 100vw;
		box-sizing: border-box;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.nextrouter-copy {
		font-size: 2.2rem;
	}
}
@media only screen and (max-width: 600px) {
	header {
		padding-top: 1rem;
	}
	.site-logo {
		padding-left: 6.4rem;
		font-size: 4rem;
	}
	header nav .main-menu.label-toggle {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
}
@media only screen and (max-width: 415px) {
	.nextrouter-copy {
		font-size: 1.7rem;
		letter-spacing: -0.016rem;
	}
}
@media only screen and (max-height: 415px) and (max-width: 920px) {
	.home .site-logo {
		margin-top: 0;
		opacity: 1;
	}
	header,
	.home header {
		padding-top: 1rem;
	}
	@supports (padding: max(0px)) {
		header,
		header .menu,
		.home header,
		#content,
		footer {
			box-sizing: border-box;
			padding-right: env(safe-area-inset-right);
			padding-left: env(safe-area-inset-left);
		}
		header .menu .menu-item > .sub-menu {
			border: none;
			background: none;
		}
		.sub-menu-layer {
			padding: 0 3rem;
		}
		.sub-menu-layer .menu-item:first-child,
		.sub-menu-layer .menu-item {
			padding: 0 0 1.5rem 1.5rem;
		}
	}
}
@media (prefers-color-scheme: dark) {
	video {
		filter: brightness(0.7);
		transition: filter 0.3s ease-out;
	}
	video:hover {
		filter: brightness(1);
	}
	.nextrouter .link {
		background-image: url(images/chevron-dark.svg);
	}
}
