/* ANCHOR - Utility Classes */

/* This is a CSS class that sets the maximum height of an element to 10% of its parent container */
.max-block-size-quarter {
  /* Sets the maximum height to 10% */
  max-inline-size: (var(--measure) / 4) !important;
  max-block-size: 10%;
  /* Sets the maximum width to a quarter of the '--measure' variable */
}

/* utility classes for setting max width of elements*/
.max-inline-size\:measure {
  max-inline-size: var(--measure);
}
.max-inline-size-medium\:measure {
  max-inline-size: calc(var(--measure)- 20);
}
.max-inline-size-short\:measure\/2 {
  max-inline-size: calc(var(--measure) / 2);
}
.max-inline-size-quarter {
  max-inline-size: calc(var(--measure) / 4) !important;
}
.gap-xxs {
  gap: 0.5rem !important;
}
.display-flex {
  display: flex !important;
}
