.featured-widgets {
  display: grid;
<<<<<<< HEAD
  max-inline-size: var(--s1200);
  margin: 3rem auto;
  grid-gap: 0.8rem;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fill, minmax(var(--s300), 1fr));
=======
  justify-content: space-evenly;
  margin: 3rem auto;
  grid-gap: 0.8rem;
  grid-template-columns: repeat(auto-fill, minmax(var(--s300), 1fr));
  max-inline-size: var(--s1200);
>>>>>>> 5dc39fa4 (2)
  white-space: nowrap;
}
.widget {
  display: grid;
  padding: 0.8rem;
  border-radius: 0.5rem;
  background-color: var(--grey-80);
  box-shadow: 0.5rem 0.5rem var(--s16) rgb(0 0 0 / 15%);
  gap: calc(1vw + var(--s1));
  grid-template-columns: minmax(auto, var(--s90)) 1fr;
  white-space: nowrap;
}
.widget-img {
  display: block;
<<<<<<< HEAD
  max-inline-size: 100%;
  aspect-ratio: 1/1;
=======
  aspect-ratio: 1/1;
  max-inline-size: 100%;
>>>>>>> 5dc39fa4 (2)
}
.widget-meta {
  display: inline-flex;
  font-size: 0.825rem;
  gap: 2rem;
}
.card-container,
[type="checkbox"] ~ svg,
input,
textarea {
<<<<<<< HEAD
  box-shadow: inset 0.25rem 0.25rem 0 #ddd;
=======
  box-shadow: inset 0.25rem 0.25rem 0 #dddddd;
>>>>>>> 5dc39fa4 (2)
}
.card-container,
[type="email"],
[type="text"],
textarea {
<<<<<<< HEAD
  inline-size: 100%;
=======
>>>>>>> 5dc39fa4 (2)
  padding: var(--s-1);
  border-width: var(--border-thin);
  border-radius: 0;
  font-family: var(--font-mono);
  font-size: inherit;
<<<<<<< HEAD
=======
  inline-size: 100%;
>>>>>>> 5dc39fa4 (2)
}
