<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="application-name" content="KyleHossli.com">
    <meta name="keywords" content="portfolio, template, web-development">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#a888a4">

    <title>buttons</title>

    <link href="/src/css/reset.css" rel="stylesheet">
    <link href="/src/css/rem-scale.css" rel="stylesheet">
    <link href="/src/css/color.css" rel="stylesheet">
    <link href="/src/css/visual-scale.css" rel="stylesheet">
    <link href="/src/css/fonts.css" rel="stylesheet">
    <link href="/src/css/layout.css" rel="stylesheet">
    <link href="/src/css/calculations.css" rel="stylesheet">
    <link href="/src/css/buttons.css" rel="stylesheet">
    <link href="https://use.typekit.net/hdq1wia.css" rel="stylesheet">
  </head>

  <body>
    <article class="button" data-state="reversed"></article>
    <div class="button-grid">
      <button class="button1">Button 1</button>
      <button class="button2">Button 2</button>
      <button class="button3">Button 3</button>
      <button class="button1" data-state="reversed">Button 4</button>
      <button class="button5" data-state="reversed">Button 5</button>
      <button class="button6" data-state="reversed">Button 6</button>
    </div>
    <div class="button-grid">
      <button class="button1">Button 1</button>
      <button class="button2">Button 2</button>
      <button class="button3">Button 3</button>
      <button class="button1" data-state="reversed">Button 4</button>
      <button class="button5" data-state="reversed">Button 5</button>
      <button class="button6" data-state="reversed">Button 6</button>
    </div>
  </body>
</html>