<!doctype html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="application-name" content="KyleHossli.com">
      <meta name="keywords" content="portfolio, template, web-development">
      <meta name="robots" content="index, follow">
      <meta name="theme-color" content="#a888a4">

      <title>cards</title>

      <link href="/src/css/reset.css" rel="stylesheet">
      <link href="/src/css/rem-scale.css" rel="stylesheet">
      <link href="/src/css/color.css" rel="stylesheet">
      <link href="/src/css/visual-scale.css" rel="stylesheet">
      <link href="/src/css/fonts.css" rel="stylesheet">
      <link href="/src/css/layout.css" rel="stylesheet">
      <link href="/src/css/cards.css" rel="stylesheet">
      <link href="https://use.typekit.net/hdq1wia.css" rel="stylesheet">
   </head>

   <body>
      <article>
         <div class="grid min">
            <div class="box">
               <div class="stack">
                  <!-- card content -->
               </div>
            </div>
            <div class="box">
               <div class="stack">
                  <!-- card content -->
               </div>
            </div>
            <div clas="box">
               <div class="stack">
                  <!-- card content -->
               </div>
            </div>
            <div class="box">
               <div class="stack">
               </div><!-- card content -->

            </div>
         </div>

         <!-- etc -->
      </article>

      <article class="card">
         <img class="card-image" alt="">
         <div class="[card-content] [flow]"></div>
      </article>

   </body>
</html>