<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="application-name" content="KyleHossli.com">
    <meta name="keywords" content="portfolio, template, web-development">
    <meta name="robots" content="index, follow">
    <title>clusters</title>
    <link href="/src/css/reset.css" rel="stylesheet">
    <link href="/src/css/color.css" rel="stylesheet">
    <link href="/src/css/fonts.css" rel="stylesheet">
    <link href="/src/css/clusters.css" rel="stylesheet">
    <link href="/src/css/calculations.css" rel="stylesheet">
    <link href="/src/css/rem-scale.css" rel="stylesheet">
    <link href="https://use.typekit.net/hdq1wia.css" rel="stylesheet">
  </head>

  <body>
    <div class="shrink-grow">

      <ul class="cluster-wrapper">
        <li><a href="#">
            <img id="home-link" src="/public/images/Home_link.svg"
                 alt="self-agrandizing wordmark of the artist's name, how grand.">
            <span class="visually-hidden">navigation back to homepage</span></a>
        </li>

        <ul class="cluster" role="list">
          <li role="listitem"><a href="#">About</a></li>
          <li role="listitem"><a href="#">Blog</a></li>
          <li role="listitem"><a href="#">Shop</a></li>
          <li role="listitem"><a href="#">Contact</a></li>
          <li role="listitem"><a href="#">Accessibility</a></li>
        </ul>
      </ul>
    </div>
    <main>
      <h1>Cluster keyword links/tags</h1>
      <div class="shrink-grow">
        <div class="box">

          <ul class="cluster-wrapper">
            <li role="listitem"><a class="cta" href="#">Layout</a></li>
            <li role="listitem"><a class="cta" href="#">CSS</a></li>
            <li role="listitem"><a class="cta" href="#">Web Design</a></li>
            <li role="listitem"><a class="cta" href="#">Code</a></li>
            <li role="listitem"><a class="cta" href="#">Front-end</a></li>
            <li role="listitem"><a class="cta" href="#">Development</a></li>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>