<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="application-name" content="KyleHossli.com">
    <meta name="keywords" content="portfolio, template, web-development">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#a888a4">

    <title>cover</title>
    <link href="/src/css/reset.css" rel="stylesheet">
    <link href="/src/css/rem-scale.css" rel="stylesheet">
    <link href="/src/css/color.css" rel="stylesheet">
    <link href="/src/css/visual-scale.css" rel="stylesheet">
    <link href="/src/css/fonts.css" rel="stylesheet">
    <link href="/src/css/layout.css" rel="stylesheet">
    <link href="/src/css/calculations.css" rel="stylesheet">
    <link href="/src/css/cover.css" rel="stylesheet">
    <link href="https://use.typekit.net/hdq1wia.css" rel="stylesheet">
  </head>

  <body>
    <main class="docs-demo-page">
      <h1>Cover for an HTML-based book</h1>
      <div class="shrink-grow">
        <div class="kwh-cover" data-i="Cover-kwh-stackvar(--s2)66.666vhfalse">
          <div class="kwh-stack" data-i="Stack-0.25remfalse">
            <h1>How To Create A Book Cover</h1>
            <p class="font-size-1"><strong>With Flexbox &amp; Love</strong></p>
          </div>
          <p>By Heydon Pickering</p>
        </div>
      </div>
    </main>

    <main class="docs-demo-page">
      <h1>Cover for a home page header</h1>
      <div class="shrink-grow">
        <div class="kwh-cover" data-i="Cover-h1 var(--s2)66.666vhtrue">
          <div class="cluster" data-i="Cluster-space-betweencentervar(--s1)">
            <image-l
                     role="img"
                     ratio="2:5"
                     minwidth="100px"
                     aria-label="Image with 2:5 ratio"
                     data-i="Image-2:5100pxnone"></image-l>
            <div class="kwh-cluster" role="list">
              <a href="#">About</a>
              <a href="#">Blog</a>
              <a href="#">Shop</a>
              <a href="#">Contact</a>
              <a href="#">Accessibility</a>
            </div>
          </div>
          <h1>Welcome To My Site, Visitor!</h1>
          <p class="text-align-center">
            What I do
            <svg class="docs-icon" focusable="false">
              <use xlink:href="/images/all.svg#icon-arrow-down"></use>
            </svg>
          </p>
        </div>
      </div>
    </main>
  </body>
</html>