<!doctype html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="application-name" content="KyleHossli.com">
      <meta name="keywords" content="portfolio, template, web-development">
      <meta name="robots" content="index, follow">
      <meta name="theme-color" content="#a888a4">

      <title>scrollbar</title>

      <link href="/src/css/reset.css" rel="stylesheet">
      <link href="/src/css/rem-scale.css" rel="stylesheet">
      <link href="/src/css/color.css" rel="stylesheet">
      <link href="/src/css/visual-scale.css" rel="stylesheet">
      <link href="/src/css/fonts.css" rel="stylesheet">
      <link href="/src/css/layout.css" rel="stylesheet">
      <link href="/src/css/accessibility.css" rel="stylesheet">
      <link href="/src/css/shapes.css" rel="stylesheet">
      <link href="/src/css/scrollbar.css" rel="stylesheet">
      <link href="https://use.typekit.net/hdq1wia.css" rel="stylesheet">
   </head>
</html>