<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="application-name" content="KyleHossli.com">
    <meta name="keywords" content="portfolio, template, web-development">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#a888a4">

    <title>swup demo</title>

    <link href="/src/css/reset.css" rel="stylesheet">
    <link href="/src/css/rem-scale.css" rel="stylesheet">
    <link href="/src/css/color.css" rel="stylesheet">
    <link href="/src/css/visual-scale" rel="stylesheet">
    <link href="/src/css/fonts.css" rel="stylesheet">
    <link href="/src/css/layout.css" rel="stylesheet">
    <link href="/src/css/calculations.css" rel="stylesheet">
    <link href="/src/css/swup-demo.css" rel="stylesheet">
    <link href="https://use.typekit.net/hdq1wia.css" rel="stylesheet">
  </head>

  <body>
    <div class="layout">
      <header class="header">
        <a class="logo" href="https://swup.js.org" target="_blank">Swup Demo</a>
      </header>
      <main class="transition-main" id="swup">
        <h1>
          <span>Lorem Ipsun</span>
          <span>Dolor Sit Amet</span>
        </h1>
        <p>
          I am so happy, my dear friend, so absorbed in the exquisite sense of
          mere tranquil existence, that I neglect my talents. I should be
          incapable of drawing a single stroke at the present moment; and yet I
          feel that I never was a greater artist than now. A wonderful serenity.
        </p>
        <p class="buttons">
          <a class="button" href="/">←  Back</a>
        </p>
      </main>
    </div>
    <script src="swup.js" type="module" lang="en"></script>
  </body>
</html>