<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="application-name" content="KyleHossli.com">
    <meta name="keywords" content="portfolio, template, web-development">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#a888a4">

    <title>widgets</title>

    <link href="/src/css/reset.css" rel="stylesheet">
    <link href="/src/css/rem-scale.css" rel="stylesheet">
    <link href="/src/css/color.css" rel="stylesheet">
    <link href="/src/css/visual-scale.css" rel="stylesheet">
    <link href="/src/css/fonts.css" rel="stylesheet">
    <link href="/src/css/layout.css" rel="stylesheet">
    <link href="/src/css/calculations.css" rel="stylesheet">
    <link href="widget.css" rel="stylesheet">
    <link href="https://use.typekit.net/hdq1wia.css" rel="stylesheet">
  </head>

  <body>
    <div class="featured-widgets">
      <!--ANCHOR - Woodshop Technical-->
      <div class="widget">
        <img
             class="widget-img"
             src="https://assets.codepen.io/308367/warmy-logo.avif"

             alt="widget">

        <div class="stack">
          <h2 class="fw-bold">Woodshop Technical</h2>
          <p>Attempting to use the shop's full capacity.</p>
          <div class="widget-meta">
            <div class="meta-icon">
              <svg
                   xmlns="https://www.w3.org/2000/svg"
                   width="16"
                   viewBox="0 0 24 24">
                <path
                      fill="#fff"
                      d="M21,6H20V5a2,2,0,0,0-2-2H6A2,2,0,0,0,4,5V6H3A1,1,0,0,0,2,7V19a2,2,0,0,0,2,2H20a2,2,0,0,0,2-2V7A1,1,0,0,0,21,6ZM6,4H18V6H6ZM20,19H4V8H20Z">
                </path>
              </svg>
            </div>
            <div>Examples</div>
          </div>
        </div>
      </div>
      <!--ANCHOR - Moldmaking Technical-->
      <div class="widget">
        <img
             class="widget-img"
             src="https://assets.codepen.io/308367/warmy-logo.avif"

             alt="widget">

        <div class="stack">
          <h2 class="fw-bold">Moldmaking Technical</h2>
          <p>positive and negative modeling and replication</p>
          <div class="widget-meta">
            <div class="meta-icon">
              <svg
                   xmlns="https://www.w3.org/2000/svg"
                   width="16"
                   viewBox="0 0 24 24">
                <path
                      fill="#fff"
                      d="M21,6H20V5a2,2,0,0,0-2-2H6A2,2,0,0,0,4,5V6H3A1,1,0,0,0,2,7V19a2,2,0,0,0,2,2H20a2,2,0,0,0,2-2V7A1,1,0,0,0,21,6ZM6,4H18V6H6ZM20,19H4V8H20Z">
                </path>
              </svg>
              Details
            </div>
            <div>Examples</div>
          </div>
        </div>
      </div>
      <!--ANCHOR - Personal Totem-->
      <div class="widget">
        <img
             class="widget-img"
             src="https://assets.codepen.io/308367/warmy-logo.avif"

             alt="widget">

        <div class="stack">
          <h2 class="fw-bold">Personal Totem</h2>
          <p>Making objects motivated by self interest</p>
          <div class="widget-meta">
            <div class="meta-icon">
              <svg
                   xmlns="https://www.w3.org/2000/svg"
                   width="16"
                   viewBox="0 0 24 24">
                <path
                      fill="#fff"
                      d="M21,6H20V5a2,2,0,0,0-2-2H6A2,2,0,0,0,4,5V6H3A1,1,0,0,0,2,7V19a2,2,0,0,0,2,2H20a2,2,0,0,0,2-2V7A1,1,0,0,0,21,6ZM6,4H18V6H6ZM20,19H4V8H20Z">
                </path>
              </svg>
              Details
            </div>
            <div class="widget-tag">Examples</div>
          </div>
        </div>
      </div>
      <!-- ANCHOR - Micro Commission-->
      <div class="widget">
        <img
             class="widget-img"
             src="https://assets.codepen.io/308367/warmy-logo.avif"

             alt="widget">

        <div class="stack">
          <h2 class="fw-bold">Micro Commission</h2>
          <p>Making objects motivated by another person's interest</p>
          <div class="widget-meta">
            <div class="meta-icon">
              <svg
                   xmlns="https://www.w3.org/2000/svg"
                   width="16"
                   viewBox="0 0 24 24">
                <path
                      fill="#fff"
                      d="M21,6H20V5a2,2,0,0,0-2-2H6A2,2,0,0,0,4,5V6H3A1,1,0,0,0,2,7V19a2,2,0,0,0,2,2H20a2,2,0,0,0,2-2V7A1,1,0,0,0,21,6ZM6,4H18V6H6ZM20,19H4V8H20Z">
                </path>
              </svg>
              Details
            </div>
            <div class="widget-tag">Examples</div>
          </div>
        </div>
      </div>
      <!--ANCHOR - Monument-->
      <div class="widget">
        <img
             class="widget-img"
             src="https://assets.codepen.io/308367/warmy-logo.avif"

             alt="widget">

        <div class="stack">
          <h2 class="fw-bold">Monument</h2>
          <p>Making objects motivated by public interest</p>
          <div class="widget-meta">
            <div class="meta-icon">
              <svg
                   xmlns="https://www.w3.org/2000/svg"
                   width="16"
                   viewBox="0 0 24 24">
                <path
                      fill="#fff"
                      d="M21,6H20V5a2,2,0,0,0-2-2H6A2,2,0,0,0,4,5V6H3A1,1,0,0,0,2,7V19a2,2,0,0,0,2,2H20a2,2,0,0,0,2-2V7A1,1,0,0,0,21,6ZM6,4H18V6H6ZM20,19H4V8H20Z">
                </path>
              </svg>
              Details
            </div>
            <div class="widget-tag">Examples</div>
          </div>
        </div>
      </div>
      <!--ANCHOR - Standards of Taste -->
      <div class="widget">
        <img
             class="widget-img"
             src="https://assets.codepen.io/308367/warmy-logo.avif"

             alt="widget">

        <div class="stack">
          <h2 class="fw-bold">Standards of Taste</h2>
          <p>List and define objects that hold power</p>
          <div class="widget-meta">
            <div class="meta-icon">
              <svg
                   xmlns="https://www.w3.org/2000/svg"
                   width="16"
                   viewBox="0 0 24 24">
                <path
                      fill="#fff"
                      d="M21,6H20V5a2,2,0,0,0-2-2H6A2,2,0,0,0,4,5V6H3A1,1,0,0,0,2,7V19a2,2,0,0,0,2,2H20a2,2,0,0,0,2-2V7A1,1,0,0,0,21,6ZM6,4H18V6H6ZM20,19H4V8H20Z">
                </path>
              </svg>
              Details
            </div>
            <div class="widget-tag">Examples</div>
          </div>
        </div>
      </div>
      <!--ANCHOR - Research Sprint-->
      <div class="widget">
        <img
             class="widget-img"
             src="https://assets.codepen.io/308367/warmy-logo.avif"

             alt="widget">

        <div class="stack">
          <h2 class="fw-bold">Research Sprint</h2>
          <p>Research the subject of another classmate</p>
          <div class="widget-meta">
            <div class="meta-icon">
              <svg
                   xmlns="https://www.w3.org/2000/svg"
                   width="16"
                   viewBox="0 0 24 24">
                <path
                      fill="#fff"
                      d="M21,6H20V5a2,2,0,0,0-2-2H6A2,2,0,0,0,4,5V6H3A1,1,0,0,0,2,7V19a2,2,0,0,0,2,2H20a2,2,0,0,0,2-2V7A1,1,0,0,0,21,6ZM6,4H18V6H6ZM20,19H4V8H20Z">
                </path>
              </svg>
              <!-- Closing SVG tag added -->
              Details
            </div>
            <div class="widget-tag">Examples</div>
          </div>
        </div>
      </div>
      <!--ANCHOR - Test-->
      <div class="widget">
        <img
             class="widget-img"
             src="https://assets.codepen.io/308367/warmy-logo.avif"

             alt="widget">

        <div class="stack">
          <h2 class="fw-bold">Test</h2>
          <p>Media types and their use</p>
          <div class="widget-meta">
            <div class="meta-icon">
              <svg
                   xmlns="https://www.w3.org/2000/svg"
                   width="16"
                   viewBox="0 0 24 24">
                <path
                      fill="#fff"
                      d="M21,6H20V5a2,2,0,0,0-2-2H6A2,2,0,0,0,4,5V6H3A1,1,0,0,0,2,7V19a2,2,0,0,0,2,2H20a2,2,0,0,0,2-2V7A1,1,0,0,0,21,6ZM6,4H18V6H6ZM20,19H4V8H20Z">
                </path>
              </svg>
              Details
            </div>
            <div class="widget-tag">Examples</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>