@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@font-face {
   font-family: adieu;
   src: url("target.woff2");
}
* {
   border: 0;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   margin-block-start: 0;
   margin-block-end: 0;
   margin-inline-start: 0;
   margin-inline-end: 0;
   max-inline-size: var(--measure);
}
html, body, div, header, nav, main, footer {
   min-inline-size: none;
}
a:-webkit-any-link {
   color: var(--reset-textfont-style);
   text-decoration: none;
   padding: 0;
   margin: 0;
}
img, picture, video, canvas, svg {
   display: block;
   max-width: 100%;
}
hr {
   height: 0;
   color: inherit;
   border-top-width: 1px;
}
ul, menu, ol {
   list-style: none;
}
button, [role="button"] {
   cursor: pointer;
}

root {
   /* Typography */
   --font-special: "adieu", "system-ui", "Indie-Flower";
   --font-standard: "acumin-pro-wide", "sans-serif", "system-ui";
   --font-mono: "best-choice", "spot-mono", "andale mono", "Menlo", "monospace";
   --font-serif: "Georgia", "serif";
   --f-5: clamp(0.33rem, 0.39rem + -0.29vw, 0.18rem);
   --f-4: clamp(0.41rem, 0.47rem + -0.31vw, 0.25rem);
   --f-3: clamp(0.51rem, 0.57rem + -0.31vw, 0.35rem);
   --f-2: clamp(0.64rem, 0.69rem + -0.27vw, 0.5rem);
   --f-1: clamp(0.8rem, 0.84rem + -0.18vw, 0.71rem);
   --f0: clamp(1rem, 1rem + 0vw, 1rem);
   --f1: clamp(1.25rem, 1.19rem + 0.32vw, 1.41rem);
   --f2: clamp(1.56rem, 1.39rem + 0.85vw, 2rem);
   --f3: clamp(1.95rem, 1.61rem + 1.7vw, 2.83rem);
   --f4: clamp(2.44rem, 1.83rem + 3.04vw, 4rem);
   --f5: clamp(3.05rem, 2.04rem + 5.07vw, 5.65rem);
   --line-height: var(--ratio);
   --line-height-small: calc(0.8 * var(--ratio));
   font-family: var(--font-standard);
   font-size: calc(0.333vw + .8em);
   letter-spacing: -0.02em;
   --ratio: 1.2;

   /* Layout */
   --measure: 65ch;
   --span: 12;
   --columns: 12;
   --gutter: 16px;
   --pageMarginTotal: 32px;
   --negPageMargin: calc(var(--pageMarginTotal) * -1);
   --fullBleedWidth: calc(100% + (var(--pageMarginTotal) * 2));
   --innerWidth: calc(100% - (var(--pageMarginTotal) * 2));
   --pageMargin: calc(var(--pageMarginTotal) - (var(--gutter) / 2));

   /* Borders */
   --border-thin: var(--s-5);
   --border-thick: var(--s2);

   /* Miscellaneous */
   --unit: 0.0625rem;

   /* 1/16th of 1rem */
   --unit-half: 0.03125rem;

   /* 1/32nd of 1rem */
   --headerheight: calc(10.983009vw + 80px);
   --exploded: 0;

   /* Global Styles */
   list-style-type: none;
   text-align: left;
   padding: var(--pageMarginTotal);
   fill: var(--page-text);
   text-decoration-skip-ink: auto;
}
.visually-hidden {
   border: 0;
   clip: rect(var(--black) 0);
   margin: var(--f1);
   padding: 0
}
[hidden] {
   display: none;
}
.columns {
   column-gap: var(--gutter);
   display: flex;
   width: 100%;
   word-wrap: normal;
   --columns: 12
}
.col {
   flex: 1;
   width: 15rem;
   height: 1rem;
   border: var(--purple) solid 4px;
}
.col-3 {
   --span: 3
}
.col-6 {
   --span: 6
}
.col-12 {
   --span: 12
}
.col-3, .col-6, .col-12 {
   width: calc(var(--span) / 12 * 100%)
}
.grid-container {
   display: grid;
   gap: 1rem;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
}
footer .col {
   padding-top: 8px
}
header .header-bottom {
   padding-bottom: 8px;
   padding-top: 8px;
   position: relative;
   z-index: 2
}
input, button, textarea, select, metadata {
   font-family: var(--font-mono) !important;
}
/* SECTION - HEADINGS */
h1, h2, h3, h4, h5, h6 {
   font-family: var(--font-special);
   hyphens: auto;
   line-height: var(--line-height-small);
   font-weight: 600;
}
h1 {
   font-size: var(--s200);
}
h2 {
   font-size: var(--s97);
}
h3 {
   font-size: var(--s72);
}
h4 {
   font-size: var(--s50);
}
h5 {
   font-size: var(--s32);
}
h6 {
   font-size: var(--s24);
}
.circle-title {
   font-family: var(--font-mono) !important;
   ;
   font-size: 1.55rem;
   font-style: normal;
   padding: 3em;
}
.circle-text li,
.circle-text p {
   text-align: left;
}
.circle-text li {
   list-style-type: none;
}
.flow>*+* {
   margin-block-start: var(--flow-space, var(--s8))
}
/* This rule targets every sibling element that follows any element in the main element.
It sets the top margin to the value of the custom property --f3. */
main>*+* {
   margin-top: var(--f3)
}
/*This rule targets every p element that follows another p element in a class that begins with 'docs-note' and in the main element.It sets the top margin to the value of the custom property --f-1.*/
[class^=docs-note] p+p, main p+p {
   margin-top: var(--f-1)
}
/* This rule targets ol and ul elements that are direct children of aside and main elements. It sets the left padding to 2em. */
aside>ol, aside>ul, main>ol, main>ul {
   padding-left: 2em
}
box {
   display: block;
   padding: var(--s16);
   border-width: var(--border-thin);
   outline: var(--border-thin) solid transparent;
   outline-offset: calc(var(--border-thin) * -1);
}
