--bg: hsl(205 32% calc((10 + (var(--toggled, 0) * 20)) * 1%));
--togl-bloc-height: calc((270 / 480) * var(--togl-bloc-width));
--togl-bloc-depth: calc((270 / 480) * var(--togl-bloc-width));
--plane-height: calc((270 / 480) * var(--togl-bloc-width));
--plane-width: var(--togl-bloc-width);

/* ANCHOR - TOGGELs */
.toglsimple {
	position: relative;
	display: inline-block;
	width: var(--s40);
	height: var(--s20);
	border-radius: var(--s20);
	background-color: rgb(var(--black) / 25%);
	transition: all 0.3s;
}
.toglsimple::after {
	position: absolute;
	top: var(--s1);
	left: var(--s1);
	width: var(--s18);
	height: var(--s18);
	border-radius: var(--s18);
	background-color: var(--grey-20);
	content: "";
	transition: all 0.3s;
}
input[type="checkbox"]:checked + .togl::after {
	transform: translateX(var(--s20));
}
input[type="checkbox"]:checked + .togl {
	background-color: var(--grey-20);
}
.offscreen {
	position: absolute;
	left: -625rem;
}
.togl-title-classic {
	width: var(--s150);
}
.togl-title-classic i {
	margin-right: var(--s4);
}
.togl-switch-classic {
	height: var(--s40);
}
.togl-switch-classic input[type="checkbox"] {
	position: absolute;
	z-index: -2;
	opacity: 0;
}
.togl-switch-classic input[type="checkbox"] + label {
	position: relative;
	display: inline-block;
	width: var(--s100);
	height: var(--s40);
	border-radius: var(--s20);
	margin: 0;
	box-shadow:
		var(--s8) var(--s8) var(--s15) rgb(var(--white) / 60%) inset,
		/* Inset shadow */ var(--s10) var(--s10) var(--s10) rgb(var(--black) / 25%); /* Regular shadow */
	background-color: transparent; /* Adjusted or set to your desired background */
	cursor: pointer;
}

.togl-switch-classic input[type="checkbox"] + label::before {
	position: absolute;
	top: var(--s8);
	left: var(--s8);
	width: var(--s45);
	height: var(--s25);
	border-radius: var(--s20);
	background-color: #d1dad3;
	box-shadow: -var(--s3) -var(--s3) var(--s4);
	background-color: rgb(var(--black) / 25%);
	content: "OFF";
	font-size: 1var (--s3);
	line-height: var(--s25);
	text-align: center;
	transition: 0.3s ease-in-out;
}
.togl-switch-classic input[type="checkbox"]:checked + label::before {
	left: 50%;
	background-color: var(--purple);
	box-shadow:
		-var(--s3) -var(--s3) var(--s4) rgb(var(--white) / 50%),
		var(--s3) var(--s3) var(--s4) var(--purple);
	color: var(--white);
	content: "ON";
}
.togl-container-classic {
	display: flex;
	width: 100%;
	max-width: var(--s1000);
	flex-wrap: wrap;
	justify-content: space-around;
}
.togl-hold-classic {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--s10) var(--s20);
	border-radius: var(--s10);
	margin-bottom: var(--s30);
	box-shadow:
		-var(--s8) - var(--s8) var(--s15) rgb(var(--white) / 70%),
		var(--s10) var(--s10) var(--s10) rgb(var(--black) / 30%),
		var(--s8) var(--s8) var(--s15) rgb(var(--white) / 70%) inset,
		var(--s10) var(--s10) var(--s10) rgb(var(--black) / 30%) inset;
}
.togl-seat {
	width: 100%;
	height: 100%;
	transform: translate(0, 50%) rotateX(calc(var(--toggled, 0) * 90deg));
	transform-origin: 50% 0;
	transition: transform 0.2s;
}
.togl-scene {
	display: flex;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	perspective: calc(var(--perspective, 800) * var(--s1));
	transform: translate3d(0, 0, calc((1 * var(--togl-bloc-depth)) * 2vmin));
	transform-style: var(--transform-style);
}
.togl-backdrop {
	--bg: hsl(205deg 32% calc((5 + (var(--toggled, 0) * 5)) * 1%));
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: var(--bg);
	transition: background var(--transition);
}
.togl-plane {
	width: calc(var(--plane-width, 25) * 1vmin);
	height: calc(var(--plane-height, 25) * 1vmin);
	transform: rotateX(calc(var(--rotate-x, -24) * 1deg)) rotateY(calc(var(--rotate-y, -24) * 1deg)) rotateX(90deg) translate3d(0, 0, 0);
	transform-style: var(--transform-style);
}
.togl-bloc {
	--width: var(--togl-bloc-width, 15);
	--height: var(--togl-bloc-height, 10);
	--depth: var(--togl-bloc-depth, 4);
	position: absolute;
	transform: translate3d(calc(var(--x, 0) * 1vmin), calc(var(--y, 0) * 1vmin), calc(var(--z, 0) * 1vmin)) rotateX(calc(var(--rotate-togl-bloc-x, 0) * 1deg))
		rotateY(calc(var(--rotate-togl-bloc-y, 0) * 1deg)) rotateZ(calc(var(--rotate-togl-bloc-z, 0) * 1deg));
	transform-style: var(--transform-style);
}
.togl-bloc__side {
	transform-style: var(--transform-style);
	transition: transform 0.25s ease;
}
.togl-bloc > div:nth-of-type(1) {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: calc(var(--height) * 1vmin);
	transform-origin: 50% 50%;
}
.togl-bloc > div:nth-of-type(2) {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: calc(var(--height) * 1vmin);
	transform-origin: 50% 50%;
}
.togl-bloc > div:nth-of-type(3) {
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(var(--depth) * 1vmin);
	height: calc(var(--height) * 1vmin);
}
.togl-bloc > div:nth-of-type(4) {
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(var(--depth) * 1vmin);
	height: calc(var(--height) * 1vmin);
}
.togl-bloc > div:nth-of-type(5) {
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(var(--width) * 1vmin);
	height: calc(var(--depth) * 1vmin);
}
.togl-bloc > div:nth-of-type(6) {
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(var(--width) * 1vmin);
	height: calc(var(--depth) * 1vmin);
}
.togl-bloc {
	--z: calc(var(--togl-bloc-height) / 2);
}
.togl-bloc div {
	background: var(--black);
}
.togl-bloc div:nth-of-type(1),
.togl-bloc div:nth-of-type(3),
.togl-bloc div:nth-of-type(4),
.togl-bloc div:nth-of-type(6) {
	overflow: hidden;
}
.togl-bloc div:nth-of-type(1)::before,
.togl-bloc div:nth-of-type(3)::before,
.togl-bloc div:nth-of-type(4)::before,
.togl-bloc div:nth-of-type(6)::before {
	position: absolute;
	width: calc((2 * var(--togl-bloc-width)) * 1vmin);
	height: calc((2 * var(--togl-bloc-height)) * 1vmin);
	background-size: cover;
	content: "";
}
.togl-bloc div:nth-of-type(1) {
	background-color: var(--black);
	filter: brightness(calc(1 + (var(--toggled, 0) * 1)));
}
.togl-bloc div:nth-of-type(1)::before {
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	transform-origin: 0 0;
}
.togl-bloc div:nth-of-type(3) {
	background-color: var(--grey-90);
	filter: brightness(calc(1 + (var(--toggled, 0) * 2)));
}
.togl-bloc div:nth-of-type(3)::before {
	bottom: 100%;
	left: 0;
	transform: rotate(-90deg) translate(-100%, 50%);
	transform-origin: 0 100%;
}
.togl-bloc div:nth-of-type(4)::before {
	top: 0;
	left: 100%;
	transform: rotate(90deg) translate(0, -50%);
	transform-origin: 0 0;
}
.togl-bloc div:nth-of-type(6) h1 {
	opacity: var(--toggled, 0);
}
.togl-bloc div:nth-of-type(6)::before {
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
}
[type="checkbox"] {
	position: absolute;
	left: 100%;
	width: 0;
	height: 0;
}
.togl-shadow {
	--bg: hsl(45deg 80% calc((0 + (var(--toggled, 0) * 90)) * 1%));
	position: absolute;
	width: 100%;
	height: 100%;
	background: radial-gradient(ellipse, var(--bg), transparent);
	filter: blur(var(--s10));
	transform: translate3d(0, calc((50 - (var(--toggled, 0) * 100)) * 1%), var(--s1)) scale(1.15, 1.3);
	transition:
		transform 0.2s,
		background 0.2s;
	will-change: transform;
}
.scoped > * {
	box-sizing: border-box;
	transform-style: preserve-3d;
}
.togl-bloc div:nth-of-type(1) h1 {
	opacity: calc(1 - var(--toggled, 0));
	transition: opacity var(--transition) calc((1 - var(--toggled, 0)) * var(--transition));
}
#togl-box {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
}

/* Adjust the CSS selector for toggling on click */
#toggle:checked + .togl-box .togl-box-inner {
	transform: rotateY(180deg);
}
.togl-box {
	position: relative;
	width: var(--s50);
	height: var(--s50);
	border: var(--s2) solid;
	perspective: var(--s1000);
}
.togl-box-inner {
	display: grid;

	/* Center both horizontally and vertically */
	height: 100%;
	place-items: center;
	transition: transform 0.8s;
}

/* .togl-box:hover .togl-box-inner {
   transform: rotateY(180deg)
   translateX(-var(--s50));
} */
.togl-box-front,
.togl-box-back {
	/* Center vertically */
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;

	/* Center horizontally */
	align-items: center;

	/* Use flexbox to center the content */
	justify-content: center;
	backface-visibility: hidden;
	text-align: center;

	/* Ensure text is centered */
}
.togl-box-front {
	background-color: #bbb;
	color: black;
}
.togl-box-back {
	background-color: #555;
	color: white;
	transform: rotateY(180deg);
}
.togl-plain {
	position: relative;
	display: inline-block;
	width: var(--s40);
	height: var(--s20);
	border-radius: var(--s20);
	background-color: rgb(var(--black) / 25%);
	transition: all 0.3s;
}
.togl-plain::after {
	position: absolute;
	top: var(--s1);
	left: var(--s1);
	width: var(--s18);
	height: var(--s18);
	border-radius: var(--s18);
	background-color: white;
	content: "";
	transition: all 0.3s;
}
input[type="checkbox"]:checked + .togl-plain::after {
	transform: translateX(var(--s20));
}
input[type="checkbox"]:checked + .togl-plain {
	background-color: var(--grey-20);
}
.offscreen {
	position: absolute;
	left: -625rem;
}
