@font-face {
  font-display: auto;
	font-family: adieu;
  font-stretch: normal;
  font-style: normal;
	src: url("../target.woff2");
}
@font-face {
	font-display: auto;
	font-family: acumin-pro-wide;
	font-stretch: normal;
	font-style: normal;
	font-weight: 400;
	src:
		url("https://use.typekit.net/af/e3a744/00000000000000003b9acb3f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
			format("woff2"),
		url("https://use.typekit.net/af/e3a744/00000000000000003b9acb3f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
			format("woff"),
		url("https://use.typekit.net/af/e3a744/00000000000000003b9acb3f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
			format("opentype");
}
@font-face {
	font-display: auto;
	font-family: best-choice;
	font-stretch: normal;
	font-style: normal;
	font-weight: 400;
	src:
		url("https://use.typekit.net/af/e88ccc/00000000000000007735ea8d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
			format("woff2"),
		url("https://use.typekit.net/af/e88ccc/00000000000000007735ea8d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
			format("woff"),
		url("https://use.typekit.net/af/e88ccc/00000000000000007735ea8d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
			format("opentype");
}
:root {
   ---s25 : 0.0var(--s16);
	---s5: 0.065rem;
	--s1: 0.1var(--s32);
	--s1-5: 0.175rem;
	--s2: 0.2var(--s48);
	--s2-5: 0.285rem;
	--s3: 0.34rem;
	--s3-5: 0.395rem;
	--s4: 0.45rem;
	--s4-5: 0.505rem;
	--s5: 0.56rem;
	--s5-5: 0.615rem;
	--s6: 0.67rem;
	--s6-5: 0.725rem;
	--s7: 0.78rem;
	--s7-5: 0.835rem;
	--s8: 0.89rem;
	--s8-5: 0.945rem;
	--s9: var(--s16);
	--s9-5: 1.25rem;
	--s10: var(--s24);
	--s10-5: var(--s28);
	--s11: var(--s32);
	--s11-5: 2.25rem;
	--s12: 2.5rem;
	--s12-5: 2.75rem;
	--s13: var(--s48);
	--s14: 3.5rem;
	--s16: 4rem;
	--s20: 5rem;
	--s24: 6rem;
	--s28: 7rem;
	--s32: 8rem;
	--s36: 9rem;
	--s40: var(--s160);
	--s44: 1var(--s16);
	--s48: 1var(--s32);
	--s52: 1var(--s48);
	--s56: 14rem;
	--s60: 15rem;
	--s64: 16rem;
	--s72: 18rem;
	--s80: 20rem;
	--s96: 24rem;
--white: #f7f7f7;
	--grey-10: #edeeed;
	--grey-20: #d3d4d4;
	--grey-30: #bababa;
	--grey-40: #8f8f8f;
	--grey-50: #6b6b6b;
	--grey-06: #525252;
	--grey-70: #454545;
	--grey-80: #313030;
	--grey-90: #242424;
	--black: #1d1d1b;
  --font-standard: acumin-pro-wide,sans-serif,system-ui;
  --font-serif: georgia,serif;
  --font-special: adieu;
  --font-mono: best-choice,andale mono,menlo,monospace;
}
body {
  font-family: var(--font-standard);
  font-size: var(--s9);
  font-size-adjust: 0.5;
  line-height: var(--font-base-line-height);
}
section#projects.grid.grid-cols-12.z-10.pt-\[70vh\].sm\:pt-\[80vh\].px-\[20px\].pb-\[60vh\] {
	z-index: 10;
	display: grid;
	box-sizing: border-box;
	padding: 1032.8px 20px 774.6px;
	grid-template-columns: 165px 165px 165px 165px 165px 165px 165px 165px 165px 165px 165px 165px;
	grid-template-rows: 20555.8px;
}
