@font-face {
   font-family: adieu;
   font-style: normal;
   font-weight: 600;
   src: url("target.woff2") format("woff2");
}

:root {
   --black: #1d1d1b;
   --white: #f7f7f7;
   --purple: #a888a4;
   --accent: #e0badb;
   --grey-10: #f2efef;
   --grey-20: #e2e2e2;
   --grey-30: #bababa;
   --grey-40: #8f8f8f;
   --grey-50: #6b6b6b;
   --grey-60: #525252;
   --grey-70: #454545;
   --grey-80: #313030;
   --grey-90: #242424;
   --color-background: var(--white);
   --color-border: var(--grey-10);
   --color-text: var(--grey-80);
   --color-dark-text: var(--black);
   --color-light-text: var(--grey-10);
   --color-table-border: var(--grey-60);
   --color-th: var(--grey-60);
   --color-table-text-1: var(--grey-50);
   --color-table-text-2: var(--grey-60);
   --color-active: var(--grey-40);
   --color-button-default: var(--grey-10);
   --color-button-hover: var(--grey-40);
   --color-button-active: var(--grey-30);
   --color-card: var(--grey-20);
   --color-card-hover: var(--grey-10);
   --color-footer: var(--grey-80);
   --color-modal-background: rgb(255 255 255 / 95%);
   --color-modal-text: var(--color-text);
   --color-modal-outline: var(-color-border);
   --measure: 65ch;
   --gap: var(--f04);
   --gutter: var(--s16);
   --page-margin: calc(var(--page-margin-total) - (var(--gutter) / 2));
   --page-margin-total: var(--s33);
   --ratio: 1.1rem;
   --font-standard: "acumin-pro-wide", sans-serif, system-ui;
   --font-mono: "best-choice", "spot-mono", "andale mono", "Menlo", "monospace";
   --line-height: calc(1em * var(--ratio));
   background-color: var(--color-background);
   color: var(--color-text);
   font-family: var(--font-standard);
   font-size: var(--f06);
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   letter-Spacing: -0.02em;
   line-height: var(--line-height);
   list-style-type: none;
   text-align: start;
   text-decoration-skip-ink: auto;
   transition: background-color .4s var(--easingOut), color .4s var(--easingOut);
}

:root[data-theme='dark'] {
   --color-background: var(--black);
   --color-text: var(--white);
   --color-border: var(--grey-70);
   --color-active: var(--grey-30);
   --color-button-default: var(--grey-70);
   --color-button-hover: var(--grey-80);
   --color-button-active: var(--grey-50);
   --color-card: var(--grey-70);
   --color-card-hover: var(--grey-60);
   --color-footer: var(--grey-50);
   --color-th: var(--accent);
   --color-table-text-1: var(--grey-30);
   --color-table-text-2: var(--grey-20);
   --color-table-border: var(--grey-60);
   --color-modal-background: rgb(29 29 27 / 95%);
   --color-modal-text: var(--color-text);
   --color-modal-outline: var(-color-border);
}

:root[data-theme='animal'] {
   --color-background: rgb(30 128 97 / 76.8%);
   --color-text: #BF1722;
   --color-border: var(--grey-70);
   --color-active: var(--grey-30);
   --color-button-default: var(--grey-70);
   --color-button-hover: var(--grey-60);
   --color-button-active: var(--grey-50);
   --color-card: rgb(179 133 133 / 54.1%);
   --color-card-hover: var(--grey-60);
   --color-footer: var(--grey-50);
   --color-table-text-1: var(--grey-40);
   --color-table-text-2: var(--grey-40);
   --color-table-border: var(--grey-60);
   --color-modal-background: var(--color-background);
   --color-modal-text: var(--color-text);
   --color-modal-outline: var(-color-border);
}

a[data-theme='animal'] {
   background-color: var(--color-background);
   color: var(--color-text);
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

*::before,
*::after {
   box-sizing: inherit;
}

::before,
::after {
   --content: "";
}

html, body {
   display: flex;
   height: 100%;
   flex-direction: column;
   margin: 0;
   font-family: var(--font-standard);
}

html,
body,
div,
header,
main,
footer {
   max-inline-size: none;
}

.clearfix::after {
   clear: both;
}

.clearfix::before, .clearfix::after {
   display: block;
   overflow: hidden;
   width: 0;
   height: 0;
   content: '\0020';
   visibility: hidden;
}

.hidden {
   position: absolute;
   top: -500px;
   left: 0;
   overflow: hidden;
   width: 1px;
   height: 1px;
}

a {
   padding: 0 var(--s3);
   color: var(--color-text);
   transition: background-color 0.4s var(--easingOut), color 0.4s var (--easingout);
   transition-duration: 2s;
   transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
   transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

p,
a {
   overflow-wrap: break-word;
}

a,
li,
ul,
ol,
menu,
button {
   list-style-type: none;
   outline: 0;
   text-decoration: none;
}

a,
button {
   border-radius: 3px;
   transition: background-color 0.3s ease;

   /* Smooth transition for hover effect */
}

:root[data-theme='dark'] a {
   color: var(--color-text);
}

:root[data-theme='dark'] a:hover {
   color: var(--grey-70);
}

.data-rows .data-row a:hover {
   opacity: 0.7;
}

#skiptocontent a {
   position: absolute;
   z-index: 100;
   top: -40px;
   left: 0;
   padding: 6px;
   border-right: 1px solid rgb(255 255 255);
   border-bottom: 1px solid rgb(255 255 255);
   background: #BF1722;
   border-bottom-right-radius: 8px;
   color: rgb(255 255 255);
   transition: top .5s ease-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   padding: 0;
   margin: 0;
   font-family: var(--font-special);
}

head {
   display: none;
}

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   margin: 0;
   background-color: var(--color-background);
   padding-inline: var(--s34);
   transition: background-color 0.4s var(--easingOut), color 0.4s var(--easingOut);
}

body:last-child {
   padding-bottom: 0;
}

.col {
   min-width: 0;
   flex: 1;
   gap: var(--gutter);
}

p {
   display: block;
   padding: 0;
   margin: 0;
   margin-block: var(--s2);
}

.col .hide-small {
   flex: 0 0 auto;
}

.col.col-6.col-s-2 {
   padding: var(--s8) 0 0;
   transition-duration: 0.4s;
   transition-property: border-color;
   transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

hr {
   margin-block-start: var(--s10);
}

#header-top {
   align-items: center;
   justify-content: space-between;
   padding-right: 10px;
}

#svg1 {
   width: 100%;
   height: auto;
   margin-bottom: 0;
   animation: resizeSvg 2s forwards;
   animation-delay: 2200ms;
   transform-origin: left;
   --margin-block-end: -4rem;
}

@keyframes resizeSvg {

   0% {
      width: 100%;
      margin-bottom: 0;
      transform: scale(1);
   }

   100% {
      display: block;
      width: 100%;
      margin-block: var(--margin-block-end);
      transform: scale(0.4);
   }
}

@media (max-width: 2180px) {

   #svg1 {
      --margin-block-end: -3rem;
   }
}

@media (max-width: 1950px) {

   #svg1 {
      --margin-block-end: -2rem;
   }
}

@media (max-width: 1420px) {

   #svg1 {
      --margin-block-end: -1rem;
   }
}

@media (max-width: 768px) {

   #svg1 {
      --margin-block-end: -.3rem;
   }
}

header, footer {
   padding-top: 10px;
   background-color: var(--color-background);
   text-align: left;
}

.header-bottom {
   display: flex;
   width: 100%;
   padding-top: 8px;
   padding-bottom: var(--s20);
   gap: var(--gutter);
   padding-inline: var(--s8);
}

button {
   border: 0;
   background-color: var(--color-background);
   color: inherit;
   cursor: pointer;
   font-family: var(--font-mono);
}

button:hover {
   background-color: var(--color-button-hover);
}

.visitor-info {
   display: block;
   padding: 0;
   margin: 0;
   font-family: var(--font-mono);
   text-align: right;
}

main {
   display: flex;
   flex: 1 0 auto;
   flex-direction: row;
   padding: 1px;
   border: var(--color-card) solid var(--s20);
   border-color: var(--color-card);
   border-radius: var(--s8);
   background-color: var(--color-card);
   overflow-y: auto;
}

section {
   position: relative;
   display: flex;
   width: 100%;
   flex: 1;
   flex-grow: 1;
   flex-wrap: wrap;
   gap: var(--gutter);
   -ms-overflow-style: none;

   /* For Internet Explorer and Edge */
   overflow-y: scroll;

   /* Keep scroll functionality */
   scrollbar-width: none;

   /* For Firefox */
}

section::-webkit-scrollbar {
   display: none;

   /* For Chrome, Safari, and Opera */
}

img,
figure,
picture,
video,
canvas,
svg,
iframe {
   width: 100%;
}

iframe {
   display: block;
   min-width: 100px;
   flex-grow: 1;
   margin: 0;
   aspect-ratio: 16 / 9;
}

.video {
   display: flex;
   width: 100%;
   flex-direction: column;
   justify-content: space-between;
}

.videos-container {
   display: flex;
   width: 100%;
   justify-content: space-between;
   gap: var(--s14);
   padding-inline: var(--s3)
}

.data-rows {
   margin-top: var(--s2);
   line-height: 148%;
}

.icon {
   position: relative;
   display: inline-flex;
   width: 24px;
   height: 24px;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   margin-bottom: var(--s10);
   background-color: var(--accent);
   cursor: pointer;

   /* filter: drop-shadow(0 4px 6px rgb(0 0 0 / 10%)); */
   font-size: var(--s8);
   transform: translateX(-50%);
}

.hover-text {
   position: absolute;
   top: 50%;
   left: 110%;
   padding-left: 15px;
   background-color: var(--color-card);
   font-size: var(--f08);
   opacity: 0;
   transform: translateY(-60%);
   transition: opacity 1.0s;
   visibility: hidden;
   white-space: nowrap;
}

.icon:hover .hover-text {
   background-color: var(--color-card);
   opacity: 1;
   visibility: visible;
}

.next-project-icon:hover {
   background-color: var(--color-card);
   color: var(--color-text);
   opacity: 1;
   visibility: visible;
}

.projects-button {
   width: 20px;
   height: 20px;
   border-radius: 100%;
   background-color: var(--accent);
   cursor: pointer;
   filter: drop-shadow(0 4px 6px rgb(0 0 0 / 10%));
   font-family: var(--font-standard);
   font-size: var(--f08);
   line-height: 1.7;
}

.projects-button:hover {
   color: var(--accent);
}

.data-rows .data-row {
   display: grid;
   border-top: var(--s1) solid var(--color-table-border);
   column-gap: calc(var(--gutter) + var(--s14));
   grid-template-columns: repeat(2, 1fr);
   padding-block: var(--s5);
}

.data-rows .data-row .left {
   color: var(--color-table-text-1);
}

.data-rows .data-row .right {
   color: var(--color-table-text-2);
}
.right figure {
   width: 65%;
   justify-content: center;
   padding-block: var(--s15);
   margin-inline: 15%;
   filter: drop-shadow(0 4px 6px rgb(0 0 0 / 2%));
}
/* Ensure footer stays at the bottom */

footer {
   width: 100%;
   padding-block: var(--s16);
}

/* Ensure no element causes overflow with unexpected margins or padding */

body>* {
   flex-shrink: 0;
}

.blurred-content {
   transition: filter 0.3s;
}

.blur {
   filter: blur(5px);
}

/* SECTION - Modal */

.modal {
   position: fixed;
   z-index: 1050;
   display: none;
   align-items: center;
   background: rgb(0 0 0 / 50%);
   inset: 0;
   scrollbar-color: var(--color-text) var(--color-background);
   scrollbar-width: thin;
}


.modal-active .modal {
   display: flex;
   scrollbar-color: var(--color-text) var(--color-background);
   scrollbar-width: thin;
}

.modal-card {
   position: fixed !important;
   z-index: 1051;
   overflow: auto;
   flex-direction: column;
   padding: 1px;
   border: var(--color-modal-background) solid var(--s20);
   border-radius: 0.375rem;
   background-color: var(--color-modal-background);
   block-size: 75%;
   box-shadow:
      0 1.6px 3.6px 0 var(--black),
      0 0.3px 0.9px 0 var(--black);
   inset-inline: 15%;
   overflow-y: auto;
}

/* WebKit Scrollbar Styles */

.modal-card::-webkit-scrollbar {
   width: 12px;
}

.modal-card::-webkit-scrollbar-track {
   background: var(--color-background);
}

.moda-card::-webkit-scrollbar-thumb {
   border-radius: 6px;
}

.modal-card-head {
   display: flex;
   justify-content: space-between;
}

.modal-close {
   padding: 20px;
   cursor: pointer;
   transition: opacity 1.4s ease;
}

.modal-close:hover,
.modal-close:focus {
   background-color: transparent;
}

/* The icon inside the button */

.modal-close .icon:hover,
.modal-close .icon:focus {
   background-color: var(--color-button-hover);
}

.icon-img::before {
   color: var(--grey-50);
   content: "_/_";
   font-weight: 900;
}

.table {
   border: var(--s1) solid var(--color-table-border);
   border-collapse: collapse;
   border-spacing: 0;
   inline-size: 100%;
}

.table-top {
   position: relative;
   display: inline-block;
   overflow: hidden;
   width: 100%;
   text-align: left;
}

.table-title{
   display: flex;
   justify-content: space-between;
   padding-bottom: var(--s20);
}

.table th,
.table td {
   padding: 0.5rem;
   border-block-start: var(--s1) solid var(--grey-50);
   line-height: 1.5;
}

.table th {
   color: var(--color-th);
   font: var(--font-standard);
   font-size: var(--f10);
   font-weight: 600;
}

.table td {
   font-size: var(--f1);
}

td:not([align]),
th:not([align]) {
   text-align: start;
}
.current-pg {
   color: rgb(147, 145, 0);
}

/* !SECTION - */