/** @format */

:root {
	--grey3: #d7d8e0;
	--error-rgb: 225, 71, 71;
	--ng-background-desktop-rgb: 128, 0, 255;
	--success-rgb: 26, 158, 26;
	--success: #1a9e1a;
	--border-subtle-rgb: 243, 244, 246;
	--green: #1a9e1a;
	--green-rgb: 26, 158, 26;
	--grey2-rgb: 224, 225, 230;
	--action: #6b53ff;
	--warning-rgb: 255, 187, 92;
	--grey9-rgb: 13, 14, 19;
	--grey7-rgb: 63, 66, 80;
	--grey3-rgb: 215, 216, 224;
	--ng-background-desktop: linear-gradient(
			180deg,
			rgba(128, 0, 255, 0.08) 37.49%,
			rgba(88, 110, 224, 0.08) 91.15%
		),
		#ffffff;
	--red-rgb: 225, 71, 71;
	--grey0: #f8f8fa;
	--ng-background-rgb: 252, 252, 253;
	--ng-background-player-desktop: linear-gradient(
			180deg,
			rgba(128, 0, 255, 0.06) 37.49%,
			rgba(88, 110, 224, 0.08) 91.15%
		),
		#0d0e13;
	--border-subtle: #f3f4f6;
	--grey6: #535665;
	--grey2: #e0e1e6;
	--form-success: #3cd04e;
	--red: #e14747;
	--black-rgb: 13, 14, 19;
	--action-rgb: 107, 83, 255;
	--error: #e14747;
	--app-bar-rgb: 88, 110, 224;
	--ng-background-player-desktop-rgb: 128, 0, 255;
	--grey5-rgb: 111, 115, 135;
	--app-bar: #586ee0;
	--grey6-rgb: 83, 86, 101;
	--grey8-rgb: 42, 44, 55;
	--grey5: #6f7387;
	--border-rgb: 224, 225, 230;
	--grey1-rgb: 243, 244, 246;
	--black: #0d0e13;
	--warning: #ffbb5c;
	--grey1: #f3f4f6;
	--grey9: #0d0e13;
	--grey7: #3f4250;
	--white: #ffffff;
	--border: #e0e1e6;
	--grey4: #8f92a3;
	--white-rgb: 255, 255, 255;
	--grey0-rgb: 248, 248, 250;
	--form-success-rgb: 60, 208, 78;
	--grey8: #2a2c37;
	--ng-background: #fcfcfd;
	--grey4-rgb: 143, 146, 163;
}

.ATheme {
	color: rgb(250, 250, 252);
	font-family: "Fira Mono";
}
.ATheme.theme-background {
	background-image: linear-gradient(0deg, rgb(33, 30, 40), rgb(33, 30, 40));
}
.ATheme
	.block.headline-big {
	line-height: 1.2;
	font-style: normal;
	text-transform: ;
	color: rgb(250, 250, 252);
	font-size: 2.4em;
	font-weight: 700;
	letter-spacing: -0.02em;
	font-family: "Fira Mono";
}
.ATheme
	.block.headline-medium {
	line-height: 1.3;
	font-style: normal;
	text-transform: uppercase;
	color: rgb(250, 250, 252);
	font-size: 1.2em;
	font-weight: 700;
	letter-spacing: -0.02em;
	font-family: "Fira Mono";
}
.ATheme
	.block.headline-small {
	font-family: "Fira Mono";
	color: rgb(108, 112, 136);
	font-size: 0.8em;
	font-weight: 600;
	font-style: normal;
	letter-spacing: -0.01em;
	line-height: 1.6;
}
.ATheme .block.paragraph {
	font-family: "Fira Mono";
	font-size: 0.45em;
	color: rgb(221, 223, 229);
	font-weight: 700;
	font-style: normal;
	line-height: 1.6;
	letter-spacing: 0.1em;
}
.ATheme
	.block.paragraph-small {
	font-family: "Fira Mono";
	font-size: 0.45em;
	color: rgb(221, 223, 229);
	font-weight: 400;
	font-style: normal;
	line-height: 1.6;
	letter-spacing: -0.01em;
}
.ATheme .block.shape svg {
	fill: rgba(108, 112, 136, 0.1);
	stroke: rgb(221, 223, 229);
}
.ATheme
	.block.shape
	div.div-rectangle {
	background-color: rgba(108, 112, 136, 0.1);
	border-color: rgb(221, 223, 229);
}
.ATheme
	.block.shape
	.fill-with-stroke-color {
	fill: rgb(221, 223, 229);
}
.ATheme
	.block.shape
	.text {
	color: rgb(221, 223, 229);
}
.ATheme .text li:before {
	color: rgb(108, 112, 136);
}
.ATheme a {
	color: rgb(250, 250, 252);
}
.ATheme .block.table {
	font-family: "Fira Mono";
	font-size: 0.45em;
	color: rgb(250, 250, 252);
}
.ATheme .block.table td,
.ATheme .block.table th {
	border-color: rgb(221, 223, 229);
	background-color: rgb(33, 30, 40);
}
.ATheme .block.table th {
	background-color: rgb(33, 30, 40);
}
.ATheme
	.block.table
	th
	.table-cell-content {
	color: rgb(250, 250, 252);
}
.ATheme
	.block.table
	tr.table-alternate-row {
	color: rgb(250, 250, 252);
}
.ATheme
	.block.table
	tr.table-alternate-row
	td {
	background-color: rgba(108, 112, 136, 0.1);
}
.ATheme
	.chart-legend
	.legend-bullet-list {
	font-size: 0.8em;
	font-family: "Fira Mono";
	color: rgb(250, 250, 252);
}
.ATheme
	.chart-legend
	.bullet-color-1 {
	background: rgb(108, 112, 136);
}
.ATheme
	.chart-legend
	.bullet-color-2 {
	background: rgb(124, 128, 151);
}
.ATheme
	.chart-legend
	.bullet-color-3 {
	background: rgb(141, 144, 164);
}
.ATheme
	.chart-legend
	.bullet-color-4 {
	background: rgb(158, 161, 178);
}
.ATheme
	.chart-legend
	.bullet-color-5 {
	background: rgb(175, 177, 191);
}
.ATheme
	.chart-legend
	.bullet-color-6 {
	background: rgb(192, 194, 205);
}
.ATheme
	.chart-legend
	.bullet-color-7 {
	background: rgb(209, 210, 218);
}
.ATheme
	.chart-legend
	.bullet-color-8 {
	background: rgb(226, 227, 232);
}
.ATheme
	.chart
	.chart-fill-1 {
	fill: rgb(108, 112, 136);
}
.ATheme
	.chart
	.chart-gradient-color-1
	stop {
	stop-color: rgb(108, 112, 136);
}
.ATheme
	.chart
	.chart-stroke-1 {
	stroke: rgb(108, 112, 136);
}
.ATheme
	.chart
	.chart-fill-2 {
	fill: rgb(124, 128, 151);
}
.ATheme
	.chart
	.chart-gradient-color-2
	stop {
	stop-color: rgb(124, 128, 151);
}
.ATheme
	.chart
	.chart-stroke-2 {
	stroke: rgb(124, 128, 151);
}
.ATheme
	.chart
	.chart-fill-3 {
	fill: rgb(141, 144, 164);
}
.ATheme
	.chart
	.chart-gradient-color-3
	stop {
	stop-color: rgb(141, 144, 164);
}
.ATheme
	.chart
	.chart-stroke-3 {
	stroke: rgb(141, 144, 164);
}
.ATheme
	.chart
	.chart-fill-4 {
	fill: rgb(158, 161, 178);
}
.ATheme
	.chart
	.chart-gradient-color-4
	stop {
	stop-color: rgb(158, 161, 178);
}
.ATheme
	.chart
	.chart-stroke-4 {
	stroke: rgb(158, 161, 178);
}
.ATheme
	.chart
	.chart-fill-5 {
	fill: rgb(175, 177, 191);
}
.ATheme
	.chart
	.chart-gradient-color-5
	stop {
	stop-color: rgb(175, 177, 191);
}
.ATheme
	.chart
	.chart-stroke-5 {
	stroke: rgb(175, 177, 191);
}
.ATheme
	.chart
	.chart-fill-6 {
	fill: rgb(192, 194, 205);
}
.ATheme
	.chart
	.chart-gradient-color-6
	stop {
	stop-color: rgb(192, 194, 205);
}
.ATheme
	.chart
	.chart-stroke-6 {
	stroke: rgb(192, 194, 205);
}
.ATheme
	.chart
	.chart-fill-7 {
	fill: rgb(209, 210, 218);
}
.ATheme
	.chart
	.chart-gradient-color-7
	stop {
	stop-color: rgb(209, 210, 218);
}
.ATheme
	.chart
	.chart-stroke-7 {
	stroke: rgb(209, 210, 218);
}
.ATheme
	.chart
	.chart-fill-8 {
	fill: rgb(226, 227, 232);
}
.ATheme
	.chart
	.chart-gradient-color-8
	stop {
	stop-color: rgb(226, 227, 232);
}
.ATheme
	.chart
	.chart-stroke-8 {
	stroke: rgb(226, 227, 232);
}
.ATheme .chart {
	font-family: "Fira Mono";
}
.ATheme .chart text {
	fill: rgb(250, 250, 252);
	font-size: 32px;
	font-weight: normal;
}
.ATheme
	.chart
	.chart-axis {
	stroke: rgb(250, 250, 252);
}
.ATheme
	.chart
	.chart-scale-tick {
	stroke: rgb(250, 250, 252);
}
.ATheme
	.chart
	.chart-scale-guide {
	stroke: rgba(250, 250, 252, 0.2);
}
.ATheme
	.chart
	.chart-label-line {
	stroke: rgba(250, 250, 252, 0.2);
}
.ATheme
	.block-styles-headline-big
	p {
	margin-top: 0em;
}

.ATheme
	.block-styles-headline-big
	p:first-child {
	margin-top: 0;
}

.ATheme
	.block-styles-headline-big
	.ProseMirror
	.prosemirror-placeholder
	+ :only-of-type {
	margin-top: 0;
}

.ATheme
	.block-styles-headline-big
	:first-child
	> li:first-child
	> p:first-child {
	margin-top: 0;
}

.ATheme
	.block-styles-headline-big
	ul
	> li
	> p:first-child {
	margin-top: 0em;
}

.ATheme
	.block-styles-headline-big
	ol
	> li
	> p:first-child {
	margin-top: 0em;
}

.ATheme
	.block-styles-headline-big
	ul
	> li
	> p {
	margin-top: 0em;
}

.ATheme
	.block-styles-headline-big
	ol
	> li
	> p {
	margin-top: 0em;
}
.ATheme
	.block-styles-headline-medium
	p {
	margin-top: 0em;
}

.ATheme
	.block-styles-headline-medium
	p:first-child {
	margin-top: 0;
}

.ATheme
	.block-styles-headline-medium
	.ProseMirror
	.prosemirror-placeholder
	+ :only-of-type {
	margin-top: 0;
}

.ATheme
	.block-styles-headline-medium
	:first-child
	> li:first-child
	> p:first-child {
	margin-top: 0;
}

.ATheme
	.block-styles-headline-medium
	ul
	> li
	> p:first-child {
	margin-top: 0em;
}

.ATheme
	.block-styles-headline-medium
	ol
	> li
	> p:first-child {
	margin-top: 0em;
}

.ATheme
	.block-styles-headline-medium
	ul
	> li
	> p {
	margin-top: 0em;
}

.ATheme
	.block-styles-headline-medium
	ol
	> li
	> p {
	margin-top: 0em;
}
.ATheme
	.block-styles-headline-small
	p {
	margin-top: 0em;
}

.ATheme
	.block-styles-headline-small
	p:first-child {
	margin-top: 0;
}

.ATheme
	.block-styles-headline-small
	.ProseMirror
	.prosemirror-placeholder
	+ :only-of-type {
	margin-top: 0;
}

.ATheme
	.block-styles-headline-small
	:first-child
	> li:first-child
	> p:first-child {
	margin-top: 0;
}

.ATheme
	.block-styles-headline-small
	ul
	> li
	> p:first-child {
	margin-top: 0em;
}

.ATheme
	.block-styles-headline-small
	ol
	> li
	> p:first-child {
	margin-top: 0em;
}

.ATheme
	.block-styles-headline-small
	ul
	> li
	> p {
	margin-top: 0em;
}

.ATheme
	.block-styles-headline-small
	ol
	> li
	> p {
	margin-top: 0em;
}
.ATheme
	.block-styles-paragraph
	p {
	margin-top: 0em;
}

.ATheme
	.block-styles-paragraph
	p:first-child {
	margin-top: 0;
}

.ATheme
	.block-styles-paragraph
	.ProseMirror
	.prosemirror-placeholder
	+ :only-of-type {
	margin-top: 0;
}

.ATheme
	.block-styles-paragraph
	:first-child
	> li:first-child
	> p:first-child {
	margin-top: 0;
}

.ATheme
	.block-styles-paragraph
	ul
	> li
	> p:first-child {
	margin-top: 0em;
}

.ATheme
	.block-styles-paragraph
	ol
	> li
	> p:first-child {
	margin-top: 0em;
}

.ATheme
	.block-styles-paragraph
	ul
	> li
	> p {
	margin-top: 0em;
}

.ATheme
	.block-styles-paragraph
	ol
	> li
	> p {
	margin-top: 0em;
}
.ATheme
	.block-styles-paragraph-small
	p {
	margin-top: 0em;
}

.ATheme
	.block-styles-paragraph-small
	p:first-child {
	margin-top: 0;
}

.ATheme
	.block-styles-paragraph-small
	.ProseMirror
	.prosemirror-placeholder
	+ :only-of-type {
	margin-top: 0;
}

.ATheme
	.block-styles-paragraph-small
	:first-child
	> li:first-child
	> p:first-child {
	margin-top: 0;
}

.ATheme
	.block-styles-paragraph-small
	ul
	> li
	> p:first-child {
	margin-top: 0em;
}

.ATheme
	.block-styles-paragraph-small
	ol
	> li
	> p:first-child {
	margin-top: 0em;
}

.ATheme
	.block-styles-paragraph-small
	ul
	> li
	> p {
	margin-top: 0em;
}

.ATheme
	.block-styles-paragraph-small
	ol
	> li
	> p {
	margin-top: 0em;
}
.ATheme
	.block-styles-shape
	p {
	margin-top: 0em;
}

.ATheme
	.block-styles-shape
	p:first-child {
	margin-top: 0;
}

.ATheme
	.block-styles-shape
	.ProseMirror
	.prosemirror-placeholder
	+ :only-of-type {
	margin-top: 0;
}

.ATheme
	.block-styles-shape
	:first-child
	> li:first-child
	> p:first-child {
	margin-top: 0;
}

.ATheme
	.block-styles-shape
	ul
	> li
	> p:first-child {
	margin-top: 0em;
}

.ATheme
	.block-styles-shape
	ol
	> li
	> p:first-child {
	margin-top: 0em;
}

.ATheme
	.block-styles-shape
	ul
	> li
	> p {
	margin-top: 0em;
}

.ATheme
	.block-styles-shape
	ol
	> li
	> p {
	margin-top: 0em;
}

@keyframes intercom-lightweight-app-launcher {
	from {
		opacity: 0;
		transform: scale(0.5);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes intercom-lightweight-app-gradient {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes intercom-lightweight-app-messenger {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	40% {
		opacity: 1;
	}
	100% {
		transform: scale(1);
	}
}

.intercom-lightweight-app {
	position: fixed;
	z-index: 2147483001;
	width: 0;
	height: 0;
	font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
}

.intercom-lightweight-app-gradient {
	position: fixed;
	z-index: 2147483002;
	width: 500px;
	height: 500px;
	bottom: 0;
	right: 0;
	pointer-events: none;
	background: radial-gradient(
		ellipse at bottom right,
		rgba(29, 39, 54, 0.16) 0%,
		rgba(29, 39, 54, 0) 72%
	);
	animation: intercom-lightweight-app-gradient 200ms ease-out;
}

.intercom-lightweight-app-launcher {
	position: fixed;
	z-index: 2147483003;
	padding: 0 !important;
	margin: 0 !important;
	border: none;
	bottom: 24px;
	right: 68px;
	max-width: 48px;
	width: 48px;
	max-height: 48px;
	height: 48px;
	border-radius: 50%;
	background: #586ee0;
	cursor: pointer;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.06), 0 2px 32px 0 rgba(0, 0, 0, 0.16);
	transition: transform 167ms cubic-bezier(0.33, 0, 0, 1);
	box-sizing: content-box;
}

.intercom-lightweight-app-launcher:hover {
	transition: transform 250ms cubic-bezier(0.33, 0, 0, 1);
	transform: scale(1.1);
}

.intercom-lightweight-app-launcher:active {
	transform: scale(0.85);
	transition: transform 134ms cubic-bezier(0.45, 0, 0.2, 1);
}

.intercom-lightweight-app-launcher:focus {
	outline: none;
}

.intercom-lightweight-app-launcher-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 48px;
	height: 48px;
	transition: transform 100ms linear, opacity 80ms linear;
}

.intercom-lightweight-app-launcher-icon-open {
	opacity: 1;
	transform: rotate(0deg) scale(1);
}

.intercom-lightweight-app-launcher-icon-open svg {
	width: 24px;
	height: 24px;
}

.intercom-lightweight-app-launcher-icon-open svg path {
	fill: rgb(255, 255, 255);
}

.intercom-lightweight-app-launcher-icon-self-serve {
	opacity: 1;
	transform: rotate(0deg) scale(1);
}

.intercom-lightweight-app-launcher-icon-self-serve svg {
	height: 44px;
}

.intercom-lightweight-app-launcher-icon-self-serve svg path {
	fill: rgb(255, 255, 255);
}

.intercom-lightweight-app-launcher-custom-icon-open {
	max-height: 24px;
	max-width: 24px;

	opacity: 1;
	transform: rotate(0deg) scale(1);
}

.intercom-lightweight-app-launcher-icon-minimize {
	opacity: 0;
	transform: rotate(-60deg) scale(0);
}

.intercom-lightweight-app-launcher-icon-minimize svg path {
	fill: rgb(255, 255, 255);
}

.intercom-lightweight-app-messenger {
	position: fixed;
	z-index: 2147483003;
	overflow: hidden;
	background-color: white;
	animation: intercom-lightweight-app-messenger 250ms cubic-bezier(0, 1, 1, 1);
	transform-origin: bottom right;

	width: 400px;
	height: calc(100% - 44px);
	max-height: 704px;
	min-height: 250px;
	right: 68px;
	bottom: 24px;
	box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);

	border-radius: 16px;
}

.intercom-lightweight-app-messenger-header {
	height: 64px;
	border-bottom: none;
	background: #586ee0;
}

.intercom-lightweight-app-messenger-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	background: #fff;
	font-size: 14px;
	line-height: 21px;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
}

@media print {
	.intercom-lightweight-app {
		display: none;
	}
}

<div class="player-v2" data-test-id="player">
	<div id="current-visible-slide" class="player-v2--stage stage-idled" data-test-id="current-visible-slide">
		<div class="slide-wrapper">
			<div class="canvas-precision-wrapper">
				<div class="scaled-canvas">
					<div class="slide theme-background" data-slide-index="0">
						<div class="position shape block-highlightable auto-resizable ATheme" data-test-id="wine">
							<div class="block shape" data-test-id="rectangle-canvas">
								<div class="div-rectangle" data-test-id="div-rectangle">
									 
								</div>
								<div class="text-in-shape" data-test-id="text-in-shape">
									<div class="ql-editor block text rop block-styles-wine block-styles-paragraph text-with-paragraph-spacing" data-test-id="read-only-text" data-uuid="wine">
										<div>
											<p>
												<span>
													<span>
														<span>
															Python
														</span>
													</span>
												</span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="position text auto-resizable ATheme" data-test-id="crunch">
							<div class="ql-editor block text rop text-with-shadow-and-blur-for-printing block-styles-crunch block-styles-paragraph" data-test-id="read-only-text" data-uuid="crunch">
								<div>
									<p>
										a11y-dark
									</p>
								</div>
							</div>
						</div>
						<div class="position shape block-highlightable auto-resizable ATheme" data-test-id="mashy">
							 
						</div>
						<div class="position image block-highlightable ATheme" data-test-id="hist">
							<div class="outer-image-wrapper">
								<div class="image-wrapper">
									<img class="block image" src="" alt="" data-network-src="https://pitch-assets.imgix.net/6b6ee2ec-5917-4de5-b424-11c5f3ab80a2?pitch-bytes=172985&amp;pitch-content-type=image%2Fpng&amp;w=1669&amp;h=2396&amp;fit=max&amp;auto=format&amp;q=100" />
								</div>
							</div>
						</div>
						<div class="position shape block-highlightable auto-resizable ATheme" data-test-id="chickpeas">
							 
						</div>
						<div class="position image block-highlightable ATheme" data-test-id="celery">
							<div class="outer-image-wrapper">
								<div class="image-wrapper">
									<img class="block image" src="" alt="" data-network-src="https://pitch-assets.imgix.net/877fcb87-06fa-4eeb-a519-d792986a2741?pitch-bytes=168198&amp;pitch-content-type=image%2Fpng&amp;w=1669&amp;h=2396&amp;fit=max&amp;auto=format&amp;q=100" />
								</div>
							</div>
						</div>
						<div class="position text auto-resizable ATheme" data-test-id="acorns">
							<div class="ql-editor block text rop text-with-shadow-and-blur-for-printing block-styles-acorns block-styles-paragraph" data-test-id="read-only-text" data-uuid="acorns">
								<div>
									<p>
										agate-min
									</p>
								</div>
							</div>
						</div>
						<div class="position image block-highlightable ATheme" data-test-id="fresh">
							<div class="outer-image-wrapper">
								<div class="image-wrapper">
									<img class="block image" src="" alt="" data-network-src="https://pitch-assets.imgix.net/7d4c00e8-501c-4c92-8844-befb82e487cf?pitch-bytes=179696&amp;pitch-content-type=image%2Fpng&amp;w=1669&amp;h=2396&amp;fit=max&amp;auto=format&amp;q=100" />
								</div>
							</div>
						</div>
						<div class="position text auto-resizable ATheme" data-test-id="bad1e">
							<div class="ql-editor block text rop text-with-shadow-and-blur-for-printing block-styles-bad1e block-styles-paragraph" data-test-id="read-only-text" data-uuid="bad1e">
								<div>
									<p>
										a11y-light
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		 
	</div>
</div>
<div>
	 
</div>