button {
   font-family: best-choice, mono;
   font-size: 0.8rem;
   font-style: normal;
   font-weight: 400;
}
@font-face {
   font-family: best-choice;
   font-stretch: normal;
   font-style: normal;
   font-weight: 400;
   src: url(https://use.typekit.net/af/e88ccc/00000000000000007735ea8d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/e88ccc/00000000000000007735ea8d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/e88ccc/00000000000000007735ea8d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype")
}
.container2 {
   box-sizing: border-box;
   gap: 2rem;
   display: grid;
   font-size: calc(0.333vw + 1em);
   line-height: calc(0.8 * 1.5);
   margin-top: 2rem;
   margin-left: auto;
   margin-right: auto;
   place-items: center;
   grid-template-columns: repeat(4, 10rem);
   width: fit-content;
   padding: 10px;
   position: relative;
   /* Necessary for positioning the pseudo-element */
   background-color: transparent;
   /* Ensures container background doesn't interfere */
}
button {
   background-color: #1d1d1b;
   border-radius: 5px;
   color: #f7f7f7;
   font-family: "best-choice", mono;
   padding: 1ch 5ch;
   transition: box-shadow .2s;
}
/* Adjusted hover and active states for better clarity */
button:hover:before, button:hover:after {
   height: 100%;
   width: 100%;
}
.button1 {
   border-color: solid 2px#353535;
   box-shadow: 4px 4px 3px rgba(154, 130, 151);
   transition: box-shadow 0.1s;
   color: #f7f7f7;
   font-weight: 300;
}
.button1:hover {
   box-shadow: 6px 6px 0 rgba(154, 130, 151);
   transition: ease-in-out .5s;
   /* Corrected property placement */
}
.button1:active {
   box-shadow: 10px 10px 8px #1d1d1b;
}
.button2 {
   border: solid 2px #313030;
   outline: none;
   position: relative;
   background-color: #f7f7f7;
   color: #1d1d1b;
}
.button2:hover {
   background-color: #1d1d1b;
   color: #f7f7f7;
}
