/*NOTE -  the .vh tag under an svg declaration to describe it to screen readers. Use the focusable="false" to keep the svg code from being processed as readable content.  The format for using both attributs is:
<code>
<a class="docs-logo" href="/">
   <svg focusable="false">
      <use xlink:href="/images/all.svg#logo"></use>
   </svg>
   <span class="vh">Every Layout, Homepage</span>
</a>
</code>

/* .vh--vh--vh--vh--vh--vh--vh--vh--vh--vh--vh--vh--vh  */
.vh {
   clip-path: inset(100%) !important;
   clip: rect(1px, 1px, 1px, 1px) !important;
   height: 1px !important;
   overflow: hidden !important;
   position: absolute !important;
   white-space: nowrap !important;
   width: 1px !important;
}


@media print {
   .banner {
      display: none;
   }
}


.sr-only {
   position: absolute;
   overflow: hidden;
   width: var(--s1);
   height: var(--s1);
   padding: 0;
   border: 0;
   margin: -var(--s1);
   clip: rect(0, 0, 0, 0);
}
