
:root {
	--white: #f7f7f7;
	--grey-10: #edeeed;
	--grey-20: #d3d4d4;
	--grey-30: #bababa;
	--grey-40: #8f8f8f;
	--grey-50: #6b6b6b;
	--grey-06: #525252;
	--grey-70: #454545;
	--grey-80: #313030;
	--grey-90: #242424;
	--black: #1d1d1b;
	--purple: rgb(154 130 151);
	--ratio: 1.2;
	--unit: 0.0625rem;
	--unit-half: 0.03125rem;
	--f-5: clamp(0.33rem, 0.39rem + -0.29vw, 0.18rem);
	--f-4: clamp(0.41rem, 0.47rem + -0.31vw, 0.25rem);
	--f-3: clamp(0.51rem, 0.57rem + -0.31vw, 0.35rem);
	--f-2: clamp(0.64rem, 0.69rem + -0.27vw, 0.5rem);
	--f-1: clamp(0.8rem, 0.84rem + -0.18vw, 0.71rem);
	--f0: clamp(1rem, 1rem + 0vw, 1rem);
	--f1: clamp(1.25rem, 1.19rem + 0.32vw, 1.41rem);
	--f2: clamp(1.56rem, 1.39rem + 0.85vw, 2rem);
	--f3: clamp(1.95rem, 1.61rem + 1.7vw, 2.83rem);
	--f4: clamp(2.44rem, 1.83rem + 3.04vw, 4rem);
	--f5: clamp(3.05rem, 2.04rem + 5.07vw, 5.65rem);
	--measure: 65ch;
	--line-height: var(--ratio);
	--line-height-small: calc(0.8 * var(--ratio));
	--border-thin: var(--s-5);
	--border-thick: var(--s-2);
	--exploded: 0;
	--transition: 0.2s;
	--speed: 0.5s;
	--stagger: -0.1s;
	--font-plain: Helvetica Neue, Helvetica, Arial, sans-serif;
	--font-serif: Georgia, serif;
	--font-special: Barlow Condensed, Helvetica, sans-serif;
	--font-mono: "best-choice","Spot Mono", "Andale Mono", "Menlo", "Courier New", "monospace";
	--color-dark: #050505;
	--color-darkish: #404040;
	--color-lightish: #e6e6e6;
	--color-light: #fafafa;
	--color-mid: grey;
	line-height: var(--ratio);
	font-size: calc(0.333vw + 1em);
	font-family: var(--font-plain);
	background-color: var(--white);
		color: var(--black);
}
*,
:after,
:before {
	box-sizing: border-box;
	background-color: inherit;
	font-family: inherit;
	color: inherit;
	overflow-wrap: break-word;
	margin: 0;
	padding: 0;
	border: 0 solid;
}
@media (prefers-color-scheme: dark) {
	:root {
		--color-background: var(--black);
		--color-background-soft: var(--grey-90);
		--color-background-mute: var(--grey-80);
		--color-border: var(--divider-04);
		--color-border-hover: var(--divider-06);
		--color-heading: var(--divider-08);
		--color-text: var(--divider-10);
	}
}
 .flexbox-centering {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
}
.object-position {
	height: inherit;
	background: url("https://image.ibb.co/fUL9nS/wolf.png") no-repeat;
	background-position: calc(100% - 0em) calc(100% - 0em);
}
.overflow-scroll-gradient {
	position: relative;
}
.overflow-scroll-gradient::after {
	position: absolute;
	bottom: 0;
	width: var(--s240);
	height: 2var (--s5);
	background: linear-gradient(var(--white) 1%, var(--white));

	content: "";
	pointer-events: none;
}
.overflow-scroll-gradient__scroller {
	width: var(--s200);
	height: var(--s200);
	padding: var(--s15);
	background: var(--white);
	line-height: var(--17);
	overflow-y: scroll;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
/*
reset this value to the size the element that needs a shadow */
.dynamic-shadow {
	position: relative;
	 width: var(--s160);
	 height: var(--s160);
}
.dynamic-shadow::after {
	position: absolute;
	z-index: -1;
	top: var(--s8);
	width: 100%;
	height: 100%;
	background: inherit;
	content: "";
	filter: blur(var(--s6-5));
	opacity: 0.7;
}
.circle {
	width: var(--s32);
	height: var(--s32);
	border-radius: 50%;
	background: var(--black);
}
.circle2 {
	width: var(--s100);
	height: var(--s100);
	border: var(--s2) solid var(--black);
	border-radius: var(--s50);
	margin: var(--s48) auto;
	background-color: gold;
	outline: var(--s2) solid red;
	outline-offset: var(--s4);
}
.triangle {
	width: 0;
	height: 0;
	border-top: var(--s18) solid var(--black);
	border-left: var(--s18) solid transparent;
	border-right: var(--s18) solid transparent;
}
html,
body,
p,
a,
article,
figure,
footer,
header,
nav,
section,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	border: 0;
	margin: 0;
}
.flex {
	display: flex;
}

html {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background-color: #f4f6f5;
	block-size: 100%;
	color: var(--black);
	font-family: acumin-pro-wide, sans-serif;
	font-size: var(--s15);
	font-style: normal;
	font-weight: 400;
	scroll-behavior: smooth;
	vertical-align: baseline;
	writing-mode: horizontal-tb;
}
table {
	padding: 12ch;
}
body {
	display: grid;
	max-width: 100%;
	flex-direction: row;
	align-content: flex-start;
	padding: var(--s1);
	background-color: var(--white);
	color: var(--black);
}
 dark theme styles
[data-theme="dark"] body {
	background-color: var(--black);
	color: var(--white);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--black);
	font-family: adieu;
	font-style: normal;
	font-weight: 400;
	overflow-wrap: break-word;
	 margin-block-start: var(--s3);
   margin-block-end: var(--s2);
}
h1 {
	font-size: var(--s173);
}
h2 {
	font-size: var(--s97);
}
h3 {
	font-size: var(--s61);
}
h4 {
	font-size: var(--s50);
}
h5 {
	font-size: var(--s32);
}
h6 {
	font-size: var(--s24);
}
p {
	max-width: 40%;
	padding: var(--s12);
	font-family: acumin-pro-wide, sans-serif;
	font-size: var(--s1);
	line-height: var(--s1-5);
}
p + p {
	padding: var(--s12);
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select,
sup,
sub,
figcaption,
label,
mark,
fieldset,
option,
optgroup,
data,
code,
span,
output {
	font-family: "best-choice", mono;
	font-size: var(--s13);
	font-style: normal;
	font-weight: 400;
}
input {
	position: relative;
	display: inline-block;
	height: var(--s16);
	padding-right: var(--s5);
	padding-left: var(--s12);
	border: var(--s1) solid var(--black);
	border-radius: var(--s2);
	margin-right: var(--s20);
	color: var(--black);
	letter-spacing: var(--s2);
}
input:focus {
	border: var(--s1) solid var(--purple);
	box-shadow: var(--black) var(--s2) var(--purple);
	outline: none;
}
 input label {
    position: absolute;
    top: 10%;
     left: var(--s13);
    transform: translateY(-10%);
}

button {
	display: inline-block;
	align-self: flex;
	border-width: var(--s3);
	border-style: solid;
	border-color: var(--grey-90);
	border-radius: var(--s5);
	margin: var(--s6) 0 0.5em 0;
	background-color: inherit;
	box-shadow: var(--s10) var(--s10) var(--4-5) var(--purple);
	color: var(--black);
	font-size: var(--8);
	font-weight: 300;
	letter-spacing: var(---s16-5);
	transition: box-shadow 0.1s;
}
button:hover {
	box-shadow: var(--s12) var(--s12) var() var(--purple);
}
button:active {
	box-shadow: var(--s10) var(--s10) var(--s8) var(--black);
}
.button-description {
	position: relative;
	margin-left: var(--s16-5);
}
textarea {
	display: inline-block;
	min-width: var(--s100);
	margin: 0.5em 0;
	vertical-align: middle;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	box-shadow: var(--s1) var(--s1) var(--s2) var(--s1) var(--grey-90);
	max-block-size: 100%;
	max-inline-size: 100%;
}
.paper-like {
	border: var(--s1) solid var(--grey-30);
	margin: auto;
	background: hsl(0deg 0% 97% / 100%);
	block-size: var(--s10);
	box-shadow: 0 0 var(--s10-5) var(--grey-50);
	inline-size: var(--s10);
}
#link-list {
	padding-inline-start: 0;
}
#link-list a {
	position: relative;
	color: hsl(0deg 0% 16% / 100%);
	font-family: "Acuminprowide_Sans", sans-serif;
	font-size: var(--s16);
	padding-block: 1var (--s2) var(--s4);
	padding-inline: var(--s18) 2var (--s5);
	text-decoration: none;
}
#link-list a::after {
	position: absolute;
	background: hsl(0deg 0% 16% / 100%);
	block-size: var(--s1-5);
	content: "";
	inset-block-start: 60%;
	inset-inline: -var(--s8);
	opacity: 0;
	transition: opacity 0.5s;
}
#link-list a:hover {
	filter: drop-shadow(var(--s50) var(-s34) var(--s1) var(--black));
	text-decoration-line: none;
	&:hover::after {
		opacity: 1%;
	}
}
.skip-link {
	position: absolute;
	overflow: hidden;
	block-size: var(--s1);
	inline-size: var(--s1);
	inset-inline-start: var(--11-56);
}
.skip-link:focus {
	z-index: 10000;
	overflow: visible;
	block-size: auto;
	inline-size: auto;
	inset-block-start: 0;
}
.visually-hidden-a11y {
	position: absolute;
	overflow: hidden;
	width: var(--s1);
	height: var(--s1);
	padding: 0;
	border: 0;
	margin: -var(--s1);
	clip: rect(var(--black) 0);
}
.screen-reader-text {
	position: absolute;
	overflow: hidden;
	width: var(--s1);
	height: var(--s1);
	clip: rect(var(--s1), var(--s1), var(--s1), var(--s1));
}
.screen-reader-text:focus {
	z-index: 100000;
}
 /* Above WP toolbar. */
/* top: var(--s10-5);
left: var(--s10-5);
display: block;
width: auto;
height: auto;
padding: var(--s16) var(--10) var(--3-5);
border-radius: var(---45);
background-color: hsl(0deg 0% 94.5%);
box-shadow: 0 0 var(---s16-5) var(---s16-5) hsl(0deg 0% 0% / 60%);
clip: auto;
color: hsl(198.7deg 64.9% 36.9%);
font-size: var(--s13);
font-weight: 700;
line-height: normal;
text-decoration: none; */


.icon {
display: inline-block;
width: var(--s16);
height: var(--s16);
fill: currentcolor;
stroke: currentcolor;
stroke-width: 0;
}
.flow > * + * {
	margin-block-start: var(--flow-space, var(--8));
}

.grid-overlay {
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.grid-overlay.show {
	opacity: 1;
	visibility: visible;
}

.grid-overlay .column-overlay {
	height: 100vh;
	background: var(--purple);
	opacity: 0.1;
}
.email-label {
	color: var(--purple);
}
.email-label.hide {
	display: none;
}
textarea {
	display: inline-block;
	min-width: var(--s200);
	margin: 0.5em 0;
	vertical-align: middle;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.home-link {
	position: fixed;
	z-index: 300;
	display: flex;
	background-color: whitesmoke;
	inline-size: var(--s200);
	inset-block-start: 0;
	margin-block-start: var(--s30);
	margin-inline-start: var(--s50);
}
.nav {
	position: fixed;
	z-index: 103;
	display: flex;
	align-items: center;
	background-color: whitesmoke;
	block-size: var(--s100);
	inline-size: 100%;
	inset-block-start: 0;
	inset-inline-start: 0;
}
.nav-group {
	display: flex;
	max-width: var(--s200);
	max-height: 100%;
	flex-flow: row nowrap;
	align-items: baseline;
	gap: var(--s32);
	padding-inline-end: var(--s180);
	place-content: stretch flex-end;
}
.nav-links {
	flex-shrink: 1;
	padding: var(--s5);
	color: hsl(var(--black) / 100%);
	font-family: "Acuminprowide_Sans", sans-serif;
	text-decoration: none;
}
.hr-container {
	position: fixed;
	z-index: 1000;
	display: flex;
	justify-content: flex-end;
	padding: 0;
	inline-size: 100%;
	inset-block-start: var(--s100);
}
#app {
	max-width: 80rem;
	padding: var(--s32);
	margin: 0 auto;
	font-weight: 400;
}
