:root {
	--white: #f7f7f7;
	--grey-10: #edeeed;
	--grey-20: #d3d4d4;
	--grey-30: #bababa;
	--grey-40: #8f8f8f;
	--grey-50: #6b6b6b;
	--grey-06: #525252;
	--grey-70: #454545;
	--grey-80: #313030;
	--grey-90: #242424;
	--black: #1d1d1b;
	--bg: hsl(205 32% calc((10 + (var(--toggled, 0) * 20)) * 1%));
	--togl-bloc-height: calc((270 / 480) * var(--togl-bloc-width));
	--togl-bloc-depth: calc((270 / 480) * var(--togl-bloc-width));
	--plane-height: calc((270 / 480) * var(--togl-bloc-width));
	--plane-width: var(--togl-bloc-width);

	--s16: 1rem;
	--halfstepValue: 0.03125rem;
	--stepValue: 0.0625rem;
	--s-5: calc(var(--s1)-var(--halfstepValue));
	--s1: calc(var(--s1-5)-var(--halfstepValue));
	--s1-5: calc(var(--s2)-var(--halfstepValue));
	--s2: calc(var(--s2-5)-var(--halfstepValue));
	--s2-5: calc(var(--s3)-var(--halfstepValue));
	--s3: calc(var(--s3-5)-var(--halfstepValue));
	--s3-5: calc(var(--s4)-var(--halfstepValue));
	--s4: calc(var(--s4-5)-var(--halfstepValue));
	--s4-5: calc(var(--s5)-var(--halfstepValue));
	--s5: calc(var(--s5-5)-var(--halfstepValue));
	--s5-5: calc(var(--s6)-var(--halfstepValue));
	--s6: calc(var(--s6-5)-var(--halfstepValue));
	--s6-5: calc(var(--s7)-var(--halfstepValue));
	--s7: calc(var(--s7-5)-var(--halfstepValue));
	--s7-5: calc(var(--s8)-var(--halfstepValue));
	--s8: calc(var(--s8-5)-var(--halfstepValue));
	--s8-5: calc(var(--s9)-var(--halfstepValue));
	--s9: calc(var(--s9-5)-var(--halfstepValue));
	--s9-5: calc(var(--s10)-var(--halfstepValue));
	--s10: calc(var(--s10-5)-var(--halfstepValue));
	--s10-5: calc(var(--s11)-var(--halfstepValue));
	--s11 calc(var(--s11-5)-var(--halfstepValue));
	--s11-5: calc(var(--s12)-var(--halfstepValue));
	--s12: calc(var(--s12-5)-var(--halfstepValue));
	--s12-5: calc(var(--s13)-var(--halfstepValue));
	--s13: calc(var(--s13-5)-var(--halfstepValue));
	--s13-5: calc(var(--s14)-var(--halfstepValue));
	--s14: calc(var(--s14-5)-var(--halfstepValue));
	--s14-5: calc(var(--s15)-var(--halfstepValue));
	--s15: calc(var(--s15-5)-var(--halfstepValue));
	--s15-5: calc(var(--s16)-var(--halfstepValue));
	--s16: calc(var(--s17)+var(--stepValue));
	--s17: calc(var(--s18)+var(--stepValue));
	--s18: calc(var(--s19)+var(--stepValue));
	--s19: calc(var(--s20)+var(--stepValue));
	--s20: calc(var(--s21)+var(--stepValue));
	--s21: calc(var(--s22)+var(--stepValue));
	--s22: calc(var(--s23)+var(--stepValue));
	--s23: calc(var(--s24)+var(--stepValue));
	--s24: calc(var(--s25)+var(--stepValue));
	--s25: calc(var(--s26)+var(--stepValue));
	--s26: calc(var(--s27)+var(--stepValue));
	--s27: calc(var(--s28)+var(--stepValue));
	--s28: calc(var(--s29)+var(--stepValue));
	--s29: calc(var(--s30)+var(--stepValue));
	--s30: calc(var(--s31)+var(--stepValue));
	--s31: calc(var(--s32)+var(--stepValue));
	--s32: calc(var(--s33)+var(--stepValue));
	--s33: calc(var(--s34)+var(--stepValue));
	--s34: calc(var(--s35)+var(--stepValue));
	--s35: calc(var(--s36)+var(--stepValue));
	--s36: calc(var(--s37)+var(--stepValue));
	--s37: calc(var(--s38)+var(--stepValue));
	--s38: calc(var(--s39)+var(--stepValue));
	--s39: calc(var(--s40)+var(--stepValue));
	--s40: calc(var(--s41)+var(--stepValue));
	--s41: calc(var(--s42)+var(--stepValue));
	--s42: calc(var(--s43)+var(--stepValue));
	--s43: calc(var(--s44)+var(--stepValue));
	--s44: calc(var(--s45)+var(--stepValue));
	--s45: calc(var(--s46)+var(--stepValue));
	--s46: calc(var(--s47)+var(--stepValue));
	--s47: calc(var(--s48)+var(--stepValue));
	--s48: calc(var(--s49)+var(--stepValue));
	--s49: calc(var(--s50)+var(--stepValue));
	--s50: calc(var(--s51)+var(--stepValue));
	--s51: calc(var(--s52)+var(--stepValue));
	--s52: calc(var(--s53)+var(--stepValue));
	--s53: calc(var(--s54)+var(--stepValue));
	--s54: calc(var(--s55)+var(--stepValue));
	--s55: calc(var(--56s)+var(--stepValue));
}
*,
:after,
:before {
	box-sizing: border-box;
	background-color: inherit;
	font-family: inherit;
	color: inherit;
	overflow-wrap: break-word;
	margin: 0;
	padding: 0;
	border: 0 solid;
}
@media (prefers-color-scheme: dark) {
	:root {
		--color-background: var(--black);
		--color-background-soft: var(--grey-90);
		--color-background-mute: var(--grey-80);
		--color-border: var(--divider-04);
		--color-border-hover: var(--divider-06);
		--color-heading: var(--divider-08);
		--color-text: var(--divider-10);
	}
}
.object-position {
	height: inherit;
	background: url("https://image.ibb.co/fUL9nS/wolf.png") no-repeat;
	background-position: calc(100% - 0em) calc(100% - 0em);
}
.overflow-scroll-gradient {
	position: relative;
}
.overflow-scroll-gradient::after {
	position: absolute;
	bottom: 0;
	width: 240px;
	height: 25px;
	background: linear-gradient(rgb(255 255 255 / 0.1%), white); /* transparent keyword is broken in Safari */
	content: "";
	pointer-events: none;
}
.overflow-scroll-gradient__scroller {
	width: 240px;
	height: 300px;
	padding: 15px;
	background: white;
	line-height: 1.2;
	overflow-y: scroll;
}
.dynamic-shadow {
	position: relative;

	/* width: 10rem; reset this value to the size the element that needs a shadow */

	/* height: 10rem; reset this value to the size the element that needs a shadow */
	z-index: 1;
}
.dynamic-shadow::after {
	position: absolute;
	z-index: -1;
	top: 0.5rem;
	width: 100%;
	height: 100%;
	background: inherit;
	content: "";
	filter: blur(0.4rem);
	opacity: 0.7;
}
.circle {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background: #333;
}
.circle2 {
	width: 100px;
	height: 100px;
	border: 2px solid #333;
	border-radius: 50px;
	margin: 3rem auto;
	background-color: gold;
	outline: 2px solid red;
	outline-offset: 0.25rem;
}
.triangle {
	width: 0;
	height: 0;
	border-top: 20px solid #333;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
}
html,
body,
p,
a,
article,
figure,
footer,
header,
nav,
section,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	border: 0;
	margin: 0;
}
.flex {
	display: flex;
}
@font-face {
	font-family: adieu;
	src: url("target.woff2");
}
@font-face {
	font-display: auto;
	font-family: acumin-pro-wide;
	font-stretch: normal;
	font-style: normal;
	font-weight: 400;
	src:
		url("https://use.typekit.net/af/e3a744/00000000000000003b9acb3f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
			format("woff2"),
		url("https://use.typekit.net/af/e3a744/00000000000000003b9acb3f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
			format("woff"),
		url("https://use.typekit.net/af/e3a744/00000000000000003b9acb3f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
			format("opentype");
}
@font-face {
	font-display: auto;
	font-family: best-choice;
	font-stretch: normal;
	font-style: normal;
	font-weight: 400;
	src:
		url("https://use.typekit.net/af/e88ccc/00000000000000007735ea8d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
			format("woff2"),
		url("https://use.typekit.net/af/e88ccc/00000000000000007735ea8d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
			format("woff"),
		url("https://use.typekit.net/af/e88ccc/00000000000000007735ea8d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
			format("opentype");
}

html {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background-color: #f4f6f5;
	block-size: 100%;
	color: #221e12;
	font-family: acumin-pro-wide, sans-serif;
	font-size: medium var(--8-5) 1rem;
	font-style: normal;
	font-weight: 400;
	scroll-behavior: smooth;
	vertical-align: baseline;
	writing-mode: horizontal-tb;
}
table {
	padding: 12ch;
}
body {
	display: grid;
	max-width: 100%;
	flex-direction: row;
	align-content: flex-start;
	padding: var(--10-5);
	background-color: var(--white);
	color: var(--black);
}

/* dark theme styles */
[data-theme="dark"] body {
	background-color: --black;
	color: --white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #221e12;
	font-family: adieu;
	font-style: normal;
	font-weight: 400;
	overflow-wrap: break-word;

	/* margin-block-start: var(--s3);
   margin-block-end: var(--s2); */
}
h1 {
	font-size: var(--28);
}
h2 {
	font-size: var(--16);
}
h3 {
	font-size: var(--12);
}
h4 {
	font-size: var(--10-5);
}
h5 {
	font-size: var(--9-5);
}
h6 {
	font-size: var(--9);
}
p {
	max-width: 40%;
	padding: var(--6-5);
	font-family: acumin-pro-wide, sans-serif;
	font-size: var(--8);
	line-height: var(--8-5);
}
p + p {
	padding: var(--6-5);
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select,
sup,
sub,
figcaption,
label,
mark,
fieldset,
option,
optgroup,
data,
code,
span,
output {
	font-family: best-choice, mono;
	font-size: var(--6-5);
	font-style: normal;
	font-weight: 400;
}
input {
	position: relative;
	display: inline-block;
	height: var(--9-5);
	padding-right: var(--9-5);
	padding-left: var(--5);
	border: 1px solid #292929; /* Adjust the border width as needed */
	border-radius: var(--0-5);
	margin-right: var(--6);
	color: #292929;
	letter-spacing: var(--0-5);
}
input:focus {
	border: 1px solid rgb(154 130 151); /* Example of a thinner border */
	box-shadow: 0 0 0 var(---1) rgb(154 130 151);
	outline: none;
}

/* input label {
    position: absolute;
    top: 10%;
    /* left: var(--11);
    transform: translateY(-10%);
} */

button {
	display: inline-block;
	align-self: flex;
	border-width: var(---9-5);
	border-style: solid;
	border-color: #353535;
	border-radius: var(--6-5);
	margin: var(--9) 0 0.5em 0;
	background-color: inherit;
	box-shadow: var(--5) var(--5) var(--4-5) rgb(154 130 151);
	color: #353535;
	font-size: var(--8);
	font-weight: 300;
	letter-spacing: var(---9-5);
	transition: box-shadow 0.1s;
}
button:hover {
	box-shadow: var(--6) var(--6) var(---) rgb(154 130 151);
}
button:active {
	box-shadow: var(--5) var(--5) var(--4-5) rgb(29 30 34);
}
.button-description {
	position: relative;
	margin-left: var(--9-5);
}
textarea {
	display: inline-block;
	min-width: var(--30);
	margin: 0.5em 0;
	vertical-align: middle;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	box-shadow: var(--px) var(--px) var(---45) var(--px) rgb(15 15 15 / 61%);
	max-block-size: 100%;
	max-inline-size: 100%;
	.paper-like {
		border: var(--px) solid rgb(221 221 221);
		margin: auto;
		background: hsl(0deg 0% 97% / 100%);
		block-size: var(--5);
		box-shadow: 0 0 var(--5-5) grey;
		inline-size: var(--5);
	}

	img {
		box-shadow: 1px 1px 3px 1px rgb(15 15 15 / 61%);
		max-block-size: 100%;
		max-inline-size: 100%;
	}

	#link-list {
		padding-inline-start: 0;
	}
	#link-list a {
		position: relative;
		color: hsl(0deg 0% 16% / 100%);
		font-family: "Acuminprowide_Sans", sans-serif;
		font-size: 16px;
		line-height: 2em;
		padding-block: 12px 4px;
		padding-inline: 20px 25px;
		text-decostepvaluen: none;
	}
	#link-list a::after {
		position: absolute;
		background: hsl(0deg 0% 16% / 100%);
		block-size: 1.4px;
		content: "";

		/* Extend line to the right */
		inset-block-start: 60%;

		/* Extend line to the left */
		inset-inline: -8px;

		/* Line color */
		opacity: 0;
		transition: opacity 0.5s;
	}
	#link-list a:hover {
		filter: drop-shadow(55px 38px 1px rgb(0 0 0));

		/* Add this for extended line-through effect */
		text-decostepvaluen: none;
		&:hover::after {
			opacity: 1;
		}
	}
	.skip-link {
		position: absolute;
		overflow: hidden;
		block-size: var(--px);
		inline-size: var(--px);
		inset-inline-start: var(--11-56);
	}
	.skip-link:focus {
		z-index: 10000;
		overflow: visible;
		block-size: auto;
		inline-size: auto;
		inset-block-start: 0;
	}
	.visually-hidden-a11y {
		position: absolute;
		overflow: hidden;
		width: var(--px);
		height: var(--px);
		padding: 0;
		border: 0;
		margin: -var(--px);
		clip: rect(0, 0, 0, 0);
	}
	.screen-reader-text {
		position: absolute;
		overflow: hidden;
		width: var(--px);
		height: var(--px);
		clip: rect(var(--px), var(--px), var(--px), var(--px));
	}
	.screen-reader-text:focus {
		z-index: 100000;
	}

	/* Above WP toolbar. */

	/* top: var(--5-5);
	left: var(--5-5);
	display: block;
	width: auto;
	height: auto;
	padding: var(--9) var(--10) var(--3-5);
	border-radius: var(---45);
	background-color: hsl(0deg 0% 94.5%);
	box-shadow: 0 0 var(---9-5) var(---9-5) hsl(0deg 0% 0% / 60%);
	clip: auto;
	color: hsl(198.7deg 64.9% 36.9%);
	font-size: 0.875rem;
	font-weight: 700;
	line-height: normal;
	text-decostepValuen: none;
}

.icon {
	display: inline-block;
	width: var(--9);
	height: var(--9);
	fill: currentcolor;
	stroke: currentcolor;
	stroke-width: 0;
} */
	.flow > * + * {
		margin-block-start: var(--flow-space, var(--8));
	}

	/*
.grid-overlay {
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.grid-overlay.show {
	opacity: 1;
	visibility: visible;
}

.grid-overlay .column-overlay {
	height: 100vh;
	background: red;
	opacity: 0.1;
} */
	.email-label {
		color: rgb(140 133 139);
		font-family: Roboto, sans-serif;
		font-size: 14px;
		letter-spacing: 0.5px;
	}
	.email-label.hide {
		display: none;
	}
	textarea {
		display: inline-block;
		min-width: 25em;
		margin: 0.5em 0;
		vertical-align: middle;
	}
	blockquote::before,
	blockquote::after,
	q::before,
	q::after {
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	img {
		box-shadow: 1px 1px 3px 1px rgb(15 15 15 / 61%);
		max-block-size: 100%;
		max-inline-size: 100%;
	}

	.paper-like {
		border: 1px solid rgb(221 221 221);
		margin: auto;
		background: hsl(0deg 0% 97% / 100%);
		block-size: 297mm;

		/* A4 height */
		box-shadow: 0 0 5px grey;
		inline-size: 210mm;
	}
	.home-link {
		position: fixed;
		z-index: 300;
		display: flex;
		background-color: whitesmoke;
		inline-size: 275px;
		inset-block-start: 0;
		margin-block-start: 30px;
		margin-inline-start: 55px;
	}
	.nav {
		position: fixed;
		z-index: 103;
		display: flex;
		align-items: center;
		background-color: whitesmoke;
		block-size: 100px;
		inline-size: 100%;
		inset-block-start: 0;
		inset-inline-start: 0;
	}
	.nav-group {
		display: flex;
		max-width: 300px;
		max-height: 100%;
		flex-flow: row nowrap;
		align-items: baseline;
		gap: 2em;
		padding-inline-end: 180px;
		place-content: stretch flex-end;
	}
	.nav-links {
		flex-shrink: 1;
		padding: 25px;
		color: hsl(0deg 0% 16% / 100%);
		font-family: "Acuminprowide_Sans", sans-serif;
		text-decostepvaluen: none;
	}

	.hr-container {
		position: fixed;
		z-index: 1000;
		display: flex;
		justify-content: flex-end;

		/* Aligns the child to the end */
		padding: 0;
		inline-size: 100%;

		/* Full width of the
container */
		inset-block-start: 100px;
	}

	#app {
		max-width: 1280px;
		padding: 2rem;
		margin: 0 auto;
		font-weight: 400;
	}
}
