root {



    --grey-70: hsla(0, 0%, 20%, 1);
    --grey-60: hsla(0, 0%, 27%, 1);
    --grey-50: hsla(0, 0%, 42%, 1);

    --grey-30: hsla(0, 0%, 77%, 1);
    --grey-20: hsla(0, 0%, 82%, 1);
    --grey-10: hsla(0, 0%, 92%, 1);
    --grey-5: hsla(0, 0%, 97%, 1);

    --headerheight: calc(10.983009vw + 80px)
}







.flow>*+* {
    margin-block-start:var(--flow-space, 1em)}

.text-content : is(h2+*,h3+*,h4+*) {
    --flow-space: 2em
}

.text-content {
    --flow-space: 1em
}

.text-r {
    display: flex;
    justify-content: flex-end
}





.columns.no-gutter {
    --gutter: 0
}

.columns.space-between {
    justify-content: space-between
}

.full-bleed {
    --pageMarginTotal: 0
}





.col-1 {
    --span: 1
}





.col-4 {
    --span: 4
}

.col-5 {
    --span: 5
}



.col-7 {
    --span: 7
}

.col-8 {
    --span: 8
}

.col-9 {
    --span: 9
}

.col-10 {
    --span: 10
}

.col-11 {
    --span: 11
}



.col-13 {
    --span: 13
}

.col-14 {
    --span: 14
}

.col-15 {
    --span: 15
}

.col-16 {
    --span: 16
}

.col-17 {
    --span: 17
}

.col-18 {
    --span: 18
}

.col-19 {
    --span: 19
}

.col-20 {
    --span: 20
}

.col-21 {
    --span: 21
}

.col-22 {
    --span: 22
}

.col-23 {
    --span: 23
}

.col-24 {
    --span: 24
}



@media all and (max-width: 1200px) {
    .col-l-1 {
        --span: 1
    }
}

@media all and (max-width: 1200px) {
    .col-l-2 {
        --span: 2
    }
}

@media all and (max-width: 1200px) {
    .col-l-3 {
        --span: 3
    }
}

@media all and (max-width: 1200px) {
    .col-l-4 {
        --span: 4
    }
}

@media all and (max-width: 1200px) {
    .col-l-5 {
        --span: 5
    }
}

@media all and (max-width: 1200px) {
    .col-l-6 {
        --span: 6
    }
}

@media all and (max-width: 1200px) {
    .col-l-7 {
        --span: 7
    }
}

@media all and (max-width: 1200px) {
    .col-l-8 {
        --span: 8
    }
}

@media all and (max-width: 1200px) {
    .col-l-9 {
        --span: 9
    }
}

@media all and (max-width: 1200px) {
    .col-l-10 {
        --span: 10
    }
}

@media all and (max-width: 1200px) {
    .col-l-11 {
        --span: 11
    }
}

@media all and (max-width: 1200px) {
    .col-l-12 {
        --span: 12
    }
}

@media all and (max-width: 1200px) {
    .col-l-13 {
        --span: 13
    }
}

@media all and (max-width: 1200px) {
    .col-l-14 {
        --span: 14
    }
}

@media all and (max-width: 1200px) {
    .col-l-15 {
        --span: 15
    }
}

@media all and (max-width: 1200px) {
    .col-l-16 {
        --span: 16
    }
}

@media all and (max-width: 1200px) {
    .col-l-17 {
        --span: 17
    }
}

@media all and (max-width: 1200px) {
    .col-l-18 {
        --span: 18
    }
}

@media all and (max-width: 1200px) {
    .col-l-19 {
        --span: 19
    }
}

@media all and (max-width: 1200px) {
    .col-l-20 {
        --span: 20
    }
}

@media all and (max-width: 1200px) {
    .col-l-21 {
        --span: 21
    }
}

@media all and (max-width: 1200px) {
    .col-l-22 {
        --span: 22
    }
}

@media all and (max-width: 1200px) {
    .col-l-23 {
        --span: 23
    }
}

@media all and (max-width: 1200px) {
    .col-l-24 {
        --span: 24
    }
}



@media all and (max-width: 950px) {
    .col-m-1 {
        --span: 1
    }
}

@media all and (max-width: 950px) {
    .col-m-2 {
        --span: 2
    }
}

@media all and (max-width: 950px) {
    .col-m-3 {
        --span: 3
    }
}

@media all and (max-width: 950px) {
    .col-m-4 {
        --span: 4
    }
}

@media all and (max-width: 950px) {
    .col-m-5 {
        --span: 5
    }
}

@media all and (max-width: 950px) {
    .col-m-6 {
        --span: 6
    }
}

@media all and (max-width: 950px) {
    .col-m-7 {
        --span: 7
    }
}

@media all and (max-width: 950px) {
    .col-m-8 {
        --span: 8
    }
}

@media all and (max-width: 950px) {
    .col-m-9 {
        --span: 9
    }
}

@media all and (max-width: 950px) {
    .col-m-10 {
        --span: 10
    }
}

@media all and (max-width: 950px) {
    .col-m-11 {
        --span: 11
    }
}

@media all and (max-width: 950px) {
    .col-m-12 {
        --span: 12
    }
}

@media all and (max-width: 950px) {
    .col-m-13 {
        --span: 13
    }
}

@media all and (max-width: 950px) {
    .col-m-14 {
        --span: 14
    }
}

@media all and (max-width: 950px) {
    .col-m-15 {
        --span: 15
    }
}

@media all and (max-width: 950px) {
    .col-m-16 {
        --span: 16
    }
}

@media all and (max-width: 950px) {
    .col-m-17 {
        --span: 17
    }
}

@media all and (max-width: 950px) {
    .col-m-18 {
        --span: 18
    }
}

@media all and (max-width: 950px) {
    .col-m-19 {
        --span: 19
    }
}

@media all and (max-width: 950px) {
    .col-m-20 {
        --span: 20
    }
}

@media all and (max-width: 950px) {
    .col-m-21 {
        --span: 21
    }
}

@media all and (max-width: 950px) {
    .col-m-22 {
        --span: 22
    }
}

@media all and (max-width: 950px) {
    .col-m-23 {
        --span: 23
    }
}

@media all and (max-width: 950px) {
    .col-m-24 {
        --span: 24
    }
}





@media all and (max-width: 768px) {
    .col-s-1 {
        --span: 1
    }
}



@media all and (max-width: 768px) {
    .col-s-3 {
        --span: 3
    }
}

@media all and (max-width: 768px) {
    .col-s-4 {
        --span: 4
    }
}

@media all and (max-width: 768px) {
    .col-s-5 {
        --span: 5
    }
}

@media all and (max-width: 768px) {
    .col-s-6 {
        --span: 6
    }
}

@media all and (max-width: 768px) {
    .col-s-7 {
        --span: 7
    }
}

@media all and (max-width: 768px) {
    .col-s-8 {
        --span: 8
    }
}

@media all and (max-width: 768px) {
    .col-s-9 {
        --span: 9
    }
}

@media all and (max-width: 768px) {
    .col-s-10 {
        --span: 10
    }
}

@media all and (max-width: 768px) {
    .col-s-11 {
        --span: 11
    }
}

@media all and (max-width: 768px) {
    .col-s-12 {
        --span: 12
    }
}

@media all and (max-width: 768px) {
    .col-s-13 {
        --span: 13
    }
}

@media all and (max-width: 768px) {
    .col-s-14 {
        --span: 14
    }
}

@media all and (max-width: 768px) {
    .col-s-15 {
        --span: 15
    }
}

@media all and (max-width: 768px) {
    .col-s-16 {
        --span: 16
    }
}

@media all and (max-width: 768px) {
    .col-s-17 {
        --span: 17
    }
}

@media all and (max-width: 768px) {
    .col-s-18 {
        --span: 18
    }
}

@media all and (max-width: 768px) {
    .col-s-19 {
        --span: 19
    }
}

@media all and (max-width: 768px) {
    .col-s-20 {
        --span: 20
    }
}

@media all and (max-width: 768px) {
    .col-s-21 {
        --span: 21
    }
}

@media all and (max-width: 768px) {
    .col-s-22 {
        --span: 22
    }
}

@media all and (max-width: 768px) {
    .col-s-23 {
        --span: 23
    }
}

@media all and (max-width: 768px) {
    .col-s-24 {
        --span: 24
    }
}




@media all and (max-width: 768px) {
    .small-right {
        text-align:right
    }
}

@font-face {
    font-family: SoehneBuch;
    src: url(/fonts/soehne-buch.woff2) format("woff2");
    font-style: normal;
    font-weight: 400
}

.type-heading,h2 {
    font-size: 28px;
    line-height: 114%;
    letter-spacing: -.03em;
    font-weight: 400;
    font-feature-settings: "tnum" on,"lnum" on
}

@media all and (max-width: 950px) {
    .type-heading,h2 {
        font-size:20px;
        line-height: 120%;
        letter-spacing: -.03em;
        font-feature-settings: "tnum" on,"lnum" on
    }
}

.type-body-14 {
    font-size: 14px;
    line-height: 114%;
    letter-spacing: -.02em
}

.type-body-12 {
    font-size: 12px;
    line-height: 100%
}

@media all and (max-width: 950px) {
    .type-body-12 {
        font-size:12px;
        line-height: 133%
    }
}

.bg-black {
    background-color: var(--black)
}

.bg-grey-80 {
    background-color: var(--grey-80)
}

.bg-grey-70 {
    background-color: var(--grey-70)
}

.bg-grey-60 {
    background-color: var(--grey-60)
}

.bg-grey-50 {
    background-color: var(--grey-50)
}

.bg-grey-40 {
    background-color: var(--grey-40)
}

.bg-grey-30 {
    background-color: var(--grey-30)
}

.bg-grey-20 {
    background-color: var(--grey-20)
}

.bg-grey-10 {
    background-color: var(--grey-10)
}

.bg-grey-5 {
    background-color: var(--grey-5)
}

.bg-white {
    background-color: var(--white)
}

.color-black {
    color: var(--black)
}

.color-grey-80 {
    color: var(--grey-80)
}

.color-grey-70 {
    color: var(--grey-70)
}

.color-grey-60 {
    color: var(--grey-60)
}

.color-grey-50 {
    color: var(--grey-50)
}

.color-grey-40 {
    color: var(--grey-40)
}

.color-grey-30 {
    color: var(--grey-30)
}

.color-grey-20 {
    color: var(--grey-20)
}

.color-grey-10 {
    color: var(--grey-10)
}

.color-grey-5 {
    color: var(--grey-5)
}

.color-white {
    color: var(--white)
}

.grid-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 200;
    opacity: 0;
    visibility: hidden;
    pointer-events: none
}

.grid-overlay.show {
    opacity: 1;
    visibility: visible
}

.grid-overlay .column-overlay {
    background: red;
    opacity: .1;
    height: 100vh
}



body {

    --page-border: var(--grey-10);
    --page-active: var(--grey-40);
    --page-inactive: var(--grey-30);
    --page-button-default: var(--grey-10);
    --page-button-hover: var(--grey-20);
    --page-button-active: var(--grey-30);
    --page-card: var(--grey-5);
    --page-card-hover: var(--grey-10);
    --page-text-2: var(--grey-40);
    --page-number: var(--grey-30);
    --page-footer: var(--grey-80);
    --page-table-text-1: var(--grey-50);
    --page-table-text-2: var(--grey-40);
    --page-table-border: var(--grey-10);






body.text-mode .project .frame img,body.text-mode .page-transition img,body.text-mode .single-project-image img {
    animation: unset;
    opacity: 0
}

body.text-mode .project .frame {
    animation: pulse 8s infinite ease
}

body.text-mode .project:nth-child(1) .frame {
    animation-delay: 3.2s
}

body.text-mode .project:nth-child(2) .frame {
    animation-delay: .4s
}

body.text-mode .project:nth-child(3) .frame {
    animation-delay: 5.6s
}

body.text-mode .project:nth-child(4) .frame {
    animation-delay: 1.6s
}

body.text-mode .project:nth-child(5) .frame {
    animation-delay: 3.6s
}

body.text-mode .project:nth-child(6) .frame {
    animation-delay: 4.4s
}

body.text-mode .project:nth-child(7) .frame {
    animation-delay: 1.2s
}

body.text-mode .project:nth-child(8) .frame {
    animation-delay: 5.6s
}

body.text-mode .project:nth-child(9) .frame {
    animation-delay: 1.2s
}

body.text-mode .project:nth-child(10) .frame {
    animation-delay: 5.6s
}

body.text-mode .project:nth-child(11) .frame {
    animation-delay: 4.8s
}

body.text-mode .project:nth-child(12) .frame {
    animation-delay: 4.4s
}

body.text-mode .project:nth-child(13) .frame {
    animation-delay: 6s
}

body.text-mode .project:nth-child(14) .frame {
    animation-delay: 4.8s
}

body.text-mode .project:nth-child(15) .frame {
    animation-delay: 1.2s
}

body.text-mode .project:nth-child(16) .frame {
    animation-delay: 6s
}

body.text-mode .project:nth-child(17) .frame {
    animation-delay: .8s
}

body.text-mode .project:nth-child(18) .frame {
    animation-delay: 2.8s
}

body.text-mode .project:nth-child(19) .frame {
    animation-delay: 5.2s
}

body.text-mode .project:nth-child(20) .frame {
    animation-delay: 3.2s
}

body.text-mode .project:nth-child(21) .frame {
    animation-delay: 3.6s
}

body.text-mode .project:nth-child(22) .frame {
    animation-delay: 2.8s
}

body.text-mode .project:nth-child(23) .frame {
    animation-delay: 3.6s
}

body.text-mode .project:nth-child(24) .frame {
    animation-delay: 3.2s
}

body.text-mode .project:nth-child(25) .frame {
    animation-delay: 3.6s
}

body.text-mode .project:nth-child(26) .frame {
    animation-delay: 3.6s
}

body.text-mode .project:nth-child(27) .frame {
    animation-delay: 5.6s
}

body.text-mode .project:nth-child(28) .frame {
    animation-delay: 4.8s
}

body.text-mode .project:nth-child(29) .frame {
    animation-delay: .8s
}

body.text-mode .project:nth-child(30) .frame {
    animation-delay: 4.8s
}

body.text-mode .project:nth-child(31) .frame {
    animation-delay: 6s
}

body.text-mode .project:nth-child(32) .frame {
    animation-delay: 6s
}

body.text-mode .project:nth-child(33) .frame {
    animation-delay: 5.6s
}

body.text-mode .project:nth-child(34) .frame {
    animation-delay: 4s
}

body.text-mode .project:nth-child(35) .frame {
    animation-delay: 2.4s
}

body.text-mode .project:nth-child(36) .frame {
    animation-delay: 3.6s
}

body.text-mode .project:nth-child(37) .frame {
    animation-delay: .8s
}

body.text-mode .project:nth-child(38) .frame {
    animation-delay: 1.6s
}

body.text-mode .project:nth-child(39) .frame {
    animation-delay: 2.4s
}

body.text-mode .project:nth-child(40) .frame {
    animation-delay: 2.4s
}

body.text-mode .project:nth-child(41) .frame {
    animation-delay: 3.6s
}

body.text-mode .project:nth-child(42) .frame {
    animation-delay: 5.2s
}

body.text-mode .project:nth-child(43) .frame {
    animation-delay: 4.4s
}

body.text-mode .project:nth-child(44) .frame {
    animation-delay: 5.6s
}

body.text-mode .project:nth-child(45) .frame {
    animation-delay: 1.6s
}

body.text-mode .project:nth-child(46) .frame {
    animation-delay: .8s
}

body.text-mode .project:nth-child(47) .frame {
    animation-delay: 2s
}

body.text-mode .project:nth-child(48) .frame {
    animation-delay: .4s
}

body.text-mode .project:nth-child(49) .frame {
    animation-delay: 2s
}

body.text-mode .project:nth-child(50) .frame {
    animation-delay: 2s
}

body.mono-mode .project,body.mono-mode .single-project-image,body.mono-mode .page-transition {
    filter: grayscale(1)
}







.color-active,.color-label {
    color: var(--page-active)
}

.color-inactive {
    color: var(--page-inactive)
}

.hide-letter.hide {
    animation: fadeOut .2s forwards var(--easingOut);
    animation-delay: calc(var(--i) * 18ms)
}









.projects-filter {
    border-top: 1px solid var(--page-border);
    margin-top: 120px;
    padding-top: 8px
}

@media all and (max-width: 768px) {
    .projects-filter {
        margin-top:80px
    }
}

.projects {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: var(--gutter);
    row-gap: 40px;
    margin-top: 120px
}

@media all and (max-width: 1200px) {
    .projects {
        grid-template-columns:repeat(2,1fr)
    }
}

@media all and (max-width: 768px) {
    .projects {
        grid-template-columns:repeat(1,1fr);
        margin-top: 80px
    }
}

.project {
    color: var(--page-text);
    text-decoration: none;
    border-top: 1px solid var(--page-border);
    padding-top: 8px
}

.project .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 8px;
    margin-bottom: 12px
}

.project .card {
    background-color: var(--page-card);
    aspect-ratio: 1;
    position: relative;
    border-radius: 6px;
    transition: background-color .2s var(--easingOut)
}

.project .card .frame {
    position: absolute;
    left: 50%;
    bottom: 0;
    background-color: hsla(var(--project-hue),var(--project-sat),var(--project-lum),1);
    width: 73%;
    aspect-ratio: 824/973;
    transform: translate(-50%);
    overflow: hidden
}

.project .card .frame img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.project .card:hover {
    background-color: var(--page-card-hover)
}

.project .project-type {
    color: var(--page-text-2)
}

.project .project-number {
    color: var(--page-number)
}

.reveal img {
    transition: transform .8s var(--easing),opacity .2s var(--easing),clip-path .8s var(--easing);
    transition-delay: calc(var(--i) * .06s);
    opacity: 0
}

.reveal.has-been-seen img {
    opacity: 1
}

.reveal.animation-complete img {
    transform: none;
    clip-path: none
}



footer {
    margin-top: 32px;
    padding-bottom: 16px;
    color: var(--page-footer);
    position: relative
}

footer:before {
    content: "";
    display: block;
    width: var(--innerWidth);
    height: 1px;
    position: absolute;
    top: 0;
    left: var(--pageMarginTotal);
    background-color: var(--page-border)
}



.page-transition {
    position: fixed;
    z-index: 2000;
    background-size: cover;
    background-position: 50% 50%;
    aspect-ratio: 824/973;
    background-color: hsla(var(--project-hue),var(--project-sat),var(--project-lum),1);
    --targetWidth: calc((100vw - (var(--pageMarginTotal) * 2) - 32px - (var(--gutter) * 1)) / 2);
    --targetTop: calc(var(--headerheight) + 16px);
    --targetLeft: calc(var(--pageMarginTotal) + 16px)
}

@media all and (max-width: 768px) {
    .page-transition {
        --targetWidth: calc((100vw - (var(--pageMarginTotal) * 2) - 24px));
        --targetTop: calc(var(--headerheight) + 12px);
        --targetLeft: calc(var(--pageMarginTotal) + 12px)
    }
}

.page-transition img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover
}

.page-transition.animate {
    animation: pageImageTransition .5s forwards var(--easing)
}

.page-transition.close-animate {
    animation: pageImageClose .5s forwards var(--easing)
}

@keyframes pageImageTransition {
    to {
        width: var(--targetWidth);
        top: var(--targetTop);
        left: var(--targetLeft)
    }
}

@keyframes pageImageClose {
    to {
        width: var(--endWidth);
        top: var(--endTop);
        left: var(--endLeft);
        height: var(--endHeight)
    }
}













.flex-row {
    display: flex;
    gap: var(--gutter)
}



section.information-row {
    border-top: 1px solid var(--page-border);
    padding-top: 8px;
    padding-bottom: 200px
}

section.information-row:first-child {
    margin-top: 120px
}

@media all and (max-width: 768px) {
    section.information-row:first-child {
        margin-top:80px
    }
}

@media all and (max-width: 768px) {
    section.information-row {
        padding-bottom:80px
    }
}



.text-content h2 {
    max-width: 530px
}

.text-content p {
    max-width: 395px
}

.index-list .index-list-row {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: var(--gutter);
    font-size: 28px;
    line-height: 114%;
    letter-spacing: -.03em;
    font-weight: 400;
    font-feature-settings: "tnum" on,"lnum" on;
    text-decoration: none;
    color: var(--page-text);
    position: relative
}

.index-list .index-list-row:after {
    content: "";
    display: block;
    position: absolute;
    left: -8px;
    top: -1px;
    height: calc(100% + 4px);
    width: calc(100% + 8px);
    background-color: var(--page-text);
    z-index: -1;
    opacity: 0
}

@media all and (max-width: 950px) {
    .index-list .index-list-row {
        font-size:20px;
        line-height: 120%;
        letter-spacing: -.03em;
        font-feature-settings: "tnum" on,"lnum" on
    }
}

.index-list .index-list-row .client {
    grid-column: span 4
}

@media all and (max-width: 768px) {
    .index-list .index-list-row .client {
        grid-column:span 5
    }
}

.index-list .index-list-row .number {
    grid-column: span 1;
    color: var(--page-inactive)
}

@media all and (max-width: 768px) {
    .index-list .index-list-row .number {
        justify-self:end;
        padding-right: 8px
    }
}

.index-list .index-list-row .index-icon {
    grid-column: span 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    opacity: 0;
    padding-right: 8px
}

@media all and (max-width: 768px) {
    .index-list .index-list-row .index-icon {
        display:none
    }
}

.index-list .index-list-row:hover {
    color: var(--page-bg)
}

.index-list .index-list-row:hover .index-icon {
    opacity: 1
}

.index-list .index-list-row:hover:after {
    opacity: 1
}

.index-list .index-list-row.disabled {
    color: var(--page-inactive)
}

.index-list .index-list-row.disabled:after {
    display: none
}

.signature {
    margin-top: 35px;
    font-size: 120px;
    position: relative
}

@media all and (max-width: 768px) {
    .signature {
        margin-top:20px;
        font-size: 90px
    }
}

.signature:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--page-border);
    position: absolute;
    bottom: 50px;
    left: 0;
    z-index: -1
}

@media all and (max-width: 768px) {
    .signature:after {
        bottom:36px
    }
}





