:root{
   ---s25:0.01rem;
	---s5:0.065rem;
	--s1:0.12rem;
	--s1-5:0.175rem;
	--s2:0.23rem;
	--s2-5:0.285rem;
	--s3:0.34rem;
	--s3-5:0.395rem;
	--s4:0.45rem;
	--s4-5:0.505rem;
	--s5:0.56rem;
	--s5-5:0.615rem;
	--s6:0.67rem;
	--s6-5:0.725rem;
	--s7:0.78rem;
	--s7-5:0.835rem;
	--s8:0.89rem;
	--s8-5:0.945rem;
	--s9:1rem;
	--s9-5:1.25rem;
	--s10:1.5rem;
	--s10-5:1.75rem;
	--s11:2rem;
	--s11-5:2.25rem;
	--s12:2.5rem;
	--s12-5:2.75rem;
	--s13:3rem;
	--s14:3.5rem;
	--s16:4rem;
	--s20:5rem;
	--s24:6rem;
	--s28:7rem;
	--s32:8rem;
	--s36:9rem;
	--s40:10rem;
	--s44:11rem;
	--s48:12rem;
	--s52:13rem;
	--s56:14rem;
	--s60:15rem;
	--s64:16rem;
	--s72:18rem;
	--s80:20rem;
	--s96:24rem;
	--perspective:1200;
	--rotate-x:-40;
	--rotate-y:-45;
	--transform-style:preserve-3d;
	--togl-bloc-width:30;
	--exploded:0;
	--transition:0.2s;
	--speed:0.5s;
	--stagger:-0.1s;
	--white:#f7f7f7;
	--grey-10:#edeeed;
	--grey-20:#d3d4d4;
	--grey-30:#bababa;
	--grey-40:#8f8f8f;
	--grey-50:#6b6b6b;
	--grey-06:#525252;
	--grey-70:#454545;
	--grey-80:#313030;
	--grey-90:#242424;
	--black:#1d1d1b;
	--bg:hsl(205 32% calc((10 + (var(--toggled, 0) * 20)) * 1%));
	--togl-bloc-height:calc((270 / 480) * var(--togl-bloc-width));
	--togl-bloc-depth:calc((270 / 480) * var(--togl-bloc-width));
	--plane-height:calc((270 / 480) * var(--togl-bloc-width));
	--plane-width:var(--togl-bloc-width);
}
*,:after,:before{
    background-color:inherit;
    border:0 solid;
    box-sizing:border-box;
    color:inherit;
    font-family:inherit;
    margin:0;
    overflow-wrap:break-word;
    padding:0;
}
@media (prefers-color-scheme:dark){
	:root{
		--color-background:var(--black);
		--color-background-soft:var(--grey-90);
		--color-background-mute:var(--grey-80);
		--color-border:var(--divider-04);
		--color-border-hover:var(--divider-06);
		--color-heading:var(--divider-08);
		--color-text:var(--divider-10);
	}
}
.object-position{
  background:url(https://image.ibb.co/fUL9nS/wolf.png) no-repeat;
  background-position:calc(100% - 0em) calc(100% - 0em);
  height:inherit;
}
.overflow-scroll-gradient{
	position:relative;
}
.overflow-scroll-gradient:after{
	background:linear-gradient(hsla(0,0%,100%,.001), #fff);
	bottom:0;
	content:"";
	height:25px;
	pointer-events:none;
	position:absolute;
	width:240px;
}
.overflow-scroll-gradient__scroller{
	background:#fff;
	height:300px;
	line-height:1.2;
	overflow-y:scroll;
	padding:15px;
	width:240px;
}
.dynamic-shadow{
	position:relative;
	z-index:1;
}
.dynamic-shadow:after{
	background:inherit;
	content:"";
	filter:blur(.4rem);
	height:100%;
	opacity:.7;
	position:absolute;
	top:.5rem;
	width:100%;
	z-index:-1;
}
.circle{
	background:#333;
	border-radius:50%;
	height:2rem;
	width:2rem;
}
.circle2{
	background-color:gold;
	border:2px solid #333;
	border-radius:50px;
	height:100px;
	margin:3rem auto;
	outline:2px solid red;
	outline-offset:.25rem;
	width:100px;
}
a,article,body,figure,footer,h1,h2,h3,h4,h5,h6,header,html,nav,p,section{
	border:0;
	margin:0;
	padding:0;
}
.flex{
	display:flex;
}
@font-face{
	font-family:adieu;
	src:url(target.woff2);
}
@font-face{
	font-display:auto;
	font-family:acumin-pro-wide;
	font-stretch:normal;
	font-style:normal;
	font-weight:400;
	src:url(https://use.typekit.net/af/e3a744/00000000000000003b9acb3f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/e3a744/00000000000000003b9acb3f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/e3a744/00000000000000003b9acb3f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
}
@font-face{
	font-display:auto;
	font-family:best-choice;
	font-stretch:normal;
	font-style:normal;
	font-weight:400;
	src:url(https://use.typekit.net/af/e88ccc/00000000000000007735ea8d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/e88ccc/00000000000000007735ea8d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/e88ccc/00000000000000007735ea8d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
}
html{
	background-color:#f4f6f5;
	block-size:100%;
	box-sizing:border-box;
	color:#221e12;
	font-family:acumin-pro-wide,sans-serif;
	font-size:medium var(--8-5) 1rem;
	font-style:normal;
	font-weight:400;
	margin:0;
	padding:0;
	scroll-behavior:smooth;
	vertical-align:baseline;
	writing-mode:horizontal-tb;
}
table{
	padding:12ch;
}
body{
	align-content:flex-start;
	background-color:var(--white);
	color:var(--black);
	display:grid;
	flex-direction:row;
	max-width:100%;
	padding:var(--10-5);
}
[data-theme=dark] body{
	background-color:--black;
	color:--white;
}
h1,h2,h3,h4,h5,h6{
	color:#221e12;
	font-family:adieu;
	font-style:normal;
	font-weight:400;
	overflow-wrap:break-word;
}
h1{
	font-size:var(--28);
}
h2{
	font-size:var(--16);
}
h3{
	font-size:var(--12);
}
h4{
	font-size:var(--10-5);
}
h5{
	font-size:var(--9-5);
}
h6{
	font-size:var(--9);
}
p{
	font-family:acumin-pro-wide,sans-serif;
	font-size:var(--8);
	line-height:var(--8-5);
	max-width:40%;
}
p,p+p{
	padding:var(--6-5);
}
canvas,img,picture,svg,video{
	display:block;
	max-width:100%;
}
button,code,data,fieldset,figcaption,input,label,mark,optgroup,option,output,select,span,sub,sup,textarea{
	font-family:best-choice,mono;
	font-size:var(--6-5);
	font-style:normal;
	font-weight:400;
}
input{
	border:1px solid #292929;
	border-radius:var(--0-5);
	color:#292929;
	display:inline-block;
	height:var(--9-5);
	letter-spacing:var(--0-5);
	margin-right:var(--6);
	padding-left:var(--5);
	padding-right:var(--9-5);
	position:relative;
}
input:focus{
	border:1px solid #9a8297;
	box-shadow:0 0 0 var(---1) #9a8297;
	outline:none;
}
button{
	align-self:flex;
	background-color:inherit;
	border-color:#353535;
	border-radius:var(--6-5);
	border-style:solid;
	border-width:var(---9-5);
	box-shadow:var(--5) var(--5) var(--4-5) #9a8297;
	color:#353535;
	display:inline-block;
	font-size:var(--8);
	font-weight:300;
	letter-spacing:var(---9-5);
	margin:var(--9) 0 .5em 0;
	transition:box-shadow .1s;
}
button:hover{
	box-shadow:var(--6) var(--6) var(---) #9a8297;
}
button:active{
	box-shadow:var(--5) var(--5) var(--4-5) #1d1e22;
}
.button-description{
	margin-left:var(--9-5);
	position:relative;
}
textarea{
	display:inline-block;
	margin:.5em 0;
	min-width:var(--30);
	vertical-align:middle;
}
blockquote:after,blockquote:before,q:after,q:before{
	content:none;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
img{
	box-shadow:var(--px) var(--px) var(---45) var(--px) hsla(0,0%,6%,.61);
	max-block-size:100%;
	max-inline-size:100%;
.paper-like{
	block-size:var(--5);
	border:var(--px) solid #ddd;
	box-shadow:0 0 var(--5-5) grey;
	inline-size:var(--5);
}

#link-list{
	padding-inline-start:0;
}
#link-list a{
	color:#292929;
	font-family:Acuminprowide_Sans,sans-serif;
	font-size:16px;
	line-height:2em;
	padding-block:12px 4px;
	padding-inline:20px 25px;
	position:relative;
	text-decoration:none;
}
#link-list a:after{
	background:#292929;
	block-size:1.4px;
	content:"";
	inset-block-start:60%;
	inset-inline:-8px;
	opacity:0;
	position:absolute;
	transition:opacity .5s;
}
#link-list a:hover{
	filter:drop-shadow(55px 38px 1px rgb(0 0 0));
	text-decoration:none;
	&:hover:after{
		opacity:1;
	}
}
.skip-link{
	block-size:var(--px);
	inline-size:var(--px);
	inset-inline-start:var(--11-56);
	overflow:hidden;
	position:absolute;
}
.skip-link:focus{
	block-size:auto;
	inline-size:auto;
	inset-block-start:0;
	overflow:visible;
	z-index:10000;
}
.visually-hidden-a11y{
	border:0;
	clip:rect(0, 0, 0, 0);
	margin:-var(--px);
	padding:0;
}
.screen-reader-text,.visually-hidden-a11y{
	height:var(--px);
	overflow:hidden;
	position:absolute;
	width:var(--px);
}
.screen-reader-text{
	clip:rect(var(--px), var(--px), var(--px), var(--px));
}
.screen-reader-text:focus{
	z-index:100000;
}
.flow>*+*{
	margin-block-start:var(--flow-space, var(--8));
}
.email-label{
	color:#8c858b;
	font-family:Roboto,sans-serif;
	font-size:14px;
	letter-spacing:.5px;
}
.email-label.hide{
	display:none;
}
textarea{
	display:inline-block;
	margin:.5em 0;
	min-width:25em;
	vertical-align:middle;
}
blockquote:after,blockquote:before,q:after,q:before{
	content:none;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
img{
	box-shadow:1px 1px 3px 1px hsla(0,0%,6%,.61);
	max-block-size:100%;
	max-inline-size:100%;
}

.paper-like{
	background:#f7f7f7;
	block-size:297mm;
	border:1px solid #ddd;
	box-shadow:0 0 5px grey;
	inline-size:210mm;
	margin:auto;
}
.home-link{
	inline-size:275px;
	margin-block-start:30px;
	margin-inline-start:55px;
	z-index:300;
}
.home-link,.nav{
	background-color:#f5f5f5;
	display:flex;
	inset-block-start:0;
	position:fixed;
}
.nav{
	align-items:center;
	block-size:100px;
	inline-size:100%;
	inset-inline-start:0;
	z-index:103;
}
.nav-group{
	align-items:baseline;
	display:flex;
	flex-flow:row nowrap;
	gap:2em;
	max-height:100%;
	max-width:300px;
	padding-inline-end:180px;
	place-content:stretch flex-end;
}
.nav-links{
	color:#292929;
	flex-shrink:1;
	font-family:Acuminprowide_Sans,sans-serif;
	padding:25px;
	text-decoration:none;
}

.hr-container{
	display:flex;
	inline-size:100%;
	inset-block-start:100px;
	justify-content:flex-end;
	padding:0;
	position:fixed;
	z-index:1000;
}
.togl{
  background-color:rgba(0,0,0,.25);
  border-radius:20px;
  display:inline-block;
  height:20px;
  position:relative;
  width:40px;
}

.togl,.togl:after{
  transition:all .3s;
}

.togl:after{
  background-color:#fff;
  border-radius:18px;
  content:"";
  height:18px;
  left:1px;
  position:absolute;
  top:1px;
  width:18px;
}

input[type=checkbox]:checked+.togl:after{
  transform:translateX(20px);
}

input[type=checkbox]:checked+.togl{
  background-color:var(--grey-20);
}

.offscreen{
  left:-9999px;
  position:absolute;
}
#app{
	font-weight:400;
	margin:0 auto;
	max-width:1280px;
	padding:2rem;
}
}

