.home-link {
   inline-size: var(--s200);
   margin-block-start: var(--s30);
   margin-inline-start: var(--s50);
   z-index: 300;
}
.home-link, .nav {
   background-color: #f5f5f5;
   display: flex;
   inset-block-start: 0;
   position: fixed;
}
.nav {
   align-items: center;
   block-size: var(--s100);
   inline-size: 100%;
   inset-inline-start: 0;
   z-index: 103;
}
.nav-group {
   align-items: baseline;
   display: flex;
   flex-flow: row nowrap;
   gap: var(--s32);
   max-height: 100%;
   max-width: var(--s200);
   padding-inline-end: var(--s180);
   place-content: stretch flex-end;
}
.nav-links {
   color: hsl(var(--black) / 100%);
   flex-shrink: 1;
   font-family: Acuminprowide_Sans, sans-serif;
   padding: var(--s5);
   text-decoration: none;
}
.nav a {
   display: inline-block;
   font-weight: 700;
   line-height: var(--line-height-small);
   text-decoration: none;
}
.nav .editions-link {
   background-color: var(--black);
   clip-path: polygon(0 0, calc(100% - .75em) 0, 100% 100%, .75em 100%);
   color: var(--white);
   display: block;
   font-size: .666em;
   margin-top: var(--s2);
   padding: var(--s-3);
   text-align: center;
   text-transform: uppercase;
}
.toc {
   border-width: var(--s-3);
   font-weight: 700;
   position: relative;
}
.toc>[aria-hidden] {
   font-family: var(--font-special);
   font-size: var(--s1);
   line-height: var(--line-height-small);
   padding: 0 .5rem;
   position: absolute;
   right: var(--s16);
   text-transform: uppercase;
   top: -.75em;
}
