@import url(sizes.css);
@import url(fonts.css);
@import url(colors.css);

.show-small {
   display: none;
}


@media all and (max-width: 768px) {
   header .header-bottom {
      padding-top: 12px;
      padding-bottom: 12px;
   }
}

@media all and (max-width: 768px) {
   .header-logo.menu-open {
      border-color: transparent;
   }
}
.header-logo svg {
   display: block;
   width: 100%;
   height: auto;
}
a:not([class]) {
   text-decoration-skip-ink: auto;
}
p a {
   color: inherit;
   text-decoration: none;
}
@media all and (max-width: 768px) {
   .site-config .config-option {
      margin-bottom: 8px;
   }
}
.site-config .config-option button {
   display: flex;
   min-width: 119px;
   align-items: center;
   justify-content: space-between;
   border: 0;
   appearance: none;
   background: transparent;
   cursor: pointer;
   gap: 8px;
   outline: 0;
}
@media all and (max-width: 768px) {
   .site-config .config-option button {
      display: grid;
      min-width: 100%;
      grid-template-columns: repeat(2, 1fr);
   }
   .site-config .config-option button>* {
      justify-self: start;
   }
}
.site-config .config-option button>.indicator>span {
   display: inline-block;
   width: 9px;
}
@media all and (max-width: 768px) {
   body.mobile-menu-open main::after {
      opacity: 0.8;
   }
}
ul.mobile-contact-info li {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}
ul.mobile-contact-info li:not(:last-child) {
   margin-bottom: 12px;
}
.transition-fade {
   opacity: 1;
}
html.is-animating .transition-fade {
   opacity: 0;
}
.work-meta-rows {
   margin-top: 24px;
}
.work-meta-rows .work-meta-row {
   display: grid;
   padding: 8px 0;
   grid-template-columns: repeat(2, 1fr);
}
.work-meta-rows .work-meta-row a {
   color: inherit;
   text-decoration: none;
}
.single-project .single-project-image {
   position: relative;
   overflow: hidden;
   aspect-ratio: 824/973;
   opacity: 0;
   transition: opacity 0.2s ease;
}
.single-project .single-project-image.show {
   opacity: 1;
}
.single-project .button.close-project {
   position: absolute;
   top: 0;
   right: 0;
}
@media all and (max-width: 768px) {
   .single-project .button.close-project {
      position: fixed;
      z-index: 50;
      width: 32px;
      height: 32px;
      filter: drop-shadow(var(--s1) var(--s1) 2px rgb(0 0 0 / 8%));
      inset: auto auto 32px 50%;
      transform: translate(-50%);
   }
}
.single-project {
   padding: 16px;
   border-radius: 6px;
}
@media all and (max-width: 768px) {
   .single-project {
      padding: 12px;
   }
}
.single-project .single-project-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
