:root {
   background-color: var(--white);
   color: var(--black);
   --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
      --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
      --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
      --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
      --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
      --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
      --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
      --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
      --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
      --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
      --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
      --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
      --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
      --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
      --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
      --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 18.86);
}
h1, h2, h3, h4, h5, h6 {
   color: var(--black);
   font-style: normal;
   overflow-wrap: break-word;
   font-family: var(--font-special);
   -webkit-hyphens: auto;
   hyphens: auto;
   line-height: var(--line-height-small);
}
h1 {
   font-size: var(--s173);
}
h2 {
   font-size: var(--s97);
}
h3 {
   font-size: var(--s61);
}
h4 {
   font-size: var(--s50);
}
h5 {
   font-size: var(--s32);
}
h6 {
   font-size: var(--s24);
}
p {
   font-family: acumin-pro-wide, sans-serif;
   font-size: var(--s1);
   line-height: var(--s1-5);
   max-width: 40%;
}
p, p+p {
   padding: var(--s12);
}
* {
   max-inline-size: var(--measure);
}
html,
body,
div,
header,
nav,
main,
footer {
   max-inline-size: none;
}
.visitor-info {
   display: flex;
   justify-content: flex-end;
}
main::after {
   position: absolute;
   z-index: 20;
   top: 0;
   left: 0;
   width: 100%;
   height: calc(100% + 70px);
   content: "";
   opacity: 0;
}
hr1 {
   border: 0;
   margin-top: 2var(--s1);
   margin-bottom: 16px;
   outline: 0;
   color: #efefef;
   display: inline-block;
   height: .2ch;
   padding: 0;
}
hr2 {
   border-bottom-width: var(--border-thin);
   border-left-width: 0;
   border-right-width: 0;
   border-top-width: var(--border-thin);
   padding: var(--border-thin) 0 0;
}
html {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   background-color: #f4f6f5;
   block-size: 100%;
   color: var(--black);
   font-family: acumin-pro-wide, sans-serif;
   font-size: var(--s15);
   font-style: normal;
   font-weight: 400;
   scroll-behavior: smooth;
   vertical-align: baseline;
   writing-mode: horizontal-tb;
}
/*adds margin back onto clases that have been reset*/
.title {
   font-family: adieu;
   font-size: 1.55rem;
   font-style: normal;
   padding: 3em;
}
.subtitle hr {
   width: 45%;
}
.subtitle {
   align-content: left;
   display: block;
   font-size: 1.5rem;
   line-height: 1.1;
   position: relative;
}
#app {
   font-weight: 400;
   margin: 0 auto;
   max-width: 80rem;
   padding: var(--s32);
}

@media (prefers-reduced-motion:no-preference) {
   html:focus-within {
      scroll-behavior: smooth;
   }
}
:focus {
   outline: var(--border-thin) solid var(--color-mid);
   outline-offset: var(--border-thin);
}
[tabindex="-1"]:focus, shrink-grow:focus {
   outline: none;
}
[href="#main"] {
   background-color: var(--black);
   color: var(--white);
   display: inline-block;
   padding: var(--s8);
   position: absolute;
   top: -10rem;
}
[href="#main"]:focus {
   outline: none;
   position: absolute;
   top: 0;
   z-index: 1;
}
main>style, script {
   display: none;
}

.paper-like {
   background: #f7f7f7;
   block-size: var(--s10);
   border: var(--s1) solid var(--grey-30);
   box-shadow: 0 0 var(--s10-5) var(--grey-50);
   inline-size: var(--s10);
   margin: auto;
}
.flow>*+* {
   margin-block-start: var(--flow-space, var(--s8));
}
.email-label {
   color: var(--purple);
}
.email-label.hide {
   display: none;
}
textarea {
   display: inline-block;
   margin: .5em 0;
   min-width: var(--s200);
   vertical-align: middle;
}
blockquote:after, blockquote:before, q:after, q:before {
   content: none;
}
.grid-overlay {
   position: fixed;
   z-index: 200;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   opacity: 0;
   pointer-events: none;
   visibility: hidden;
}
.grid-overlay.show {
   opacity: 1;
   visibility: visible;
}
.grid-overlay .column-overlay {
   height: 100vh;
   background: var(--purple);
   opacity: 0.1;
}
body {
   font-family: var(--font-standard);
   font-size-adjust: 0.5;
   line-height: var(--font-base-line-height);
}
body {
   align-content: flex-start;
   background-color: var(--white);
   color: var(--black);
   max-width: 100%;
   padding: var(--s1);
}
.object-position {
   background: url(https://image.ibb.co/fUL9nS/wolf.png) no-repeat;
   background-position: calc(100% - 0em) calc(100% - 0em);
   height: inherit;
}
   /* Sets the maximum width of an element to 25% of the '--measure' variable */

.flow>*+* {
   margin-top: 1em
}
[hidden] {
   display: none;
}
[hidden]+* {
   margin-top: 0 !important;
}
/*SECTION - The Column Method*/
.columns {
   --columns: 4;
}
.col {
   flex: 1;
}
.col[class^=col-], .col[class*=\ col-] {
   flex: none;
}
.col-3 {
   --span: 3;
}
.col-6 {
   --span: 6;
}
.col-12 {
   --span: 12;
}
.columns {
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   transition: padding-left 0.2s ease, padding-right 0.2s ease;
   --columns: 12;
}
.columns .columns {
   padding: 0;
}
footer .col {
   padding-top: 8px;
}
section#projects.grid.grid-cols-12.z-10.pt-\[70vh\].sm\:pt-\[80vh\].px-\[20px\].pb-\[60vh\] {
   z-index: 10;
   display: grid;
   box-sizing: border-box;
   padding: 1032.8px 20px 774.6px;
   grid-template-columns: 165px 165px 165px 165px 165px 165px 165px 165px 165px 165px 165px 165px;
   grid-template-rows: 20555.8px;
}
/*SECTION - @keyframes*/
@keyframes fadeIn {
   to {
      opacity: 1;
   }
}
@keyframes fadeOut {
   to {
      opacity: 0;
   }
}
@keyframes pulse {
   0% {
      width: 100%;
      flex: none;
   }
   10% {
      width: 100%;
      flex: none;
   }
   20%, 100% {
      width: 100%;
      flex: none;
   }
}
@keyframes mobileMenuBoxIn {
   0% {
      width: 0;
      height: 48px;
   }
   50% {
      height: 48px;
   }
   100% {
      height: 48px;
   }
}
@keyframes mobileMenuBoxOut {
   0% {
      height: 48px;
   }
   50% {
      height: 48px;
   }
   100% {
      width: 0;
      height: 48px;
   }
}
@keyframes pinch {
   0% {
      transform: translateY(.5rem);
   }
   25% {
      transform: translateY(-.5rem);
   }
   50% {
      transform: translateY(.25rem);
   }
   75% {
      transform: translateY(-.25rem);
   }
   87.5% {
      transform: rotate(.125rem);
   }
   to {
      transform: rotate(0);
   }
}
/*SECTION - @Media */
@media all and (max-width: 768px) {
   .site-config .config-option {
         margin-bottom: 8px;
   }
}
@media all and (max-width: 768px) {
   header .header-bottom {
         padding-top: 12px;
         padding-bottom: 12px;
   }
}
@media all and (max-width: 768px) {
   .header-logo.menu-open {
      border-color: transparent;
   }
}
@media all and (max-width: 768px) {
   .site-config .config-option button {
      display: grid;
      min-width: 100%;
      grid-template-columns: repeat(2, 1fr);
   }
      .site-config .config-option button>* {
         justify-self: start;
      }
}
@media all and (max-width: 768px) {
   body.mobile-menu-open main::after {
         opacity: 0.8;
   }
}
@media (max-width:768px) {
   :root {
      --pagemargintotal: 12px;
   }
      .columns.mobile-reverse {
         flex-direction: column-reverse;
      }
}
@media (prefers-reduced-motion:reduce) {
   * {
      animation-duration: .01ms !important;
      animation-iteration-count: 1 !important;
      scroll-behavior: auto !important;
      transition-duration: .01ms !important;
   }
}
@media (max-width:768px) {
   .hide-small {
      display: none;
   }
   .col {
      flex: none;
      width: 100%;
   }
}
@media (max-width:768px) {
   .col-1, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16, .col-17, .col-18, .col-19, .col-2, .col-20, .col-21, .col-22, .col-23, .col-24, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-l-1, .col-l-10, .col-l-11, .col-l-12, .col-l-13, .col-l-14, .col-l-15, .col-l-16, .col-l-17, .col-l-18, .col-l-19, .col-l-2, .col-l-20, .col-l-21, .col-l-22, .col-l-23, .col-l-24, .col-l-3, .col-l-4, .col-l-5, .col-l-6, .col-l-7, .col-l-8, .col-l-9, .col-m-1, .col-m-10, .col-m-11, .col-m-12, .col-m-13, .col-m-14, .col-m-15, .col-m-16, .col-m-17, .col-m-18, .col-m-19, .col-m-2, .col-m-20, .col-m-21, .col-m-22, .col-m-23, .col-m-24, .col-m-3, .col-m-4, .col-m-5, .col-m-6, .col-m-7, .col-m-8, .col-m-9 {
      --span: 4;

      .col-s-2 {
         --span: 2;
      }
      .single-project .col+.col {
         margin-top: 24px;
      }
      section.information-row .col+.col {
         margin-top: 40px;
      }
      }
      .show-small {
         display: none;
      }
   }
@media (max-width:768px) {
   .show-small {
      display: flex;

   body {
      font-size: 12px;
      line-height: 133%;
   }
}
}
@media all and (max-width: 768px) {
   .single-project .button.close-project {
      position: fixed;
      z-index: 50;
      width: 32px;
      height: 32px;
      filter: drop-shadow(var(--s1) var(--s1) 2px rgb(0 0 0 / 8%));
      inset: auto auto 32px 50%;
      transform: translate(-50%);
   }
}
@media (max-width:768px) {
   body.mobile-menu-open main:after {
      opacity: .8;
   }
}
@media (max-width:768px) {
   .single-project {
      padding: 12px;
   }
}
@media (max-width:768px) {
   .single-project .button.close-project {
      filter: drop-shadow(var(--s1) var(--s1) 2px rgb(0 0 0 / 8%));
      height: 32px;
      inset: auto auto 32px 50%;
      position: fixed;
      transform: translate(-50%);
      width: 32px;
      z-index: 50;
   }
}
@media all and (max-width: 768px) {
   .single-project {
         padding: 12px;
      }
   }
   @media (max-width:768px) {
      .site-config .config-option button {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         min-width: 100%;
      }
      .site-config .config-option button>* {
         justify-self: start;
      }
   }
   @media (max-width:768px) {
      .header-logo.menu-open {
         border-color: transparent;
   }
}
@media (max-width:768px) {
   .site-config .config-option {
      margin-bottom: 8px;
   }
}
@media (max-width:768px) {
   .columns {
      --columns: 4;
   }
}
@media (max-width:768px) {
   header {
      font-size: 12px;
      line-height: 133%;
   }
}
@media (max-width:768px) {
   header .header-button .mobile-menu-box.show {
      opacity: 1;
      visibility: visible;
   }
}
@media (max-width:768px) {
   header .header-bottom {
      padding-bottom: 12px;
      padding-top: 12px;
   }
}
@media (hover:hover) {
   .header-logo:hover .hide-letter.hide {
      opacity: 0;
   }
}

