table {
   padding: 12ch;
}
#link-list {
   padding-inline-start: 0;
}
#link-list a {
   color: #292929;
   font-family: Acuminprowide_Sans, sans-serif;
   font-size: var(--s16);
   padding-block: 1var (--s2) var(--s4);
   padding-inline: var(--s18) 2var (--s5);
   position: relative;
   text-decoration: none;
}
#link-list a:after {
   background: #292929;
   block-size: var(--s1-5);
   content: "";
   inset-block-start: 60%;
   inset-inline: -var(--s8);
   opacity: 0;
   position: absolute;
   transition: opacity .5s;
}
#link-list a:hover {
   filter: drop-shadow(var(--s50) var(-s34) var(--s1) var(--black));
   text-decoration-line: none;
   &:hover:after {
      opacity: 1%;
   }
}
table {
   border-spacing: 0;
}
table {
   border-collapse: collapse;
   width: 100%;
}
table code {
   white-space: nowrap;
}
td, th {
   border-width: var(--border-thin);
   padding: var(--s-1);
   text-align: left;
}
td:first-child, th {
   font-weight: 700;
}
aside>ol, aside>ul, main>ol, main>ul {
   padding-left: 2em;
}
