*, :after, :before {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Acumin Pro wide, sans-serif;
	font-size: 14px;
	letter-spacing: -.02em;
	line-height: 114%;
}
.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: var(--s1);
	margin: -var(--s1);
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: var(--s1);
}
img {
	min-inline-size: 100%;
}
@media (orientation:portrait) {
	.frame {
		aspect-ratio: 1/1;
	}
}
.frame {
	--n: 16;
	--d: 9;
	align-items: center;
	display: flex;
	justify-content: center;
	overflow: hidden;
}
.frame>img, .frame>video {
	block-size: 100%;
	inline-size: 100%;
	max-width: 900px;
	-o-object-fit: cover;
	object-fit: cover;
}
body.dark-mode {
	--page-bg: var(--black);
	--page-text: var(--white);
	--page-border: var(--grey-70);
	--page-active: var(--grey-30);
	--page-inactive: var(--grey-50);
	--page-button-default: var(--grey-70);
	--page-button-hover: var(--grey-60);
	--page-button-active: var(--grey-50);
	--page-card: var(--grey-70);
	--page-card-hover: var(--grey-60);
	--page-text-2: var(--grey-50);
	--page-number: var(--grey-40);
	--page-footer: var(--grey-50);
	--page-table-text-1: var(--grey-40);
	--page-table-text-2: var(--grey-30);
	--page-table-border: var(--grey-60);
}
body.dark-mode .single-project {
	--page-button-default: var(--grey-80);
}
ol, ul {
	list-style: none;
}
@keyframes fadeIn {
	to {
		opacity: 1;
	}
}
@keyframes fadeOut {
	to {
		opacity: 0;
	}
}
.visitor-info {
	display: flex;
	justify-content: flex-end;
}
hr {
	border: 0;
	margin-bottom: 16px;
	margin-top: 2var(--s1);
	outline: 0;
}
main {
	position: relative;
	z-index: 5;
}
main:after {
	content: "";
	height: calc(100% + 70px);
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 20;
}
canvas, img, picture, svg, video {
	display: block;
	max-width: 100%;
}
button, input, select, textarea {
	font: inherit;
}
h1, h2, h3, h4, h5, h6, p {
	overflow-wrap: break-word;
}
.col {
	flex: 1;
}
.col[class*=\ col-], .col[class^=col-] {
	flex: none;
}
@media (max-width:768px) {
	:root {
		--pagemargintotal: 12px;
	}
	.columns.mobile-reverse {
		flex-direction: column-reverse;
	}
}
@media (prefers-reduced-motion:reduce) {
	* {
		animation-duration: .01ms !important;
		animation-iteration-count: 1 !important;
		scroll-behavior: auto !important;
		transition-duration: .01ms !important;
	}
}
@media (max-width:768px) {
	.hide-small {
		display: none;
	}
	.col {
		flex: none;
		width: 100%;
	}
}
@keyframes pulse {
	0% {
		flex: none;
		width: 100%;
	}
	10% {
		flex: none;
		width: 100%;
	}
	20%, to {
		flex: none;
		width: 100%;
	}
}
@media (max-width:768px) {
	.col-1, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16, .col-17, .col-18, .col-19, .col-2, .col-20, .col-21, .col-22, .col-23, .col-24, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-l-1, .col-l-10, .col-l-11, .col-l-12, .col-l-13, .col-l-14, .col-l-15, .col-l-16, .col-l-17, .col-l-18, .col-l-19, .col-l-2, .col-l-20, .col-l-21, .col-l-22, .col-l-23, .col-l-24, .col-l-3, .col-l-4, .col-l-5, .col-l-6, .col-l-7, .col-l-8, .col-l-9, .col-m-1, .col-m-10, .col-m-11, .col-m-12, .col-m-13, .col-m-14, .col-m-15, .col-m-16, .col-m-17, .col-m-18, .col-m-19, .col-m-2, .col-m-20, .col-m-21, .col-m-22, .col-m-23, .col-m-24, .col-m-3, .col-m-4, .col-m-5, .col-m-6, .col-m-7, .col-m-8, .col-m-9 {
		--span: 4;
	}
	.col-s-2 {
		--span: 2;
	}
	.single-project .col+.col {
		margin-top: 24px;
	}
	section.information-row .col+.col {
		margin-top: 40px;
	}
}
@keyframes mobileMenuBoxIn {
	0% {
		height: 48px;
		width: 0;
	}
	50% {
		height: 48px;
	}
	to {
		height: 48px;
	}
}
@keyframes mobileMenuBoxOut {
	0% {
		height: 48px;
	}
	50% {
		height: 48px;
	}
	to {
		height: 48px;
		width: 0;
	}
}
.show-small {
	display: none;
}
@media (max-width:768px) {
	.show-small {
		display: flex;
	}
	body {
		font-size: 12px;
		line-height: 133%;
	}
}
.col-3 {
	--span: 3;
}
.col-6 {
	--span: 6;
}
.col-12 {
	--span: 12;
}
.columns {
	--columns: 12;
	display: flex;
	flex-wrap: wrap;
	transition: padding-left .2s ease, padding-right .2s ease;
	width: 100%;
}
@media (max-width:768px) {
	.columns {
		--columns: 4;
	}
}
.columns .columns {
	padding: 0;
}
footer .col {
	padding-top: 8px;
}
.icon {
	display: inline-block;
	height: 1em;
	width: 1em;
}
header {
	font-size: 12px;
	left: 0;
	line-height: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 20;
}
@media (max-width:768px) {
	header {
		font-size: 12px;
		line-height: 133%;
	}
}
header ul li a {
	text-decoration: none;
}
header .show-small {
	justify-content: flex-end;
}
header .header-button {
	position: relative;
}
header .header-button button {
	position: relative;
	z-index: 25;
}
header .header-button button .icon-minus, header .header-button button.active .icon-menu {
	display: none;
}
header .header-button button.active .icon-minus {
	display: inline-block;
}
header .header-button .mobile-menu-box-animate {
	border-radius: 6px;
	height: 0;
	position: absolute;
	right: 0;
	top: -12px;
	width: 0;
	z-index: 22;
}
header .header-button .mobile-menu-box {
	opacity: 0;
	padding: 16px 12px 24px;
	position: absolute;
	right: 0;
	top: -12px;
	transition: opacity .2s ease, visibility .2s ease;
	visibility: hidden;
	z-index: 23;
}
header .header-button .mobile-menu-box.show {
	transition: opacity .2s ease .4s, visibility .2s ease .4s;
}
@media (max-width:768px) {
	header .header-button .mobile-menu-box.show {
		opacity: 1;
		visibility: visible;
	}
}
header .header-button .mobile-menu-box p {
	color: inherit;
	margin-bottom: 12px;
}
header .header-bottom {
	padding-bottom: 8px;
	padding-top: 8px;
	position: relative;
	z-index: 2;
}
@media (max-width:768px) {
	header .header-bottom {
		padding-bottom: 12px;
		padding-top: 12px;
	}
}
header.scrolled.hide .header-bottom {
	transform: translateY(-100%);
}
.header-logo {
	padding: 13px 0 1var(--s1);
	position: relative;
	width: 100%;
	z-index: 5;
}
@media (max-width:768px) {
	.header-logo.menu-open {
		border-color: transparent;
	}
}
.header-logo svg {
	display: block;
	height: auto;
	width: 100%;
}
@media (hover:hover) {
	.header-logo:hover .hide-letter.hide {
		opacity: 0;
	}
}
.work-meta-rows .work-meta-row a:hover, p a:hover {
	opacity: .7;
}
a:not([class]) {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
}
p a {
	color: inherit;
	text-decoration: none;
}
@media (max-width:768px) {
	.site-config .config-option {
		margin-bottom: 8px;
	}
}
.site-config .config-option button {
	align-items: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: 0;
	cursor: pointer;
	display: flex;
	gap: 8px;
	justify-content: space-between;
	min-width: 119px;
	outline: 0;
}
@media (max-width:768px) {
	.site-config .config-option button {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		min-width: 100%;
	}
	.site-config .config-option button>* {
		justify-self: start;
	}
}
.site-config .config-option button>.indicator>span {
	display: inline-block;
	width: 9px;
}
@media (max-width:768px) {
	body.mobile-menu-open main:after {
		opacity: .8;
	}
}
ul.mobile-contact-info li {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
ul.mobile-contact-info li:not(:last-child) {
	margin-bottom: 12px;
}
.transition-fade {
	opacity: 1;
}
html.is-animating .transition-fade {
	opacity: 0;
}
.work-meta-rows {
	margin-top: 24px;
}
.work-meta-rows .work-meta-row {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 8px 0;
}
.work-meta-rows .work-meta-row a {
	color: inherit;
	text-decoration: none;
}
.single-project .single-project-image {
	aspect-ratio: 824/973;
	opacity: 0;
	overflow: hidden;
	position: relative;
	transition: opacity .2s ease;
}
.single-project .single-project-image.show {
	opacity: 1;
}
.single-project .button.close-project {
	position: absolute;
	right: 0;
	top: 0;
}
@media (max-width:768px) {
	.single-project .button.close-project {
		filter: drop-shadow(var(--s1) var(--s1) 2px rgb(0 0 0 / 8%));
		height: 32px;
		inset: auto auto 32px 50%;
		position: fixed;
		transform: translate(-50%);
		width: 32px;
		z-index: 50;
	}
}
.single-project {
	border-radius: 6px;
	padding: 16px;
}
@media (max-width:768px) {
	.single-project {
		padding: 12px;
	}
}
.single-project .single-project-image img {
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
	background: #292929;
	block-size: var(--s1-5);
	content: "";
	inset-block-start: 60%;
	inset-inline: -var(--s8);
	opacity: 0;
	position: absolute;
	transition: opacity 0.5s;
}
#link-list a:hover {
	filter: drop-shadow(var(--s50) var(-s34) var(--s1) var(--black));
	text-decoration-line: none;
	&:hover:after {
		opacity: 1%;
	}
}
.skip-link {
	block-size: var(--s1);
	inline-size: var(--s1);
	inset-inline-start: var(--11-56);
	overflow: hidden;
	position: absolute;
}
.skip-link:focus {
	block-size: auto;
	inline-size: auto;
	inset-block-start: 0;
	overflow: visible;
	z-index: 10000;
}
.visually-hidden-a11y {
	border: 0;
	clip: rect(var(--black) 0);
	margin: -var(--s1);
	padding: 0;
}
.screen-reader-text, .visually-hidden-a11y {
	height: var(--s1);
	overflow: hidden;
	position: absolute;
	width: var(--s1);
}
.screen-reader-text {
	clip: rect(var(--s1), var(--s1), var(--s1), var(--s1));
}
.screen-reader-text:focus {
	z-index: 100000;
}
.flow>*+* {
	margin-block-start: var(--flow-space, var(--8));
}
.email-label {
	color: var(--purple);
}
.email-label.hide {
	display: none;
}
textarea {
	display: inline-block;
	margin: .5em 0;
	min-width: var(--s200);
	vertical-align: middle;
}
blockquote:after, blockquote:before, q:after, q:before {
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
box-shadow:0 0 var(--s5) grey;
inline-size:210mm;
.home-link {
	inline-size: var(--s200);
	margin-block-start: var(--s30);
	margin-inline-start: var(--s50);
	z-index: 300;
}
.home-link, .nav {
	background-color: #f5f5f5;
	display: flex;
	inset-block-start: 0;
	position: fixed;
}
.nav {
	align-items: center;
	block-size: var(--s100);
	inline-size: 100%;
	inset-inline-start: 0;
	z-index: 103;
}
.nav-group {
	align-items: baseline;
	display: flex;
	flex-flow: row nowrap;
	gap: var(--s32);
	max-height: 100%;
	max-width: var(--s200);
	padding-inline-end: var(--s180);
	place-content: stretch flex-end;
}
.nav-links {
	color: hsl(var(--black) / 100%);
	flex-shrink: 1;
	font-family: Acuminprowide_Sans, sans-serif;
	padding: var(--s5);
	text-decoration: none;
}
.hr-container {
	display: flex;
	inline-size: 100%;
	inset-block-start: var(--s100);
	justify-content: flex-end;
	padding: 0;
	position: fixed;
	z-index: 1000;
}
#app {
	font-weight: 400;
	margin: 0 auto;
	max-width: 80rem;
	padding: var(--s32);
}
.custom-scrollbar {
	height: var(--s90);
	overflow-y: scroll;
}
.custom-scrollbar::-webkit-scrollbar {
	width: var(--s8);
}
.custom-scrollbar::-webkit-scrollbar-track {
	border-radius: var(--s10);
	box-shadow: inset 0 0 var(--s6) rgba(var(--black) .3);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
	border-radius: var(--s10);
	box-shadow: inset 0 0 var(--s6) rgba(var(--black) .5);
}
