.togl {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: all 0.3s;
}

.togl::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  background-color: var(--grey-20);
  top: 1px;
  left: 1px;
  transition: all 0.3s;
}

input[type='checkbox']:checked + .togl::after {
  transform: translateX(20px);
}

input[type='checkbox']:checked + .togl {
  background-color: var(--grey-20);
}

.offscreen {
  position: absolute;
  left: -9999px;
}
