--bg: hsl(205 32% calc((10 + (var(--toggled, 0) * 20)) * 1%));
--togl-bloc-height: calc((270 / 480) * var(--togl-bloc-width));
--togl-bloc-depth: calc((270 / 480) * var(--togl-bloc-width));
--plane-height: calc((270 / 480) * var(--togl-bloc-width));
--plane-width: var(--togl-bloc-width);
.toglsimple {
	background-color: rgb(var(--black) / 25%);
	border-radius: var(--s20);
	display: inline-block;
	height: var(--s20);
	position: relative;
	transition: all 0.3s;
	width: var(--s40);
}
.toglsimple:after {
	background-color: var(--grey-20);
	border-radius: var(--s18);
	content: "";
	height: var(--s18);
	left: var(--s1);
	position: absolute;
	top: var(--s1);
	transition: all 0.3s;
	width: var(--s18);
}
input[type="checkbox"]:checked + .togl:after {
	transform: translateX(var(--s20));
}
input[type="checkbox"]:checked + .togl {
	background-color: var(--grey-20);
}
.togl-title-classic {
	width: var(--s150);
}
.togl-title-classic i {
	margin-right: var(--s4);
}
.togl-switch-classic {
	height: var(--s40);
}
.togl-switch-classic input[type="checkbox"] {
	opacity: 0;
	position: absolute;
	z-index: -2;
}
.togl-switch-classic input[type="checkbox"] + label {
	background-color: transparent;
	border-radius: var(--s20);
	box-shadow:
		var(--s8) var(--s8) var(--s15) rgb(var(--white) / 60%) inset,
		var(--s10) var(--s10) var(--s10) rgb(var(--black) / 25%);
	cursor: pointer;
	display: inline-block;
	height: var(--s40);
	margin: 0;
	position: relative;
	width: var(--s100);
}
.togl-switch-classic input[type="checkbox"] + label:before {
	background-color: #d1dad3;
	background-color: rgb(var(--black) / 25%);
	border-radius: var(--s20);
	box-shadow: -var(--s3) -var(--s3) var(--s4);
	content: "OFF";
	font-size: 1var (--s3);
	height: var(--s25);
	left: var(--s8);
	line-height: var(--s25);
	position: absolute;
	text-align: center;
	top: var(--s8);
	transition: 0.3s ease-in-out;
	width: var(--s45);
}
.togl-switch-classic input[type="checkbox"]:checked + label:before {
	background-color: var(--purple);
	box-shadow:
		-var(--s3) -var(--s3) var(--s4) rgb(var(--white) / 50%),
		var(--s3) var(--s3) var(--s4) var(--purple);
	color: var(--white);
	content: "ON";
	left: 50%;
}
.togl-container-classic {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: var(--s1000);
	width: 100%;
}
.togl-hold-classic {
	align-items: center;
	border-radius: var(--s10);
	box-shadow:
		-var(--s8) - var(--s8) var(--s15) rgb(var(--white) / 70%),
		var(--s10) var(--s10) var(--s10) rgb(var(--black) / 30%),
		var(--s8) var(--s8) var(--s15) rgb(var(--white) / 70%) inset,
		var(--s10) var(--s10) var(--s10) rgb(var(--black) / 30%) inset;
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--s30);
	padding: var(--s10) var(--s20);
}
.togl-seat {
	height: 100%;
	transform: translateY(50%) rotateX(calc(var(--toggled, 0) * 90deg));
	transform-origin: 50% 0;
	transition: transform 0.2s;
	width: 100%;
}
.togl-scene {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	perspective: calc(var(--perspective, 800) * var(--s1));
	transform: translateZ(calc((1 * var(--togl-bloc-depth)) * 2vmin));
	transform-style: var(--transform-style);
	width: 100vw;
}
.togl-backdrop {
	--bg: hsl(205deg 32% calc((5 + (var(--toggled, 0) * 5)) * 1%));
	background: var(--bg);
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	transition: background var(--transition);
	width: 100vw;
}
.togl-plane {
	height: calc(var(--plane-height, 25) * 1vmin);
	transform: rotateX(calc(var(--rotate-x, -24) * 1deg)) rotateY(calc(var(--rotate-y, -24) * 1deg)) rotateX(90deg) translateZ(0);
	transform-style: var(--transform-style);
	width: calc(var(--plane-width, 25) * 1vmin);
}
.togl-bloc {
	--width: var(--togl-bloc-width, 15);
	--height: var(--togl-bloc-height, 10);
	--depth: var(--togl-bloc-depth, 4);
	position: absolute;
	transform: translate3d(calc(var(--x, 0) * 1vmin), calc(var(--y, 0) * 1vmin), calc(var(--z, 0) * 1vmin)) rotateX(calc(var(--rotate-togl-bloc-x, 0) * 1deg))
		rotateY(calc(var(--rotate-togl-bloc-y, 0) * 1deg)) rotate(calc(var(--rotate-togl-bloc-z, 0) * 1deg));
}
.togl-bloc,
.togl-bloc__side {
	transform-style: var(--transform-style);
}
.togl-bloc__side {
	transition: transform 0.25s ease;
}
.togl-bloc > div:first-of-type,
.togl-bloc > div:nth-of-type(2) {
	height: calc(var(--height) * 1vmin);
	left: 50%;
	position: absolute;
	top: 50%;
	transform-origin: 50% 50%;
	width: 100%;
}
.togl-bloc > div:nth-of-type(3),
.togl-bloc > div:nth-of-type(4) {
	height: calc(var(--height) * 1vmin);
	left: 50%;
	position: absolute;
	top: 50%;
	width: calc(var(--depth) * 1vmin);
}
.togl-bloc > div:nth-of-type(5),
.togl-bloc > div:nth-of-type(6) {
	height: calc(var(--depth) * 1vmin);
	left: 50%;
	position: absolute;
	top: 50%;
	width: calc(var(--width) * 1vmin);
}
.togl-bloc {
	--z: calc(var(--togl-bloc-height) / 2);
}
.togl-bloc div {
	background: var(--black);
}
.togl-bloc div:first-of-type,
.togl-bloc div:nth-of-type(3),
.togl-bloc div:nth-of-type(4),
.togl-bloc div:nth-of-type(6) {
	overflow: hidden;
}
.togl-bloc div:first-of-type:before,
.togl-bloc div:nth-of-type(3):before,
.togl-bloc div:nth-of-type(4):before,
.togl-bloc div:nth-of-type(6):before {
	background-size: cover;
	content: "";
	height: calc((2 * var(--togl-bloc-height)) * 1vmin);
	position: absolute;
	width: calc((2 * var(--togl-bloc-width)) * 1vmin);
}
.togl-bloc div:first-of-type {
	background-color: var(--black);
	filter: brightness(calc(1 + (var(--toggled, 0) * 1)));
}
.togl-bloc div:first-of-type:before {
	left: 50%;
	top: 0;
	transform: translate(-50%);
	transform-origin: 0 0;
}
.togl-bloc div:nth-of-type(3) {
	background-color: var(--grey-90);
	filter: brightness(calc(1 + (var(--toggled, 0) * 2)));
}
.togl-bloc div:nth-of-type(3):before {
	bottom: 100%;
	left: 0;
	transform: rotate(-90deg) translate(-100%, 50%);
	transform-origin: 0 100%;
}
.togl-bloc div:nth-of-type(4):before {
	left: 100%;
	top: 0;
	transform: rotate(90deg) translateY(-50%);
	transform-origin: 0 0;
}
.togl-bloc div:nth-of-type(6) h1 {
	opacity: var(--toggled, 0);
}
.togl-bloc div:nth-of-type(6):before {
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
}
[type="checkbox"] {
	height: 0;
	left: 100%;
	position: absolute;
	width: 0;
}
.togl-shadow {
	--bg: hsl(45deg 80% calc((0 + (var(--toggled, 0) * 90)) * 1%));
	background: radial-gradient(ellipse, var(--bg), transparent);
	filter: blur(var(--s10));
	height: 100%;
	position: absolute;
	transform: translate3d(0, calc((50 - (var(--toggled, 0) * 100)) * 1%), var(--s1)) scale(1.15, 1.3);
	transition:
		transform 0.2s,
		background 0.2s;
	width: 100%;
	will-change: transform;
}
.scoped > * {
	box-sizing: border-box;
	transform-style: preserve-3d;
}
.togl-bloc div:first-of-type h1 {
	opacity: calc(1 - var(--toggled, 0));
	transition: opacity var(--transition) calc((1 - var(--toggled, 0)) * var(--transition));
}
#togl-box {
	height: 0;
	opacity: 0;
	position: absolute;
	width: 0;
}
#toggle:checked + .togl-box .togl-box-inner {
	transform: rotateY(180deg);
}
.togl-box {
	border: var(--s2) solid;
	height: var(--s50);
	perspective: var(--s1000);
	position: relative;
	width: var(--s50);
}
.togl-box-inner {
	display: grid;
	height: 100%;
	place-items: center;
	transition: transform 0.8s;
}
.togl-box-back,
.togl-box-front {
	align-items: center;
	backface-visibility: hidden;
	display: flex;
	height: 100%;
	justify-content: center;
	position: absolute;
	text-align: center;
	width: 100%;
}
.togl-box-front {
	background-color: #bbb;
	color: #000;
}
.togl-box-back {
	background-color: #555;
	color: #fff;
	transform: rotateY(180deg);
}
.togl-plain {
	background-color: rgb(var(--black) / 25%);
	border-radius: var(--s20);
	display: inline-block;
	height: var(--s20);
	position: relative;
	transition: all 0.3s;
	width: var(--s40);
}
.togl-plain:after {
	background-color: #fff;
	border-radius: var(--s18);
	content: "";
	height: var(--s18);
	left: var(--s1);
	position: absolute;
	top: var(--s1);
	transition: all 0.3s;
	width: var(--s18);
}
input[type="checkbox"]:checked + .togl-plain:after {
	transform: translateX(var(--s20));
}
input[type="checkbox"]:checked + .togl-plain {
	background-color: var(--grey-20);
}
.offscreen {
	left: -625rem;
	position: absolute;
}
