.display\:block {
   display: block !important;
}
.filter\:invert {
   filter: invert(100%) !important;
}
.body-copy-align\:center {
   text-align: center !important;
}
.body-copy-align\:left {
   text-align: left !important;
}
.font-size\:body {
   font-size: var(--s16) !important;
}
.font-size\:small {
   font-size: .75rem !important;
}
.font-size\:1 {
   font-size: var(--s1) !important;
}
.height--100pct {
   height: 100%;
}
.measure--short {
   max-width: 40ch;
}
