:root {
	--blue600: hsl(203.6deg 100% 12%);
	--blue300: hsl(200deg 100% 40%);
	--blue275: hsl(200deg 100% 40%);
	--blue250: hsl(199.8deg 76.4% 48.2%);
	--blue225: hsl(199.9deg 78.2% 56.9%);
	--blue200: hsl(206.7deg 100% 70%);
	--marooon800: hsl(0deg 0% 21%);
	--honey700: hsl(30deg 90% 35%);
	--limegreen500: hsl(79.5deg 45.3% 52%);
	--rose600: hsl(357.1deg 39% 58.8%);
	--orange500: hsl(37.1deg 100% 37.5%);
	--golden600: hsl(45.3deg 56.5% 53.1%);
	--purple600: hsl(276.7deg 36.3% 51.4%);
	--yellow700: hsl(48deg 100% 50%);
	---purple300: hsl(280deg 18% 57.5%);
	--background-color: hsl(203.6deg 100% 12%);
	--link-color: hsl(206.7deg 100% 70%);
	--text-color: hsl(240deg 1.3% 84.5%);
	--text-color-light: hsl(0deg 0% 33.3%);
	--text-color-medium: hsl(0deg 0% 51%);
	--text-color-heading: hsl(120deg 100% 99.8%);
	--text-color-coolgray: hsl(240deg 2.3% 56.7%);
	--inverse-text-color: hsl(0deg 0% 100%);
	--inverse-link-color: hsl(206.7deg 100% 70%);
	--content-background-color: hsl(120deg 2% 9%);
	--horizontal-rule-color: hsl(0deg 0% 33.3%);
	--code-background-color: hsl(120deg 1% 19.4%);
	--code-border-color: hsl(0deg 0% 26.7%);
	--code-text-color: hsl(180deg 6.9% 84.5%);
	--note-background-color: hsl(31.9deg 20.5% 33.1%);
	--note-border-color: hsl(31.9deg 20.5% 42%);
	--note-text-color: hsl(48.7deg 55.2% 75.5%);
	--foreword-background-color: hsl(120deg 1% 19.4%);
	--foreword-border-color: hsl(0deg 0% 26.7%);
	--foreword-text-color: hsl(120deg 1.3% 55%);
	--input-border-color: hsl(0deg 0% 26.7%);
	--input-background-color: hsl(0deg 0% 0%);
	--button-background-color: hsl(120deg 2% 14%);
	--submit-button-background-color: hsl(199.8deg 76.4% 48.2%);
	--submit-button-background-gradient: hsl(199.9deg 78.2% 56.9%);
	--submit-button-text-color: hsl(0deg 0% 100%);
	--search-glyph: url(images/search.svg#light);
	--screen-reader-text-focus-color: hsl(198.7deg 64.9% 36.9%);
	--tile-subtle-border-shadow: inset hsl(0deg 0% 50% / 10%) 0 0 0 1px;
	--tile-subtle-image-border-shadow: inset hsl(0deg 0% 100% / 5%) 0 1px 0 1px;
	--tile-default-background-color: hsl(215.3deg 7.9% 42.2%);
	--tile-background-color-blue: hsl(200deg 100% 40%);
	--tile-background-color-violet: hsl(280deg 18% 57.5%);
	--tile-background-color-goldenrod: hsl(45.3deg 56.5% 53.1%);
	--tile-background-color-purplesafari: hsl(276.7deg 36.3% 51.4%);
	--tile-background-color-amber: hsl(48deg 100% 50%);

}

/** Resets **/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
html {
	font-size: 62.5%;
	font-synthesis: none;
}
body {
	background-color: hsl(203.6deg 100% 12%);
	background-color: var(--background-color);
	color: hsl(0deg 0% 20%);
	color: var(--text-color);
	font-size: 1.7rem;
	font-weight: 400;
	letter-spacing: -0.021rem;
	line-height: 1.52947;
}
#header {
	position: relative;
	z-index: 500;
	overflow: visible;
	width: 100vw;
	max-width: 100%;
	padding-top: 1.5rem;
	margin: 0;
}
ol,
ul {
	list-style: none;
}
dl {
	margin: 2rem 0;
}
dt {
	font-weight: 700;
}
dd {
	margin: 0 3rem;
}
blockquote,
q {
	quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p:empty {
	display: none;
}
a {
	text-decoration: none;
	transition: color 500ms cubic-bezier(0.19, 1, 0.22, 1);

	/* ease-out-exponential */
}
a:hover {
	text-decoration: underline;
}
a,
a>code,
a[name]:hover {
	color: hsl(200deg 100% 40%);
	color: var(--link-color);
}
h1 a:hover {
	text-decoration: none;
}
hr {
	border: none;
	border-bottom: 1px solid hsl(0deg 0% 86.7%);
	border-bottom-color: var(--horizontal-rule-color);
}
strong {
	font-weight: 600;
}
em {
	font-style: italic;
	font-weight: 300;
}
sup {
	font-size: smaller;
	line-height: 1;
	vertical-align: super;
}
code {
	padding: 0 0.5rem;
	border: 1px solid hsl(0deg 0% 90.6%);
	border-color: var(--code-border-color);
	border-radius: 2px;
	background-color: hsl(0deg 0% 94.9%);
	background-color: var(--code-background-color);
	color: hsl(0deg 0% 26.7%);
	color: var(--code-text-color);
	font-family: "SF Mono", Menlo, monospace;
	font-size: 80%;
}
main {
	background-color: hsl(0deg 0% 96.9%);
	background-color: var(--content-background-color);
}

/** Accessibility Helpers **/
a[name] {
	position: relative;
	top: -3rem;
	display: inline-block;
	width: 0;
	color: hsl(0deg 0% 86.7%);
	color: var(--text-color-light);
	text-decoration: none;
}
p>a[name]::before {
	position: relative;
	top: 3rem;
	margin-left: -1.7rem;
	color: hsl(240deg 2.3% 56.7%);
	color: var(--text-color-coolgray);
	content: "#";

	/* ease-out-exponential */
	opacity: 0.3;
	transition:
		color 500ms cubic-bezier(0.19, 1, 0.22, 1),
		opacity 500ms ease-in;
}
a[name]:hover {
	text-decoration: none;
}
a[name]:hover::before {
	color: hsl(200deg 100% 40%);
	color: var(--link-color);
}
p:hover>a[name]::before {
	opacity: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: -apple-system, "SF Pro Display", Helvetica, sans-serif;
	text-rendering: optimizelegibility;
}
h1 a[name],
h2 a[name],
h3 a[name],
h4 a[name],
h5 a[name],
h6 a[name] {
	display: block;
	visibility: hidden;
}
input[type=text] {
	display: inline-block;
	height: 4.2rem;
	box-sizing: border-box;
	padding-top: 3px;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	border: 1px solid hsl(0deg 0% 83.9%);
	border-color: var(--input-border-color);
	border-radius: 4px;
	margin-bottom: 3rem;
	background-clip: padding-box;
	background-color: hsl(0deg 0% 100%);
	background-color: var(--input-background-color);
	color: hsl(0deg 0% 20%);
	color: var(--text-color);
	font-family: "SF Hello", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2rem;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 1.33333;
	text-align: left;
	vertical-align: top;
}
input[type=submit] {
	border: 0;
	border-radius: 4px;
	background-color: hsl(199.8deg 76.4% 48.2%);
	background-color: var(--submit-button-background-color);
	background-image: linear-gradient(hsl(199.9deg 78.2% 56.9%), hsl(200deg 100% 40%));
	background-image: var(--submit-button-background-gradient);
	color: white;
	cursor: pointer;
	font-size: 1.5rem;
	font-weight: 500;
	text-align: center;
}
.admin-bar a[name] {
	top: calc(-32px - 3rem);
}
.admin-bar p>a[name]::before {
	top: calc(32px + 3rem);
}
.screen-reader-text {
	position: absolute !important;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
}
.screen-reader-text:focus {
	z-index: 100000;
	top: 5px;
	left: 5px;
	display: block;
	width: auto;
	height: auto;
	padding: 15px 23px 14px;
	border-radius: 3px;
	background-color: hsl(0deg 0% 94.5%);
	background-color: var(--screen-reader-text-background-color);
	box-shadow: 0 0 2px 2px hsl(0deg 0% 0% / 60%);
	box-shadow: var(--screen-reader-text-shadow);
	clip: auto !important;
	color: hsl(198.7deg 64.9% 36.9%);
	color: var(--screen-reader-text-focus-color);
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: normal;
	text-decoration: none;

	/* Above WP toolbar. */
}

/** Page Layout **/
.page-width {
	max-width: 1140px;
	margin: 0 auto;
}

/** Header **/
header {
	position: relative;
	z-index: 500;
	overflow: visible;
	width: 100vw;
	max-width: 100%;
	padding-top: 1.5rem;
	margin: 0;
}
.home header {
	background-color: transparent;
	transition:
		background 500ms ease-out,
		border 250ms ease-out;
}
@supports (-webkit-backdrop-filter: blur(10px)) {
	.home header {
		backdrop-filter: blur(0);
		background-color: transparent;
	}
	.sub-menu-layer {
		backdrop-filter: blur(10px);
	}
}
.nextrouter .link,
a.readmore {
	padding-right: 1rem;
	background: url(images/chevron.svg) right no-repeat;
	background-position-y: 0.6rem;
	background-size: 0.5rem;
}
a.download {
	padding-right: 4rem;
	background: url(images/download.svg) right no-repeat;
}

/** Pagination **/
.pagination {
	margin: 3rem auto 0;
	text-align: center;
}
.pagination::after {
	display: table;
	padding-bottom: 3rem;
	content: " ";
}
.pagination .page-numbers,
.pagination .menu-item a {
	display: inline-block;
	min-height: 2rem;
	padding: 0.3rem 1rem 0.5rem;
	border-radius: 4px;
	background-color: hsl(0deg 0% 100%);
	background-color: var(--button-background-color);
	box-shadow: inset hsl(0deg 0% 0% / 7%) 0 0 0 1px;
	box-shadow: var(--pagination-button-shadow);
	font-size: 1.7rem;
	font-weight: 400;
	letter-spacing: -0.021em;
	line-height: 1.29412;
}
.pagination .menu-item a {
	border: 1px solid hsl(0deg 0% 0% / 7%);
	border-color: var(--pagination-border-color);
	box-shadow: none;
}
.pagination .page-numbers:not(.current, .dots):hover {
	background-color: hsl(200deg 100% 40%);
	background-color: var(--link-color);
	color: hsl(0deg 0% 100%);
	color: var(--inverse-text-color);
	text-decoration: none;
}
.pagination .dots,
.pagination .page-numbers.current {
	background-color: transparent;
	box-shadow: none;
}
.pagination .prev-post,
.pagination .next-post {
	min-width: 25%;
}
.pagination .prev-post {
	text-align: right;
}
.pagination .next-post {
	text-align: left;
}
.pagination .prev-post span,
.pagination .next-post span {
	display: block;
	font-size: 1.4rem;
	font-weight: 400;
}
.connected.pagination .menu-item {
	display: table-cell;
}
.connected.pagination .menu-item:hover a {
	border-radius: 4px;
	background-color: hsl(0deg 0% 98%);
	background-color: var(--next-router-background-color);
	box-shadow: hsl(206.7deg 100% 70% / 30%) 0 0 5px 0;
	text-decoration: none;
}
.connected.pagination .menu-item:first-child a {
	border-right-width: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.connected.pagination .menu-item:last-child a {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.connected.pagination .menu-item.current-menu-item a,
.connected.pagination .menu-item.current-menu-item:hover a .connected.pagination .menu-item.current-menu-item a:hover {
	background-color: transparent;
	box-shadow: none;
	color: var(--text-color);
	text-decoration: none;
}
.menu-feature-pages-container {
	display: inline-block;
}

/* Front page next button */
.pagination .next-button {
	display: inline-block;
	min-width: calc(33.33% - 3rem);
	padding: 0.5rem 1rem 0.7rem;
}
.nextrouter {
	position: relative;
	left: 50%;
	width: 100vw;
	padding: 0;
	background-color: hsl(0deg 0% 98%);
	background-color: var(--next-router-background-color);
	transform: translateX(-50%);
}
.nextrouter.previous {
	background-color: hsl(0deg 0% 95.7%);
	background-color: var(--previous-router-background-color);
	text-align: right;
}
.nextrouter:hover,
.nextrouter.previous:hover {
	background-color: hsl(0deg 0% 100%);
	background-color: var(--router-background-hover-color);
	transition: background-color 300ms ease-out;
}
.nextrouter .bodycopy {
	max-width: 1140px;
	margin: 0 auto;
}
.nextrouter a {
	display: block;
	width: 66%;
	margin: 0 auto;
	color: hsl(0deg 0% 26.7%);
	color: var(--router-text-color);
	cursor: pointer;
}
.nextrouter a:hover {
	text-decoration: none;
}
.nextrouter-copy {
	padding: 10rem 0 9.5rem;
	font-family: -apple-system, "SF Pro Display", Helvetica, sans-serif;
	font-size: 3.2rem;
	font-weight: 500;
	letter-spacing: 0.011rem;
	line-height: 1.09375;
}
.nextrouter .label {
	display: block;
	margin-bottom: 1.8rem;
	color: hsl(0deg 0% 40%);
	color: var(--router-text-color-light);
	font-size: 2.2rem;
	font-weight: 300;
	letter-spacing: 0.016rem;
	line-height: 1;
}
.nextrouter .title {
	display: block;
}
.nextrouter .link {
	display: inline-block;
	background-position-y: 1rem;
	clear: left;
	color: hsl(200deg 100% 40%);
	color: var(--link-color);
	font-size: 1.7rem;
	font-weight: 400;
	letter-spacing: -0.021rem;
	line-height: 1.52947;
}
.nextrouter a:hover .link {
	text-decoration: underline;
}

/** Footer **/
footer {
	display: table;
	width: 100%;
	box-sizing: border-box;
	padding-bottom: 1.65rem;
	clear: both;
	content: "";
}
footer .menu {
	font-size: 1.3rem;
}

/** Tiles **/
.tiles {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 0;
}
.tile {
	position: relative;
	display: block;
	overflow: hidden;
	box-sizing: border-box;
	margin: 0 0 15px;
	background-color: hsl(120deg 2% 9%);
	background-color: var(--tile-background-color);
	box-shadow: inset hsl(0deg 0% 0% / 10%) 0 0 0 1px;
	box-shadow: var(--tile-subtle-border-shadow);
	vertical-align: top;
}
.tile.spacer {
	background: none;
	box-shadow: none;
}
.tile-link,
.tile-link:hover {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	font-size: 0;
	text-decoration: none;
}
.third-tile {
	width: calc(33.33% - 10px);
}
.two-thirds-tile {
	width: calc(66.66% - 5px);
}
.featured-tile {
	padding: 0;
}
#icons {
	display: none;
}
.tile .background-image {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 0;
	padding-bottom: 80%;
	margin-top: -1px;
	background-color: hsl(215.3deg 7.9% 42.2%);
	background-color: var(--tile-default-background-color);
}
.tile .background-image svg {
	position: relative;
	top: -12%;
	width: 209%;
	height: auto;
	color: hsl(120deg 2% 9%);
	color: var(--tile-background-color);
}
.tile .background-image.has-featured-image {
	filter: saturate(0);
	transition: filter 1s ease-in;
}
.tile:not(.has-post-thumbnail) .featured-image {
	display: none;
}
.tile.category-web-inspector svg {
	background-color: hsl(200deg 100% 40%);
	background-color: var(--tile-background-color-blue);
}
.tile.category-performance svg {
	background-color: hsl(79.5deg 45.3% 52%);
	background-color: var(--tile-background-color-green);
}
.tile.category-javascript svg {
	background-color: hsl(280deg 18% 57.5%);
	background-color: var(--tile-background-color-violet);
}
.tile.category-css svg {
	background-color: hsl(357.1deg 39% 58.8%);
	background-color: var(--tile-background-color-rose);
}
.tile.category-standards svg {
	top: -20%;
	background-color: hsl(37.1deg 100% 37.5%);
	background-color: var(--tile-background-color-orange);
}
.tile.category-contributing svg {
	background-color: hsl(45.3deg 56.5% 53.1%);
	background-color: var(--tile-background-color-goldenrod);
}
.tile.category-storage svg {
	background-color: hsl(280deg 18% 57.5%);
	background-color: var(--tile-background-color-violet);
}
.tile.category-layout svg {
	background-color: hsl(357.1deg 39% 58.8%);
	background-color: var(--tile-background-color-rose);
}
.tile.category-safari-technology-preview svg {
	background-color: hsl(276.7deg 36.3% 51.4%);
	background-color: var(--tile-background-color-purplesafari);
}
.tile.category-accessibility svg {
	top: -8%;
	background-color: hsl(200deg 100% 40%);
	background-color: var(--tile-background-color-blue);
}
.tile.category-security svg {
	background-color: hsl(45.3deg 56.5% 53.1%);
	background-color: var(--tile-background-color-goldenrod);
}
.tile.category-privacy svg {
	background-color: hsl(45.3deg 56.5% 53.1%);
	background-color: var(--tile-background-color-goldenrod);
}
.tile .background-image.loaded {
	border-color: var(--tile-border-color);
	border-bottom: 1px solid hsl(0deg 0% 0% / 10%);
	background: none;
	filter: saturate(1);
}
.tile .background-image.loaded svg {
	display: none;
}
.tile .featured-image::before {
	display: block;
	padding-top: 80%;
	margin-bottom: 20%;
	content: "";
}
.tile .featured-image {
	position: relative;
	max-height: 450px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0;
	transition: opacity 0.4s ease-in;
}
.tile:not(.has-post-thumbnail) .background-image,
.tile .background-vignette {
	box-shadow: inset hsl(0deg 0% 0% / 10%) 0 1px 0 1px;
	box-shadow: var(--tile-subtle-image-border-shadow);
}
.has-post-thumbnail .background-image {
	filter: saturate(0);
	opacity: 0.1;
}
.has-post-thumbnail .background-image.loaded,
.tile .background-image.loaded .featured-image {
	opacity: 1;
}
.featured-tile .background-image {
	padding-bottom: 60%;
	margin-bottom: 0;
}
.tile .tile-content {
	max-width: 100%;
	box-sizing: border-box;
	padding: 2rem;
	font-size: 1.6rem;
	line-height: 3rem;
}
.featured-tile .tile-content {
	position: absolute;
	top: auto;
	bottom: 15px;
	box-sizing: border-box;
	padding: 0 24px;
	transform: none;
}
.background-vignette {
	position: absolute;
	top: 0;
	width: 100%;
	padding-bottom: 60%;
	background-image: linear-gradient(-180deg, hsl(0deg 0% 100% / 0%), hsl(0deg 0% 100% / 95%) 80%, hsl(0deg 0% 100% / 100%));
	background-image: var(--tile-background-vignette);
}
.tag-window .background-image {
	background-color: hsl(0deg 0% 94.9%);
	background-color: var(--tag-window-background-color-gray);
}
.tag-window .background-vignette {
	background-image: linear-gradient(-180deg, hsl(0deg 0% 94.9% / 0%) 25%, hsl(0deg 0% 94.9% / 100%) 65%);
	background-image: var(--tag-window-vignette);
}
.featured-tile.tag-dark.tile {
	background: black;
}
.featured-tile.tag-dark .background-vignette {
	background-image: linear-gradient(-180deg, hsl(0deg 0% 0% / 0%) 33%, hsl(0deg 0% 0% / 85%));
	background-image: var(--tile-background-vignette-dark);
}
.featured-tile.tag-dark .tile-content {
	color: hsl(0deg 0% 100%);
	color: var(--inverse-text-color);
}
.featured-tile.tag-dark .tile-content a {
	color: hsl(206.7deg 100% 70%);
	color: var(--inverse-link-color);
}
.tag-transparent:not(.featured-tile) .featured-image {
	background-size: contain;
	box-shadow: none;
}
.tag-transparent:not(.featured-tile) .background-image.loaded {
	border-bottom: none;
}
.tile-content p {
	margin: 0;
}
.tile h1 {
	font-size: 2.4rem;
	font-weight: 500;
	letter-spacing: 0.015rem;
	line-height: 1.20849;
	text-align: left;
	white-space: no-wrap;
}
.tile h2 {
	font-size: 2.4rem;
	font-weight: 200;
	line-height: 1.20849;
	text-align: inherit;
}
.tile .summary,
.tile p {
	margin-top: 1.65rem;
}
.icon-tile {
	font-size: 2rem;
	text-align: center;
}
.icon-tile h2+p {
	margin-bottom: 1rem;
	font-weight: 200;
}
.icon-tile .icon {
	position: relative;
	padding: 40%;
	margin: 0 auto 3rem;
	background: url(images/compass.svg) no-repeat;
	background-position: 50% 50%;
}
.icon-tile.download .icon {
	background-image: url(images/download.svg);
}
.icon-tile.developer .icon {
	background-image: url(images/developer.svg);
}
.icon-tile,
.icon-tile a {
	color: hsl(0deg 0% 100%);
	color: var(--inverse-text-color);
}
.gray-tile {
	background: linear-gradient(rgb(40 40 40), rgb(74 74 74));
	background-image: var(--tile-background-color-gray);
}
.gray-tile {
	color: hsl(0deg 0% 100%);
	color: var(--inverse-text-color);
}
.gray-tile a {
	color: hsl(232.8deg 100% 37.5%);
	color: var(--gray-tile-text-color);
}
.amber-tile {
	background-color: hsl(48deg 100% 50%);
	background-color: var(--tile-background-color-amber);
}
.blue-tile {
	background-color: hsl(200deg 100% 40%);
	background-color: var(--tile-background-color-blue);
}
.twitter-tile {
	background-color: hsl(197.9deg 70.6% 53.3%);
	background-color: var(--tile-background-color-twitter);
}
.twitter-tile,
.twitter-tile a {
	color: white;
}
.tile-content a {
	position: relative;
	z-index: 200;
}
.twitter-tile .tile-content {
	position: relative;
	box-sizing: border-box;
	font-size: 2rem;
	text-align: center;
}
.twitter-tile.text-only {
	display: flex;
	justify-content: center;
	text-align: left;
}
.twitter-tile .media {
	text-align: center;
}
.twitter-tile.text-only .tile-content {
	align-self: center;
	padding-bottom: 6rem;
	font-size: 2.5rem;
	font-weight: 400;
	line-height: 3rem;
}
.twitter-tile img {
	display: inline-block;
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 256px;
}
.twitter-controls {
	position: absolute;
	z-index: 200;
	bottom: 15px;
	left: 0;
	display: flex;
	width: 100%;
	box-sizing: border-box;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 1.5rem;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 3rem;
	text-align: center;
}
.twitter-controls li {
	display: inline-block;
	margin: 0 1.3rem;
}
.twitter-controls a {
	opacity: 0.66;
	transition: opacity 300ms ease-out;
}
.twitter-controls a:hover {
	opacity: 1;
	text-decoration: none;
}

/** Twitter Icons **/
.twitter-icon {
	background: url(images/twitter.svg) no-repeat;
	background-size: cover;
}
.icon.twitter-icon {
	position: relative;
	width: 1px;
	padding: 33%;
	margin: 3rem auto;
	color: hsl(0deg 0% 100%);
	color: var(--inverse-text-color);
	opacity: 0.33;
}
.twitter-tile h2 {
	text-align: center;
}
.twitter-controls .twitter-icon {
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	text-indent: -9999em;
}
.twitter-icon.reply-icon {
	background-position-y: 33%;
}
.twitter-icon.retweet-icon {
	background-position-y: 66%;
}
.twitter-icon.favorite-icon {
	background-position-y: 99%;
}

/** Code Syntax Highlighting **/
pre {
	overflow: auto;
	width: calc(100% + 6rem);
	box-sizing: border-box;
	padding: 3rem;
	border: 1px solid hsl(0deg 0% 90.6%);
	border-color: var(--code-border-color);
	border-radius: 2px;
	margin-left: -3rem;
	background-color: hsl(0deg 0% 94.9%);
	background-color: var(--code-background-color);
	-webkit-overflow-scrolling: touch;
}
code {
	color: hsl(0deg 0% 26.7%);
	color: var(--code-text-color);
	font-size: 1.6rem;
	line-height: 2.5rem;
}
pre code {
	padding: 0;
	border: none;
}
code .keyword,
code.html .tag {
	color: hsl(292.5deg 100% 26.7%);
	color: var(--syntax-color-keyword);
}
code .keyword.builtin,
code .keyword.literal {
	color: hsl(309.6deg 85.8% 35.9%);
	color: var(--syntax-color-builtin);
}
code .keyword.type {
	color: hsl(17.6deg 80.4% 44.1%);
	color: var(--syntax-color-keyword-type);
}
code .preprocessor {
	color: hsl(60deg 20% 50%);
	color: var(--syntax-color-preprocessor);
}
code .comment {
	display: inline;
	color: hsl(180deg 6.9% 60.4%);
	color: var(--syntax-color-comment);
	float: none;
}
code .comment .doc {
	color: hsl(186.3deg 8.3% 55.1%);
	color: var(--syntax-color-comment-doc);
	font-weight: 700;
}
code .identifier {
	color: hsl(209.6deg 71.4% 38.4%);
	color: var(--syntax-color-identifier);
}
code .string,
code .char {
	color: hsl(70.8deg 93% 22.4%);
	color: var(--syntax-color-string);
}
code .escaped {
	color: hsl(0deg 0% 66.7%);
	color: var(--syntax-color-escaped);
}
code .number,
code .tag {
	color: hsl(194.5deg 14.1% 40.2%);
	color: var(--syntax-color-number);
}
code .regex,
code .attribute {
	color: hsl(44.8deg 53.2% 33.5%);
	color: var(--syntax-color-attribute);
}
code .attribute.value {
	color: hsl(1.4deg 79.8% 42.7%);
	color: var(--syntax-color-attribute-value);
}
code .operator {
	color: hsl(0deg 0% 53.3%);
	color: var(--syntax-color-operator);
}
code .keyword.operator {
	color: hsl(357.5deg 100% 33.1%);
	color: var(--syntax-color-keyword-operator);
}
code .whitespace {
	background-color: hsl(0deg 0% 20%);
	background-color: var(--syntax-color-whitespace-background-color);
}
code .error {
	border-color: var(--syntax-color-error-border);
	border-bottom: 1px solid hsl(0deg 100% 50%);
}
code .doctype {
	color: hsl(0deg 0% 75.3%);
	color: var(--syntax-color-doctype);
}
code .property {
	color: hsl(295.7deg 76.8% 32.2%);
	color: var(--syntax-color-property);
}
code.xml .comment,
code.html .comment {
	color: hsl(120deg 100% 22.7%);
	color: var(--syntax-color-xml-comment);
}
code.xml .preprocessor .keyword {
	color: hsl(60deg 20% 50%);
	color: var(--syntax-color-preprocessor);
}
code.xml .meta,
code.xml .meta .keyword {
	color: hsl(180deg 50% 40%);
	color: var(--syntax-color-xml-meta);
}
code.cpp .preprocessor .identifier {
	color: hsl(60deg 20% 50%);
	color: var(--syntax-color-preprocessor);
}
pre::selection,
pre span::selection {
	background-color: hsl(212.3deg 97.8% 81.8%);
	background-color: var(--code-selection-background-color);
}
pre::selection,
pre span::selection {
	background-color: hsl(212.3deg 97.8% 81.8%);
	background-color: var(--code-selection-background-color);
}
code.syntax {
	white-space: normal;
}
code.syntax .newlines {
	display: block;
	white-space: pre;
}
code.css .attribute,
code.css .identifier,
code.css .preprocessor {
	color: hsl(309.6deg 85.8% 35.9%);
	color: var(--syntax-color-css-property);
}
code.css .keyword {
	color: hsl(0deg 0% 0%);
	color: var(--syntax-color-css-selector);
}
code.css .number {
	color: hsl(248.1deg 100% 40.6%);
	color: var(--syntax-color-css-number);
}

/** Post Typography **/
main {
	width: 100vw;
	max-width: 100%;
	box-sizing: border-box;
	padding: 3rem 0 0;
	overflow-x: hidden;
}
article {
	padding-bottom: 3rem;
}
article::after {
	display: table;
	clear: both;
	content: " ";
}
main h1 {
	text-align: left;
}
main h1,
article h1,
article h1 a {
	margin: 0 auto 3rem;
	color: hsl(0deg 0% 26.7%);
	color: var(--text-color-heading);
	font-size: 5.6rem;
	font-weight: 500;
	letter-spacing: 0.004rem;
	line-height: 1.10746;
	text-align: center;
	text-decoration: none;
}
article h2 {
	margin: 4rem 0 1rem;
	font-size: 3.2rem;
	font-weight: 500;
	letter-spacing: -0.011rem;
	line-height: 1.09375;
}
article h3 {
	font-size: 2.4rem;
	font-weight: 500;
	letter-spacing: -0.011rem;
	line-height: 1.09375;
}
article h4 {
	font-size: 2.2rem;
	font-weight: 500;
	line-height: 1.09375;
}
article h5 {
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.09375;
}
article h6 {
	font-size: 1.7rem;
	font-weight: 500;
	line-height: 1.09375;
}
article h3,
article h4,
article h5,
article h6 {
	margin-bottom: 0.5rem;
}
article h2+h3,
article h3+h4,
article h4+h5,
article h5+h6 {
	margin-top: 0;
}
article p,
article div>img,
article pre,
article hr {
	margin-bottom: 3rem;
}
article .byline p {
	margin-bottom: 0;
	color: hsl(240deg 2.3% 56.7%);
	color: var(--text-color-coolgray);
	font-size: 1.5rem;
	line-height: 3rem;
}
article .byline .date {
	font-weight: 900;
}
article .byline .author {
	white-space: nowrap;
}
article table {
	width: 100%;
	margin: 3rem 0;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 1.6rem;
}
article thead,
article tfoot {
	border-top: 1px solid hsl(0deg 0% 73.3%);
	border-top-color: var(--table-top-rule-color);
	border-bottom: 1px solid hsl(0deg 0% 87.8%);
	border-bottom-color: var(--table-rule-color);
}
article tr {
	border-color: var(--table-rule-color);
	border-top: 1px solid hsl(0deg 0% 87.8%);
}
article tr:first-child {
	border-top: 0 none;
}
article th {
	font-weight: 700;
	text-align: left;
	vertical-align: bottom;
}
article td,
th {
	padding: 1.754386%;
}
article th:first-child {
	padding-left: 0;
}
article ol,
article ul {
	padding-left: 3rem;
	margin: 3rem 0;
}
article ol {
	list-style-type: decimal;
}
article ul {
	list-style-type: square;
}
article ul ul,
article ul ol,
article ol ul,
article ol ol {
	margin-top: 0;
	margin-bottom: 0;
}
article blockquote {
	position: relative;
	left: 50%;
	width: 100vw;
	height: auto;
	box-sizing: border-box;
	padding: 0 3rem;
	margin-left: -50vw;
	color: hsl(240deg 2.3% 56.7%);
	color: var(--text-color-coolgray);
	font-size: 3rem;
	font-weight: 200;
	line-height: 4.2rem;
	text-align: center;
}
article blockquote>* {
	max-width: 1140px;
	margin-right: auto;
	margin-left: auto;
}
article blockquote:first-child {
	left: 0;
	width: 100%;
	padding: 0;
	margin: 0 auto;
	text-align: left;
}
.post .bodycopy>p:last-child::after {

	/* Tombstone */
	color: hsl(0deg 0% 33.3%);
	color: var(--text-color-medium);
	content: " \220E";
}
article div.note {
	box-sizing: normal;
	padding: 3rem;
	border: 1px solid hsl(40deg 100% 90%);
	border-color: var(--note-border-color);
	border-radius: 3px;
	margin-right: -3rem;
	margin-bottom: 3rem;
	margin-left: -3rem;
	background-color: hsl(50deg 100% 94%);
	background-color: var(--note-background-color);
	color: hsl(30deg 90% 35%);
	color: var(--note-text-color);
}
article .foreword {
	box-sizing: normal;
	padding: 1.6rem 2.2rem;
	border: 1px solid hsl(0deg 0% 90.2%);
	border-color: var(--foreword-border-color);
	border-radius: 3px;
	margin-bottom: 3rem;
	background-color: hsl(0deg 0% 94.1%);
	background-color: var(--foreword-background-color);
	color: hsl(240deg 2.3% 56.7%);
	color: var(--foreword-text-color);
	font-size: 1.6rem;
	font-style: italic;
	line-height: 2.6rem;
}
article .meta {
	clear: both;
}
article .meta .written {
	margin-bottom: 1em;
}
article .meta .written,
article .meta .updated {
	font-size: 1.2rem;
	font-style: italic;
	text-align: right;
	text-transform: uppercase;
}
article .meta .icon {
	margin-right: 1em;
	float: left;
}
article .two-columns {
	margin: 3rem 0;
	column-gap: 6rem;
	columns: 2;
}
article .two-columns h2,
article .two-columns h3,
article .two-columns h4,
article .two-columns h5,
article .two-columns h6 {
	break-after: avoid-column;

	/* https://bugs.webkit.org/show_bug.cgi?id=148814 */
}
article .two-columns p {
	break-inside: avoid-column;
}

/** Post Layout **/
article .byline {
	width: 191px;
	box-sizing: border-box;
	padding-right: 4rem;
	float: left;
	text-align: right;
}
article .bodycopy,
article .meta {
	position: relative;
	width: 66%;
	margin: 0 auto;
}
article .aligncenter .wp-caption-text {
	right: -50%;
}
article .alignleft {
	margin: 1.5rem 1.5rem 1.5rem 0;
	float: left;
}
article .aligncenter {
	display: block;
	margin: 0 auto 3rem;
	clear: both;
}
article div.aligncenter {
	position: relative;
	right: 50%;
	float: right;
}
article div.aligncenter img {
	position: relative;
	right: -50%;
}
article .alignright {
	margin: 1.5rem 0 1.5rem 1.5rem;
	float: right;
}
article .alignnone {
	display: block;
	float: none;
}
article .alignnone.size-full {
	position: relative;
	left: 50%;
	width: 100vw;
	height: auto;
	transform: translate(-50vw, 0);
}
article .abovetitle {
	margin-top: -0.4em;
}
article .pull-left {
	margin: 1.5rem 1.5rem 1.5rem -25%;
	float: left;
}
article .pull-right {
	margin: 1.5rem -25% 1.5rem 1.5rem;
	float: right;
}
article .cliptop {
	border-color: var(--horizontal-rule-color);
	border-top: 1px solid hsl(0deg 0% 86.7%);
}
article .clipbottom {
	border-color: var(--horizontal-rule-color);
	border-bottom: 1px solid hsl(0deg 0% 86.7%);
}
article .clipright {
	border-color: var(--horizontal-rule-color);
	border-right: 1px solid hsl(0deg 0% 86.7%);
}
article .clipleft {
	border-color: var(--horizontal-rule-color);
	border-left: 1px solid hsl(0deg 0% 86.7%);
}
article .mattewhite {
	padding-top: 3rem;
	padding-bottom: 3rem;
	border-color: var(--article-border-color);
	border-top: 1px solid hsl(0deg 0% 90.6%);
	border-bottom: 1px solid hsl(0deg 0% 90.6%);
	background-color: hsl(0deg 0% 100%);
	background-color: var(--figure-mattewhite-background-color);
}
.image {
	padding: var(--image-padding) var(--image-padding) 0;
	--image-padding: 0.5em;
}
p .image,
li .image {
	--image-padding: 0;
}
.image img {
	border-width: 0;
	border-style: solid;
	border-color: hsl(0deg 0% 90.6%);
	border-color: var(--article-border-color);
}
article .mattewhite:not(.widescreen) {
	padding: 3rem;
	border: 1px solid hsl(0deg 0% 90.6%);
	border-color: var(--article-border-color);
	margin-right: -3rem;
	margin-left: -3rem;
}
article .mattewhite.tightwad {
	padding: 0;
}

/** Article Figures **/
article figure {
	margin-bottom: 3rem;
	text-align: center;
}
article figure>img {
	display: inline-block;
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 540px;
}
figure.widescreen img,
figure.widescreen figcaption {
	display: block;
	margin: 0 auto;
}
figure.widescreen figcaption {
	margin-top: 3rem;
}
figure.widescreen video {
	max-width: 66%;
	max-height: 420px;
}
article picture {
	max-width: 100%;
}
article picture>img {
	max-width: 100%;
	max-height: 100%;
}
article video.alignleft,
article video.alignright {
	max-width: 50%;
}
article .alignleft:first-child,
article .alignright:first-child {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
article figcaption {
	position: relative;
	max-width: 970px;
	box-sizing: border-box;
	padding-left: 1.5rem;
	margin-top: 1.5rem;
	color: hsl(0deg 0% 33.3%);
	color: var(--text-color-medium);
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
}
article figcaption::before {
	position: absolute;
	bottom: 2.5rem;
	left: 1.5rem;
	display: inline-block;
	width: 15%;
	height: 100%;
	box-sizing: border-box;
	border-color: var(--figure-caption-rule-color);
	border-top: 1px solid hsl(0deg 0% 80%);
	content: "";
	opacity: 1;
}
figure.aligncenter figcaption {
	padding-left: 0;
	text-align: center;
}
article .clipbottom+p+figcaption {
	margin-top: 1rem;
}
article .clipbottom+p+figcaption::before {
	width: 0;
}

/** Page Layout **/
article.page h1 {
	width: 66%;
	text-align: left;
}
.page .bodycopy h1 {
	width: 100%;
}
article {
	animation: fade-in-move-down 0.7s;
}

/** Page Table of Contents **/
article .table-of-contents label {
	margin-bottom: 1.65rem;
	font-size: 1.7rem;
	font-weight: 500;
}
.table-of-contents ul {
	margin: 0;
	margin-top: 1.65rem;
	list-style: none;
}
.table-of-contents ul li {
	margin-bottom: 1.65rem;
}
.table-of-contents ul li:last-child {
	margin-bottom: 0;
}
.table-of-contents ul li>ul {
	margin-top: 1.65rem;
}

/** Logo **/
.site-logo {
	display: inline-block;
	padding: 1rem 0 1rem 5.5rem;
	background: url(images/webkit.svg) no-repeat;
	color: hsl(0deg 0% 100%);
	color: var(--inverse-text-color);
	float: left;
	font-size: 3rem;
	font-weight: 500;
	letter-spacing: 0.015rem;
	line-height: 1.04167;
	text-rendering: optimizelegibility;
	user-select: none;
}
.hero .logo {
	background-image: url(images/webkit.svg);
}

/** Status Page **/
.feature-header::after {
	display: inline-block;
	background: url(images/menu-down.svg) no-repeat 50%;
	background-size: 2rem;
	content: "";
}

/** Navigation **/
.label-toggle {
	cursor: pointer;
}
header nav {
	text-align: right;
	user-select: none;
}

/* Hide menu toggle checkboxes */
footer {}
footer nav {
	padding: 1.65rem 0 0;
}
header nav li {
	display: inline-block;
	padding: 1.5rem 0 1.5rem 1.5rem;
}
footer nav li {
	position: relative;
	display: inline-block;
	padding: 0 0 1.5rem 3rem;
}
footer nav li:first-child {
	padding-left: 0;
}
header nav a,
.sub-menu a,
footer nav a {
	position: relative;
	display: inline-block;
	color: hsl(0deg 0% 20%);
	color: var(--text-color);
	cursor: pointer;
	font-size: 1.4rem;
	font-weight: 500;
	letter-spacing: -0.015rem;
	letter-spacing: 0;
	line-height: 1.5455;
	text-decoration: none;
}
header nav a,
footer nav a {
	color: hsl(0deg 0% 100%);
	color: var(--inverse-text-color);
}
header nav a:hover,
footer nav a:hover {
	color: hsl(200deg 100% 40%);
	color: var(--link-color);
	text-decoration: none;
}
header .menu-item-has-children .label-toggle::after {
	display: inline-block;
	padding-top: 0.8rem;
	padding-right: 1.2rem;
	margin-top: -0.1rem;
	margin-left: 0.5rem;
	background: url(images/menu-down.svg) no-repeat;
	background-size: 1.2rem;
	content: "";
	filter: invert(100%);
	perspective: 600;
	transition: transform 0.3s ease-out;
}
header .menu-item {

	/* add bottom dimension to main menu items */
	padding-bottom: 2.5rem;
}
.sub-menu-layer {
	position: absolute;
	top: 7rem;
	width: 24rem;
	box-sizing: border-box;
	padding: 3rem;
	border: 1px solid hsl(0deg 0% 90.6%);
	border-color: var(--submenu-border-color);
	border-radius: 5px;
	margin-top: -99rem;
	margin-left: -13rem;
	background-color: hsl(0deg 0% 100% / 95%);
	background-color: var(--submenu-background-color);
	box-shadow: 0 3px 20px 0 hsl(0deg 0% 0% / 10%);
	box-shadow: var(--submenu-shadow);
	opacity: 0;
	text-align: center;
	transform: translateY(-1rem);
	transition: opacity 0.6s;
}
.sub-menu-layer .menu-item {
	width: 100%;
	padding: 1.5rem 0 0;
}
.sub-menu-layer .menu-item:first-child {
	padding: 0;
}
.menu>.menu-item>a:focus~.sub-menu,
.menu>.menu-item.open-menu>.sub-menu {
	z-index: 1;
	display: block;
	box-sizing: border-box;
	margin-top: 0;
	opacity: 1;
	transform: translateY(0);
}

/** Search **/
.search-input {
	width: 30px;
	padding: 3px 3px 3px 30px;
	border-width: 0;
	border-radius: 5px;
	appearance: none;
	background-color: transparent;
	background-image: var(--search-glyph);
	background-position: 6px 5.5px;
	background-repeat: no-repeat;
	background-size: 1.8rem;
	color: var(--inverse-text-color);
	font-size: 1.4rem;
	font-weight: 500;
	letter-spacing: -0.015rem;
	line-height: 1.5455;
	transition:
		200ms ease-out width,
		200ms ease-in background-color;
}
header .search-input {
	background-image: var(--search-glyph-light);
}
.search #site-nav ul.menu li:last-child {
	display: none;
}
.search-results main {
	padding-bottom: 2rem;
}
.search h1,
.search main form,
.search main .results-list {
	width: 66%;
	margin-right: auto;
	margin-left: auto;
}
.search h1 {
	margin-bottom: 0.5rem;
	text-align: left;
}
.search .results-list li {
	margin-bottom: 3rem;
}
.search main .search-input {
	width: 100%;
	padding: 3px 3px 3px 30px;
	border: 1px solid hsl(0deg 0% 90.6%);
	border-color: var(--submenu-border-color);
	margin-bottom: 3rem;
	background-color: var(--search-input-background);
	background-image: var(--search-glyph);
	background-position: 6px;
	color: var(--text-color);
	font-size: 1.7rem;
	transition: none;
}
.search .results-list h2 {
	margin-bottom: 0.5rem;
	font-size: 2.1rem;
}
.search .results-list li p {
	opacity: 0.85;
}
header .search-input:focus,
header .search-input:not([value=""]) {
	width: 18rem;
	background-color: rgb(0 0 0 / 30%);
}